<section>
  <div class="container res-core">
    <h1 class="mt-90 mb-30 text-center">Explore Core Values</h1>
    <h4 class="text">Restoring Agency:</h4>
    <p class="text">
      Create an enabling environment for individuals and institutions to exercise choice and imagination.

    </p>
    <h4 class="text">Resolving for Scale:</h4>
    <p class="text">
      Engage with problems from multiple perspectives and improve the adoption of relevant solutions by all segments of
      society.

    </p>
    <h4 class="text">Catalysing Networks:
    </h4>
    <p class="text">
      Facilitate interactions between state, civil society and markets to leverage existing infrastructure (services and
      facilities).

    </p>
    <h4 class="text">Distributing ability to solve:
    </h4>
    <p class="text">
      Enhance the capabilities of diverse entities to respond quickly and directly with contextual solutions.

    </p>
    <h4 class="text">Inspiring Co-creation:
    </h4>
    <p class="text">
      Create an enabling environment for all actors to interact and collaborate in innovating relevant solutions.

    </p>
    <h4 class="text">Developing Public Goods:
    </h4>
    <p class="text">
      Make scarce resources (e.g., knowledge, expertise, data) abundant in an open and equitable manner.

    </p>
    <h4 class="text">Distributing value creation:
    </h4>
    <p class="text">
      Enable all actors of the society to create, share, as well as make use of the value produced.

    </p>
    <h4 class="text">Embracing rapid evolution:
    </h4>
    <p class="text">
      Retain flexibility to develop new capabilities for all entities by rapidly generalising specific solutions and
      innovations.

    </p>
    <h4 class="text">Demonstrating system leadership:
    </h4>
    <p class="text">
      Nurture a leadership ecosystem that anticipates and co-creates solutions based on a systemic view of the
      challenges.

    </p>
    <h4 class="text">Empowering with data:
    </h4>
    <p class="text">
      Help stakeholders use data to discover new problems to solve, or to make existing solutions more effective.

    </p>

  </div>

</section>