
<!-- Section #1
      This showcases the course details  -->
      <header class="showcase-header">
          <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <div class="row">
                <div class="col-sm-8 j-description text-left mt-3">
                  <section class="j-description text-white">
                    <h5 class="tagline text-left text-warning">"Write Once, Debug anywhere"</h5>
                    <h3 class="text-left j-heading text-white">{{courseInfo?.name}}</h3>
                    <i class="text-warning fas fa-star fa-lg"></i>
                    <i class="text-warning fas fa-star fa-lg"></i>
                    <i class="text-warning fas fa-star fa-lg"></i>
                    <i class="text-warning fas fa-star fa-lg"></i>
                    <i class="text-warning fas fa-star-half-alt fa-lg"> 2038 Reviews</i>
                    <br />
                    <br />
                    <p>
                      {{courseInfo?.description}}
                    </p>
                  </section>
                  <div class="row icon-section mt-3" style="color:white !important;">
                    <div class="col-sm-6 col-md-3">
                      <h4>22</h4>
                      <p> Hours</p>
                    </div>
                    <div class="col-sm-6 col-md-3">
                      <i class="fas fa-graduation-cap"></i>
                      <p> {{courseInfo?.organisation}}</p>
                    </div>
                    <!-- <div class="col-sm-6 col-md-3"> -->
                      <!-- <mat-icon style="font-size: 30px;" data-toggle="tooltip" data-placement="top" title="Users">person</mat-icon> -->
                      <!-- <p> {{totalParticipants}}</p> -->
                    <!-- </div> -->
                    <div class="col-sm-6 col-md-3">
                      <i class="fas fa-globe"></i>                    
                      <p> {{courseInfo?.language[0]}}</p>
                    </div>
                  </div>
  
                  <div class="row">
                      <a class="btn btn-outline-warning ml-3 mt-3" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                          View Batches
                        </a>
                  
                      <!-- <a href="/home" class="sunblogin">
                        <button  class="btn btn-outline-warning ml-3 mt-3">View Batches</button>
                      </a> -->
                  </div>
                </div>
                <div class="col-sm-4 text-left mt-4">
                  <img class="j-image" [src]='courseInfo?.appIcon' alt="Course-Image">
                </div>
              </div>
            </div>
          </div>
        </header>
  
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div>
          </div>
        <!-- Section #2
              This section is for detailed description
              Has Two subsections 1. Prerequisites 2. Contents  -->
        <section data-aos="fade-right" class="course-highlights-section container-fluid bg-light">
          <div class="container">
            <br />
            <h6 class="text-secondary mb-0 font-weight-bold">HIGHLIGHTS</h6>
            <h3 class="text-left section-headers">WHY ENROLL?</h3>
            <div class="row">
              <div class="col-md-4">
                <div class="card highlight-card" data-aos="fade-right">
                  <i class="fas fa-laptop fa-4x text-info text-center mt-1" aria-hidden="true"></i>
                  <div class="card-body text-center">
                    <h4 class="card-title " style="font-size: 2em;">CAREER-READY</h4>
                    <hr />
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's content.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card highlight-card" data-aos="fade-right">
                  <i class="fas fa-award fa-4x text-success text-center mt-1" aria-hidden="true"></i>
                  <div class="card-body text-center">
                    <h4 class="card-title" style="font-size: 2em;">TRENDING #3</h4>
                    <hr />
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's
                      content.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card highlight-card" data-aos="fade-right">
                  <i class="fas fa-users-cog fa-4x text-danger text-center mt-1" aria-hidden="true"></i>
                  <div class="card-body text-center">
                    <h4 class="card-title" style="font-size: 2em;     font-size: 2em;
                    width: 28vw;
                    margin-left: -3em;">GLOBAL COMMUNITY </h4>
                    <hr />
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's
                      content.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Section #4
              This section is for Preview/Sample video  -->
        <section class="container-fluid bg-secondary">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                <div class="col-md-6 ">
                    <h6 class="text-secondary text-left mb-0 font-weight-bold">ROADMAP</h6>
                      <h3 class="text-left section-headers mb-4">YOUR JOURNEY</h3>
                      <div>
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
              
                          </ul>
                          </div>
                          <div class="tab-content pt-3" id="myTabContent" style="height: 51vh;overflow-x: hidden;">
                            <div
                            class="tab-pane fade show active"
                            id="session"
                            role="tabpanel"
                            aria-labelledby="session-tab"
                          >
                          <table class="table table-striped">
                            <tbody *ngFor="let session of courseDetails">
                              <tr>
                                <th scope="row"><i class="fas fa-angle-right"></i></th>
                                <td>
                                  <div class="row">
                                    <div class="col-md-8">
                                      <h5>{{ session.name }}</h5>
                                      <div class="row">
                                        <div class="col-md-1 pl-4">
                                          <i class="fas fa-book"></i>
                                          <hr />
                                        </div>
                                        <div class="col-md-8 pl-3">
                                          Instructor {{ courseInfo?.creator }}
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-md-2  pl-5">
                                      <div class="row pl-4" (click)="fetchUrl(session)">
                                        <button
                                          class="play-icon mb-2"    
                                        >
                                          <i class="fas fa-2x fa-play-circle "></i>
                                        </button>
                                        <a> preview</a>
                                      </div>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                
                          </div>
                
                          <div
                            class="tab-pane fade"
                            id="resource"
                            role="tabpanel"
                            aria-labelledby="resource-tab"
                          >
                
                          <table class="table table-striped">
                            <tbody *ngFor="let resource of resources">
                              <tr>
                                <th scope="row"><i class="fas fa-angle-right"></i></th>
                                <td>
                                  <div class="row">
                                    <div class="col-md-8">
                                      <h5>{{ resource.name }}</h5>
                                      <div class="row">
                                        <div class="col-md-1 pl-4">
                                          <i class="fas fa-book"></i>
                                          <hr />
                                        </div>
                                        <div class="col-md-8 pl-3">
                                          Instructor {{ courseInfo?.creator }}
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-md-2  pl-5">
                                      <div class="row pl-4">
                                        <button
                                          class="play-icon mb-2 ml-2"    
                                        >
                                        <i
                                        (click)="fetchUrl(resource)"
                                        class="fas fa-2x fa-download download "
                                      ></i>                                      </button>
                                        <a> Download</a>
                                      </div>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          </div>
                          <div
                            class="tab-pane fade"
                            id="comments"
                            role="tabpanel"
                            aria-labelledby="comments-tab"
                          >
                            <div class="comments  text-right px-5">
                              <h4 class="text-left">Comment</h4>
                              <div>
                                <textarea
                                  rows="6"
                                  placeholder="Please share your feedback about this course or session here "
                                >
                                </textarea>
                              </div>
                              <button class="btn btn-primary my-2">Submit</button>
                            </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6" style="margin-top:5rem;" *ngIf="showPreview">
                    <iframe width="600" height="380" [src]='safeUrl' frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                    </div>
                </div>
  
                <div class="row">
                  <section class="contents-section container-fluid" data-aos="fade-right">
                    <h6 class="text-secondary text-left mb-0 font-weight-bold">FILES</h6>
                    <h3 class="text-left section-headers">MEDIA CONTENTS</h3>
                    <div class="row">
                      <div class="col-sm-2">
                        <i class="fa fa-play-circle fa-lg text-primary" aria-hidden="true"></i>
                        <h4 style="color:black !important;">5</h4>
                      </div>
                      <div class="col-sm-2">
                        <i class="fa fa-file-pdf-o fa-lg text-success" aria-hidden="true"></i>
                        <h4 style="color:black !important;">10</h4>
                      </div>
                      <div class="col-sm-2">
                        <i class="fa fa-code fa-lg text-danger" aria-hidden="true"></i>
                        <h4 style="color:black !important;">100</h4>
                      </div>
                      <div class="col-sm-2">
                        <i class="fa fa-clock-o fa-lg text-primary" aria-hidden="true"></i>
                        <h4 style="color:black !important;">36</h4>
                      </div>
                      <div class="col-sm-2">
                        <i class="fa fa-desktop fa-lg text-success" aria-hidden="true"></i>
                        <h4 style="color:black !important;">15</h4>
                      </div>
                      <div class="col-sm-2">
                        <i class="fa  fa-file-text fa-lg text-danger" aria-hidden="true"></i>
                        <h4 style="color:black !important;">28</h4>
                      </div>
                    </div>
                    <br />
                    <br />
                  </section>
                  <section class="pre-requisites-section container-fluid" data-aos="fade-right">
                    <h6 class="text-secondary text-left mb-0 font-weight-bold">NEED TO KNOW</h6>
                    <h3 class="text-left section-headers">PRE-REQUISITES</h3>
                    <div class="row">
                      <div class="col-sm-4 mt-2 mb-2">
                        <i class="fas fa-thumb-tack fa-lg text-primary" aria-hidden="true"></i>
                        <p>Sound knowledge about C and C++</p>
                      </div>
                      <div class="col-sm-4 mt-2 mb-2">
                        <i class="fas fa-thumb-tack fa-lg text-primary" aria-hidden="true"></i>
                        <p></p>Good Logic thinker
                      </div>
                      <div class="col-sm-4 mt-2 mb-2">
                        <i class="fas fa-thumb-tack fa-lg text-primary" aria-hidden="true"></i>
                        <p>Should be willing to have sleepless nights</p>
                      </div>
                      <div class="col-sm-4 mt-2 mb-2">
                        <i class="fas fa-thumb-tack fa-lg text-primary" aria-hidden="true"></i>
                        <p>Must embrace frustration</p>
                      </div>
  
                      <div class="col-sm-4 mt-2 mb-2">
                        <i class="fas fa-thumb-tack fa-lg text-primary" aria-hidden="true"></i>
                        <p>Loads of Coffee and Caffeine Tolerance</p>
                      </div>
                      <div class="col-sm-4 mt-2 mb-2">
                        <i class="fas fa-thumb-tack fa-lg text-primary" aria-hidden="true"></i>
                        <p>Objects are everything</p>
                      </div>
                    </div>
                  </section>
                </div>
              </div>
  
            </div>
          </div>
        </section>
   <router-outlet></router-outlet>