

@import url('https://fonts.googleapis.com/css?family=Open+Sans|PT+Sans');
@import '~bootstrap/dist/css/bootstrap.min.css';

.banner-font, .font-awesome-white, .banner-desc-font {
    color : white;
}

.banner-row {
    display: flex;
    height : 300px;
}
.bg-light{
    background: white !important;
}
.bg-secondary{
   background-color:  white !important;
}
section{
    padding: 3vh 0;
    overflow-x:hidden;
}

.icon {
    float: left;
}

.h3 {
    font-size: 3.5em;
}

[class^=fa-]{
    text-align: center;
}

.show {
    display: block;
}

.mb-20 {
    margin-bottom : 20px;
}

.white-bg {
    background-color: white !important;
    padding-left : 20%;
    padding-right: 15%;
    margin : auto;
}
.main-content-section {
    margin : 0;
    padding : 0;
}


textarea {
  resize: none;
  border-radius: 2em;
  width: 32vw;
}
textarea:focus {
  border: none;
}
ul{
    list-style-type: none;
}
.container-fluid{
    width: 100vw;
}

.play-icon {
  box-shadow: 0px 3px 5px black;
  border-radius: 18px;
  border-color: white;
  background:black;
  color: white;
}
.play-icon:focus {
outline: none;
}
.tab-bg{
  background: white;
  box-shadow: 0rem 1rem 0rem 1rem black;
  height: 2vh;
}

.white-bg .nav {
    width : 80%;
    margin : auto;
    text-align: center;
}

.nav-tabs .nav-item {
  background: white;
  width: 20%;
  text-align: center;
  color : black;
}
.nav-tabs .nav-item:hover{
  border: none;
}

.nav-tabs .nav-link.active {
  border-bottom: 2px solid black;;
}
.nav-tabs .nav-link {
  width : 100%;
  color: black;
  font-size: 17px;
}

.nav-tabs {
  width: 100%;
  border: none;
}

.white-bg > .nav {
    width : 100%;
    margin : 0;
}

.btn-primary{
  color: #fff;
  background-color: black;
  border-color: white;
  margin-left: -1rem;
}
.btn-primary:hover {
  background-color: black !important;
  outline: white;
}

@media screen and (min-width: 320px) {
    .j-description{
        color: black;
        font-size: 1rem;
    }
    .wrapper-section{
        padding:0;
    }
    .showcase-header{
        background: url('./images/3256657136926fa.jpg');
        background-size: cover;
        background-attachment: fixed;
        overflow:hidden;
        object-fit: contain;
    }
    .jumbotron{
        background-color: rgba(70, 142, 250, 0.3);
        padding: 1em 0;
        margin-bottom: 0;
        }
    .tagline{
        display: none;
    }

    .main-row{
        background-color: white;
    }
    h3{
        color: black;
        font-family: "PT Sans",sans-serif !important;
    }
    h4{
        font-family: "PT Sans",sans-serif !important;
    }
    .j-heading{
        font-size:3rem;
        margin: 2vh 0;
        text-transform: uppercase;
    }
    .row{
        padding:0;
    }
    .icon-section{
        display: none;
    }
    .icon-section-lg{
        display: none;
    }
    .display-lg{
        display: none;
    }
    .card{
        width: 18rem;
        border-radius:10px;
        padding: 1em 0;
        margin: 0 0 .5em 0;
    }
    .mentor-card{
        background:#fff;
        box-shadow:0px 2px 10px black;
        border-radius:10px;
        border-top: 2px solid orange;
        transition:0.5s;
    }
    .sneak-peak{
        display:none;
    }
    ::ng-deep .mat-step-header .mat-step-icon-selected {
        background-color: orange;
     }
    .card .box {
        text-align:center;
        padding:0.5em;
        box-sizing:border-box;
        width:100%;
    }
    .card .box .img {
        width:100px;
        height:100px;
        margin:0 auto;
        border-radius:50%;
        overflow:hidden;
    }
    .card .box .img img {
        width:100%;
        height:100%;
    }
    .card .box h2 {
        font-size:1.2em;
        color:#262626;
        margin:20px auto;
    }
    .card .box h2 span {
        font-size:0.8em;
        background:orange;
        color:#fff;
        display:inline-block;
        padding:4px 10px;
        border-radius:15px;
    }
    .card .box p {
        color:#262626;
    }
    .card .box span {
        display:inline-flex;
    }
    .card .box ul {
        margin:0;
        padding:0;
    }
    .card .box ul li {
        list-style:none;
        float:left;
    }
    .card .box ul li a {
        display:block;
        color:#aaa;
        margin:0 10px;
        font-size:20px;
        transition:0.5s;
        text-align:center;
    }
    .card .box ul li:hover a {
        color:orange;
        transform:rotateY(360deg);
    }
    .review-img{
        display: none;
    }
      .reviews{
        color:black;
      }
      .reviews-section{
          height: 60vh;
          overflow-y: scroll;
          overflow-x: hidden;
      }
      .wrapper{
          border-top: 2px solid orange;
          padding:1em 0;
      }
     .highlight-card{
        background:#fff !important;
        width: 20rem;
        border: 1px dotted white !important;
        border-radius: 0;
    }

    .card-row {
        width : 90%;
    }
    .content-card {
        width : 100%;
    }
}
@media screen and (min-width: 768px) {

    .content-card {
        margin-left : 5px;
    }
    
    .icon-section{
        display: flex;
    }
    .display-lg{
        display: block;
    }
    .course-preview-section{
        padding:0 5vw;
    }
    h3{
        margin-bottom: 5vh;
    }
    .card{
        width: 20rem;
    }
    .highlight-card{
        width: 20rem;
    }
    .mentor-card{
        width:18rem;
        margin: 0 auto;
    }
    .sneak-peak{
        display:flex;
    }
    .box .review-img{
        display: block;
        width:50px;
        height:50px;
        margin:0 auto;
        padding: 0 auto;
        border-radius:50%;
        overflow:hidden;
      }

      .box .review-img img {
        width:100%;
        height:100%;
      }

}
@media screen and (min-width: 1024px) {
    .j-image{
        width: 100%;
        height: 100%;
    }
    .icon-section-lg{
        display: flex;
    }

    .section-headers{
        font-size:2rem;
    }
    .tagline{
        display: block;
        font-size: 1.5rem;
    }
    .highlight-card{
        width: 20rem;
    }
    .mentor-card{
        width:18rem;
        margin: 0 auto;
    }

    .jumbotron{
        padding:1vh;
    }
}

.course-roadmap-section {
  overflow-y: unset;
  height: 75vh;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 0px;
}

.content-card {
    width : 25% !important;
    height : 40% !important;
    margin : 3vw;
    text-align: center;
    border-radius: 0;
    box-shadow: 7px 7px 23px 0px rgba(212,204,212,1);
}

.content-card i {
    font-size: 6em;
}


.skills-list {
    list-style-type: none;
    width : 80%;
    text-align: center;
    margin : auto;
    margin-top : 30px;

}

.skills-list-item {
    margin : 0;
    margin : auto;
    padding : 50px;
    min-width : 100%;
    border-radius: none;
    background-color: white;
    margin-bottom : 40px;
    box-shadow: 7px 7px 23px 0px rgba(212,204,212,1);
}

.iframe-container {
    overflow: hidden !important;
    border : none;
}


/*this is for banner only*/
body {
    width : 100% !important;
  }
  
  #main-content-section {
    width : 100% !important;
  }
  
  #main-content-section .row {
    width : 100%;
  }
  
  .banner {
    width : 100%;
    height : 300px;
    max-height : 300px;
    background : transparent !important;
  }
  
  .banner-main-row {
    height : 290px;
    padding : 30px 0 0 0;
  }
  
  .image-section {
    padding : 0;
    max-width : 50%;
    height: 100%;
    background: transparent !important;
  }
  
  .banner-content-section {
    float : inline-end;
  }
  
  .responsive-align-text {
    text-align: left;
  }
  
  img {
    width : 423px;
    height : 237px;
    padding : 0;
  }
  
  .course-name {
    font-size: 3em;
  }
  
  .banner-content-section {
    height : 100%;
  }
  
  .main-content-section {
    min-height: 500px;
    width : 100%;
  }
  
  .enroll-button {
    border-radius: 0;
    width : 150px;
    position : absolute;
    bottom : 0;
  }
  
  .enroll-button:hover {
    cursor: pointer;
  }
  
  
  @media screen and (max-width : 768px){
  
    .image-section {
      display : none;
    }
  
    .banner-main-row {
      height : 280px;
      padding : 0 !important;
    }
    .align-middle {
      text-align: center;
    }
  
    .banner-content-section {
      padding-top : 20px;
      margin : 0 !important;
      height : 290px;
    }
  
    .banner-font {
      font-size : 4em;
    }
  }
  
  @media screen and (max-width : 875px){
    .banner-content-section {
      margin-left : 30px;
    }
  }

  .content-card-title-button {
      text-align: left;
      width : 100%;
      border-radius: 0;
      cursor: pointer;
      color : black;
      background-color: white;
      border : 1px solid grey;
      margin : 0;
      box-shadow: 3px 3px 15px 0px rgba(212,204,212,1);
  }

  .content-card-title-button[aria-expanded="true"] {
      margin-bottom : 0;
  }

  .content-card-title-button[aria-expanded="false"] {
    margin-bottom : 5px;
}

.content-card-title-button:hover, .content-card-title-button:focus, .content-card-title-button:active  {
    color : black;
    background-color: white !important;
    outline: none !important;
}

.content-card-title-button:hover {
    border-color: none;
}

.content-card-title-button span {
    float: right;
}

  .collapse.show {
      margin-bottom: 10px;
  }

  .content-card-body {
      border-radius: 0;
      width : 100%;
      margin : 0;
      position : relative;
      left : 0;
      top : 0;
  }

  .content-card-body span {
      display: inline;
      position : relative;
      right : 0;
      top : 0;
  }
