.ui.styled.accordion, .ui.styled.accordion .accordion {
    background: inherit ;
}
.ui.styled.accordion .active.title {
    color: inherit ;
}
#course-content .ui.styled.accordion .active.title {
    background: #f0f0f0;
    color: black;
}
#title {
    width: 64% !important
}