.ui.styled.accordion, .ui.styled.accordion .accordion {
    background: inherit ;
}
.ui.styled.accordion .active.title {
    color: inherit ;
}
#course-content ng::deep .active.title {
    background: #F0F0F0;
}
