
 @import '~bootstrap/dist/css/bootstrap.min.css';
 @import url('https://fonts.googleapis.com/css?family=Open+Sans|PT+Sans');

.banner-font, .font-awesome-white, .banner-desc-font {
    color : white;
}

.banner-row {
    display: flex;
    height : 300px;
}
.jumbo-p {
  margin-top: 15px;
}


.icon {
  margin-left: 12rem;
  float: left;
}


.h3 {
    font-size: 3.5em;
}

[class^=fa-]{
    text-align: center;
}

.mb-20 {
    margin-bottom : 20px;
}
 a {
   color: black;
 }
 
 h5 {
  text-transform: capitalize;
}
 ul{
     list-style-type: none;
 }
 .container-fluid{
     width: 100vw;
 }

 #logoHeader {
    background: #451771; height: 78px;
   }

   #dashboardBtn {
    margin : 13px 20px 0 0;
    position: absolute;
    top : 0;
    right : 0;
    float : right;
    /* border-color: rgba(255,255,255,0.5); */
    z-index : 99999;
    border-radius: 50%;
    background: #CE1F99;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 2px 2px;
    float: left;
    margin-bottom: 1rem;
  }

  #sidebar {
    background: #242446 !important;
    color: white;
   }


 @media  (min-width: 320px) {

     .showcase-header{
         background: url('./images/3256657136926fa.jpg');
         background-size: cover;
         background-attachment: fixed;
         overflow:hidden;
         object-fit: contain;
     }

     .jumbotron{
         background-color: rgba(70, 142, 250, 0.3);
         padding: 1em 0;
         margin-bottom: 0;
         }

     h3{
         color: black;
         font-family: "PT Sans",sans-serif !important;
     }
     h4{
         font-family: "PT Sans",sans-serif !important;
     }
     .icon-section{
         display: none;
     }

     .display-lg{
         display: none;
     }


 }
 @media  (min-width: 768px) {


     .icon-section{
         display: flex;
     }

     h3{
         margin-bottom: 5vh;
     }

 
 }
 @media  (min-width: 1024px) {


     .section-headers{
         font-size:2rem;
     }


     .banner {
    width : 100%;
    height : 450px;
    max-height : 300px;
    background : transparent !important;
  }

  .banner-main-row {
    height : 420px;
    padding : 0 0 0 0;
  }
  
  .image-section {
    padding : 0;
    max-width : 50%;
    height: 100%;
    background: transparent !important;
  }

  .image-wrapper {
      margin : auto;
  }
  img {
    image-rendering: pixelated;
    image-rendering: -webkit-optimize-contrast;
  }

  .responsive-align-text {
    text-align: left;
  }

  
  .course-name {
    font-size: 3em;
  }
  
  .banner-content-section {
    height : 87%;
  }
  
 }
 
 
@media  (max-width : 768px){
 #dashboardBtn {
   margin : 13px 20px 0 0;
   position: absolute;
   top : 0;
   right : 0;
   float : right;
   /* border-color: rgba(255,255,255,0.5); */
   z-index : 99999;
   border-radius: 50%;
   background: #CE1F99;
   width: 40px;
   height: 40px;
   text-align: center;
   padding: 2px 2px;
   float: left;
   margin-bottom: 1rem;
 }
 #dashboardBtn {
    margin : 13px 20px 0 0;
    position: absolute;
    top : 0;
    right : 0;
    float : right;
    /* border-color: rgba(255,255,255,0.5); */
    z-index : 99999;
    border-radius: 50%;
    background: #CE1F99;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 2px 2px;
    float: left;
    margin-bottom: 1rem;
  }

 #dashboardBtn:hover, #dashboardBtn:focus {
  /* width: 50px;
  height: 60px; */
 }
 #logoHeader {
  background: #451771; height: 78px;
 }
 #sidebar {
  background: #242446 !important;
  color: white;
 }

 .content-player-container {
   z-index : 999;
   position : fixed;
   margin : 0;
   top : 0;
   left : 0;
   height : 100vh;
   width : 100vw;
   background-color:rgba(0,0,0,1);
   overflow-y: scroll;
 }

 .video-player-wrapper {
  width : 100%;
  margin : 0;
  padding :0 0 0 5px;
 }

 .playlist-area {
   max-height: 100vh;
   overflow-y: auto;
   padding-right : 0;
 }

 .tab-view {
  color : black;
  background-color: white;
  width : 100%;
  max-height : 40px;
  border-radius: 0;
  margin : 0;
  margin : auto;
  text-align: center;
  overflow-y : hidden;
}

.tab-view  ul {
  color : black;
  background-color: white;
  width : 100%;
}

.tab-view ul li,.tab-view ul li:hover  {
  background-color: white;
  height : 100%;
  margin-bottom : 3px;
  width : 15%;
  border-radius: none;
  text-decoration : none;
  color : black;
}

.tab-view ul li a {
  text-decoration : none;
  color : black;
}

.nav-item .nav-link {
  border-radius : 0;
}

.tab-view  .nav-item .nav-link.active.show,.nav-pills .nav-link.active {
  background-color: white;
  color : black;
  border-bottom : 4px solid black;
}


@media screen and (max-width : 768px){
  
    .image-section {
      display : none;
    }
  
    .banner-main-row {
      height : 280px;
      padding : 0 !important;
    }

    .banner-content-section {
      padding-top : 20px;
      margin : 0 !important;
      height : 290px;
    }
  
    .banner-font {
      font-size : 4em;
    }

  }



/* Product detail page css */

.modal-height {
    /* margin-top: -19em; */
    color: white;
    background: black;
}
#app-player-collection-renderer {
    color: white;
    font-size: 18px;
}
.click-notify-xurl {
    position: absolute;
    z-index: 999; 
    top: 25%; 
    left: 34%;
}
.ui.button.right.floated{
    text-align: right;
}
.ui.button.left.floated{
    text-align: left;
}
.jumbotron {
    height: 30em;
    background: #451771;
    color: white;
    position: relative;
}
.btn-primary {
    color: black;
    background-color: #FFFDCB;
    padding: 0.5em 2.3em;
    border-radius: 21px;
    box-shadow: 0px 3px 5px black;
    border-color: #FFFDCB;
}
.btn-primary:hover {
    color: black;
    background-color: #FFFDCB;
    box-shadow: 0px 3px 5px black;
    padding: 0.5em 2.3em;
    border-color: #FFFDCB;
}
.button, .button:hover {
    margin: 7em 0em 0em -5em;
    border-color: #FFFDCB;

}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    color: black;
    background-color: #FFFDCB;  
    box-shadow: 0px 3px 5px black !important;
    padding: 0.5em 2.3em;
    border-color: #FFFDCB;
}
.image {
    border-radius: 0px;
    width: 16em;
    height: 14em;
 }
.basicpreview {
    background: black;
    color: white;
}
.profile {
    height: 4em;
    border-radius: 100%;
    width: 4em;
}
.icon1 {
    background: #D2FCBF;
    color: white;
}
.icon2 {
    background: #FFFDCB;
    color: red;
}
.icon3 {
    background: #FFCE9E;
    color: blue;
}
.icon4 {
    background: #E9E9E9;
}
.circle {
    position: absolute;
    height: 4.3em;
    width: 4.3em;
    border-radius: 50%;
    left: 46%;
    margin-left: -21px;
    top: -29px;
    padding: 1.05em;
}
.play {

    position: absolute;
    transform: translate(-30%, -50%);
    color: white;
    align-self: center;
    cursor: pointer;
 }
 .preview-video {

    height: 28em;
    width: 19.9em;
    top: -14em;
    cursor: pointer;
 }
.preview-video .overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    padding: 3.22em;
    border-radius: 50%;
    align-self: center;
 
}
.course-card {
    width: 12em;
    height: 11em;
    box-shadow: 0px 3px 12px -5px #a09b9b;
    background: white;
    border-radius: 5px;
}
.video {
    height: 49%;
}
.preview {
    position: absolute;
    top: 1.5em;
    color: white;
    font-size: 18px;
    box-shadow: inset 1em -8em 4em -4em black;
    left: 0em;
    right: 0em;
    padding-top: 6em;
}
.course-details {
    position: absolute;
    top: 29em;
}
.circle1 {
    background: #D0F8BD;
    width: 19%;
    height: 4em;
    border-radius: 50%;
    opacity: 0.7;
    position: absolute;
    top: 18.5em;
    left: 13em;
}
.circle2 {
    background: #A8AAE5;
    width: 16%;
    height: 3.6em;
    border-radius: 50%;
    opacity: 0.6;
    position: absolute;
    top: 21em;
    left: 12em;
}
.circle3 {
    background: #93C8E8;
    width: 7%;
    height: 1.5em;
    border-radius: 50%;
    opacity: 0.7;
    position: absolute;
    top: 19em;
    left: 16em;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: black;
    font-size: 18px;
    border-bottom: 5px solid #451771;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-bottom: 5px solid #451771;
}
.nav-tabs .nav-link {
    color: black;
    font-size: 18px;
    border-top: 0;
    border-left: 0;
    border-right: 0;   
}
.nav-tabs {
    border-bottom: none;
}
.courseStructureDesc {
    font-size: 18px
}
.readmore {
    position: absolute;
    background: rgba(255, 252, 252, 0.5);
    color: #805FE5;
    padding: 1em;
    text-align: center;
    left: 0em;
    top: auto;
    right: 0em;
    font-size: 1em;
}
.readless {
    position: absolute;
    background: rgba(255, 252, 252, 0.5);
    padding: 1em;
    text-align: center;
    left: 0em;
    top: auto;
    right: 0em;
    font-size: 1em;
    color: #805FE5;

}
.course-content {
top: auto;
padding:2em;
border-radius: 4px; 
margin-bottom: 2em;
}
.content {
    margin-top : 0;
}

.mobile-view {
    display: flex;
    width: auto;
    overflow-x: scroll;
   
}
.mobile-view::-webkit-scrollbar-thumb {
    background: #451771;
    width: 3rem !important;
 }
 .mobile-view::-webkit-scrollbar {
    width: 5px;
    height: 8px;
}

   .card-title {
    text-shadow: 1px 0px black;
    font-size: 18px;
}

@media (min-width:320px) and(max-width:980px) {
.preview-video {
    height: 9.9em;
    top: 8em;
    width: auto;
    left: 10em;
}
.remove {
    display: none !important;
}
.preview{
    font-size: 16px;
    padding-top: 6em;
}
.image {
    width: 13em;
    height: 10em;
}
.jumbotron {
    height: 35em;
}
.modal-height {
margin-top:-7em; 
}
.video {
    height: unset;
}
}
