<div *ngIf="userEnrolledBatch else previewCourse">
    <header class="showcase-header">
        <div class="jumbotron jumbotron-fluid course-image">
            <div class="container-fluid banner">
                <div class="row banner-main-row">
                  <div class="col-xs-12 col-sm-12 col-md-5 image-section">
                    <img class="float-right" [src]='courseInfo?.appIcon' alt="course-image" width="300px" height="270px">
                    </div>
                  <div class="col-xs-12 col-sm-12 col-md-5 offset-md-1 banner-content-section float-right white-text">
                    <br/>
                    <h3 class="h3 responsive-align-text course-name banner-font">{{courseInfo?.name || 'NA'}}</h3>
                    <h5 class="banner-content-description banner-desc-font" *ngIf="!readMore">{{ courseHierarchy.description | slice:0:200 }}&nbsp;
                      <span class="ui cardsKnowMore mouse-pointer" *ngIf="courseHierarchy.description && courseHierarchy.description.length > 200 && readMore === false"
                                      (click)="readMore = !readMore;">{{resourceService.frmelmnts.lbl.readmore}}
                                    </span></h5>
                    <h5 *ngIf="readMore" class="banner-content-description banner-desc-font" style="font-size: 14px !important;">{{ courseHierarchy.description}}&nbsp;
                      <span class="ui cardsKnowMore mouse-pointer"(click)="readMore = false;">{{resourceService.frmelmnts.lbl.readless}}</span>
                    </h5>
                    <div class="row icon-section mt-3 font-awesome-white">
                        <div class="col-sm-6 col-md-3 text-align-center">
                          <h4 class="h3">{{courseInfo?.totalVideoDuration || '22'}}</h4>
                          <p> Hours</p>
                        </div>
                        <div class="col-sm-6 col-md-3 text-align-center">
                          <i class="fas fa-graduation-cap fa-3x"></i>
                          <p class ="jumbo-p"> {{courseInfo?.organisation || 'NA'}}</p>
                        </div>
                        <div class="col-sm-6 col-md-3 text-align-center">
                          <i class="fas fa-globe fa-3x"></i>
                          <p class ="jumbo-p"> {{courseInfo?.language[0] || 'English'}}</p>
                        </div>
                      </div>
                    <!-- <button type="button" class="btn btn-success btn-lg enroll-button" href="/home">Enroll</button> -->
                  </div>
                </div>
              </div>
        </div>
      </header>
      <!--banner section ends-->
      <div class="row tab-view" *ngIf="!enableContentPlayer && !loader">
              <ul class="nav nav-pills justify-content-center">
                  <li class="nav-item">
                    <a class="nav-link active" data-toggle="pill" href="#course-content">Course Content</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#qa">Q&A</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#announcement">Announcements</a>
                  </li>
                </ul>
          </div>
        <div class="ui container" [appTelemetryStart]="telemetryCourseStart" [appTelemetryEnd]="telemetryCourseEndEvent">
          <div class="ui stackable grid mt-20">
            <div class="twelve wide column">
              <div *ngIf="!enableContentPlayer && !loader">
                <div class="content" [appTelemetryImpression]="telemetryCourseImpression" style="padding-top : 0;">
                  <div class="ui stackable grid">
                    <div class="row">
                      <div class='nine wide column container'>
                          <div class="tab-content">
                          <!--overview section-->
                            <div id="overview" class="tab-pane">
                              <div class="ui header container">
                                <span class="content courseStructureHeading">
                                  {{resourceService.frmelmnts.lbl.aboutthecourse}}
                                </span>
                                <div *ngIf="courseHierarchy.description" class="mt-10">
                                  <p *ngIf="!readMore" class="courseStructureDesc text-justify">
                                    {{ courseHierarchy.description | slice:0:200 }}&nbsp;
                                    <span class="ui cardsKnowMore mouse-pointer"
                                      *ngIf="courseHierarchy.description && courseHierarchy.description.length > 200 && readMore === false"
                                      (click)="readMore = !readMore;">{{resourceService.frmelmnts.lbl.readmore}}</span>
                                  </p>
                                  <p *ngIf="readMore" class="courseStructureDesc"> {{ courseHierarchy.description}}&nbsp;
                                    <span class="ui cardsKnowMore mouse-pointer"
                                      (click)="readMore = false;">{{resourceService.frmelmnts.lbl.readless}}</span>
                                  </p>
                                </div>
                              </div>
                            </div>
                            <!--course content section-->
                            <div class="tab-pane container active" id="course-content">
                              <div class="ui header">
                                <!-- <b class="content courseStructureHeading">
                                  {{resourceService.frmelmnts.lbl.coursestructure}}
                                </b> -->
                              </div>
                              <app-collection-tree
                                *ngIf="collectionTreeNodes.data && collectionTreeNodes.data.children && collectionTreeNodes.data.children.length >0 ; else dataCommingSoon"
                                (contentSelect)="navigateToContent($event)" [nodes]="collectionTreeNodes" [options]="collectionTreeOptions"
                                [contentStatus]="contentStatus"></app-collection-tree>
                              <ng-template #dataCommingSoon>
                                <div class="placeholder mt-40">
                                  <img src="{{'assets/images/datacomingsoon.png' | cdnprefixurl }}" />
                                  <h5 class="header placeholder-heading mb-5">{{resourceService?.messages?.stmsg?.m0121}}</h5>
                                  <p class="placeholder-content">{{resourceService?.messages?.stmsg?.m0122}}</p>
                                </div>
                              </ng-template>
                            </div>
                            <!--QA section-->
                            <div class="tab-pane fade container text-align-center" id="qa">
                              <p>No content available for QA at this moment.</p>
                            </div>
                            <!--announcements section-->
                            <div class="tab-pane fade container text-align-center" id="announcement">
                              <p>There aren't any announcements regarding this course yet.
                              </p>
                            </div>
                          </div>
                        <div class="ui fitted divider mb-20 mt-30"></div>
                      </div>
                      <div class='three wide column'>
                        <app-batch-details *ngIf="courseStatus !== 'Unlisted'" [courseId]="courseId" [batchId]="batchId"
                          [enrolledCourse]="enrolledCourse" [courseHierarchy]="courseHierarchy"
                          [courseProgressData]="courseProgressData"></app-batch-details>
                        <div *ngIf="enrolledCourse" class="my-15">
                          <div>
                            <br>
                            <span (click)="showNoteEditor=!showNoteEditor" class="cursor-pointer">
                              <i class="circular icon mr-10 plus"></i>&nbsp;{{resourceService.frmelmnts.lbl.addnote}}
                              <app-popup-editor *ngIf="showNoteEditor" [mode]="'create'"
                                [ids]="{contentId:contentId, courseId:courseId}" (exitModal)="showNoteEditor=false"
                                (createEventEmitter)="createEventEmitter($event)"></app-popup-editor>
                            </span>
                            <br>
                            <br>
                            <app-note-card [ids]="{contentId:contentId, courseId:courseId}" [createNoteData]="createNoteData">
                            </app-note-card>
                          </div>
                        </div>
                        <br>
                        <app-curriculum-card *ngIf="curriculum && curriculum.length > 0" [curriculum]="curriculum">
                        </app-curriculum-card>
                        <br>
                        <div class="courseupdate">
                          <p class="mb-5" *ngIf="courseHierarchy.creator">{{resourceService.frmelmnts.lbl.courseCreatedBy}}:
                            {{courseHierarchy.creator}}</p>
                          <p class="mb-5" *ngIf="courseHierarchy.orgDetails?.orgName">{{courseHierarchy.orgDetails.orgName}}
                          </p>
                          <p class="mb-5" *ngIf="courseHierarchy.orgDetails?.email">
                            <a
                              href="mailto:{{courseHierarchy.orgDetails?.email}}?subject={{courseHierarchy.name}}">{{courseHierarchy.orgDetails?.email}}</a>
                          </p>
                          <div class="ui divider"></div>
                          <p class="mb-5">{{resourceService.frmelmnts.lbl.coursecreatedon}}:
                            {{courseHierarchy.createdOn | dateFormat}}</p>
                          <p class="mb-5">{{resourceService.frmelmnts.lbl.updatedon}}:
                            {{courseHierarchy.lastUpdatedOn | dateFormat}}</p>
                          <!-- <a *ngIf="contributionsLength>0" popupTrigger="outsideClick" [popupPlacement]="'bottom left'" suiPopup popupText={{contributions}}>{{resourceService.frmelmnts.lbl.viewCredits}}</a> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="enableContentPlayer && !loader">
                <div class=" row content-player-container">
                  <!--playlist section-->
                  <div class="col-sm-4 col-md-12 col-lg-3 playlist-area d-none d-md-block">
                    <app-collection-tree
                      *ngIf="collectionTreeNodes.data && collectionTreeNodes.data.children && collectionTreeNodes.data.children.length >0 ; else dataCommingSoon"
                      (contentSelect)="navigateToContent($event)" [nodes]="collectionTreeNodes"
                      [options]="collectionTreeOptions" [contentStatus]="contentStatus"></app-collection-tree>
                  </div>
                  <!--mobile view to represent video playlist, not working-->
                  <!--video player section-->
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9 video-player-wrapper">
                    <button class="btn btn-outline-light btn-lg" id="dashboardBtn" appTelemetryInteract
                      [telemetryInteractEdata]="closeContentIntractEdata" [telemetryInteractObject]="contentInteractObject"
                      (click)="closeContentPlayer()">Go To Dashboard</button>
                    <div class="video-player-wrapper" [appTelemetryImpression]="telemetryContentImpression">
                      This is the video wrapper
                      <app-player (contentProgressEvent)="contentProgressEvent($event)" class="content-player full-size"
                        [playerConfig]="playerConfig"></app-player>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="loader">
                <app-loader [data]="loaderMessage"></app-loader>
              </div>
              <div *ngIf="showError">
              </div>
            </div>
          </div>
        </div>
        <router-outlet></router-outlet>  
</div>
<ng-template #previewCourse>

    <header class="showcase-header">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 j-description text-left mt-3">
              <section class="j-description text-white">
                <h5 class="tagline text-left text-warning">"Write Once, Debug anywhere"</h5>
                <h3 class="text-left j-heading text-white">{{courseInfo?.name}}</h3>
                <i class="text-warning fas fa-star fa-lg"></i>
                <i class="text-warning fas fa-star fa-lg"></i>
                <i class="text-warning fas fa-star fa-lg"></i>
                <i class="text-warning fas fa-star fa-lg"></i>
                <i class="text-warning fas fa-star-half-alt fa-lg"> 2038 Reviews</i>
                <br />
                <br />
                <p>
                  {{courseInfo?.description}}
                </p>
              </section>
              <div class="row icon-section mt-3" style="color:white !important;">
                <div class="col-sm-6 col-md-3">
                  <h4>22</h4>
                  <p> Hours</p>
                </div>
                <div class="col-sm-6 col-md-3">
                  <i class="fas fa-graduation-cap"></i>
                  <p> {{courseInfo?.organisation}}</p>
                </div>
                <div class="col-sm-6 col-md-3">
                  <i class="fas fa-globe"></i>                    
                  <p> {{courseInfo?.language[0]}}</p>
                </div>
              </div>

              <div class="row">
                  <a class="btn btn-outline-warning ml-3 mt-3" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                      View Batches
                    </a>
              </div>
            </div>
            <div class="col-sm-4 text-left mt-4">
              <img class="j-image" [src]='courseInfo?.appIcon' alt="Course-Image">
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="collapse" id="collapseExample">
      <div class="row">
<div class="col-md-4"  *ngFor="let batch of batchDetails">
<app-batch-card [batchDetails]="batch" [courseId]="courseId" class="py-2" ></app-batch-card>
</div>        
</div>
</div>
    <!-- Section #2
          This section is for detailed description
          Has Two subsections 1. Prerequisites 2. Contents  -->
    <section data-aos="fade-right" class="course-highlights-section container-fluid bg-light">
      <div class="container">
        <br />
        <h6 class="text-secondary mb-0 font-weight-bold">HIGHLIGHTS</h6>
        <h3 class="text-left section-headers">WHY ENROLL?</h3>
        <div class="row">
          <div class="col-md-4">
            <div class="card highlight-card" data-aos="fade-right">
              <i class="fas fa-laptop fa-4x text-info text-center mt-1" aria-hidden="true"></i>
              <div class="card-body text-center">
                <h4 class="card-title " style="font-size: 2em;">CAREER-READY</h4>
                <hr />
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card highlight-card" data-aos="fade-right">
              <i class="fas fa-award fa-4x text-success text-center mt-1" aria-hidden="true"></i>
              <div class="card-body text-center">
                <h4 class="card-title" style="font-size: 2em;">TRENDING #3</h4>
                <hr />
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's
                  content.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card highlight-card" data-aos="fade-right">
              <i class="fas fa-users-cog fa-4x text-danger text-center mt-1" aria-hidden="true"></i>
              <div class="card-body text-center">
                <h4 class="card-title" style="font-size: 2em;     font-size: 2em;
                width: 28vw;
                margin-left: -3em;">GLOBAL COMMUNITY </h4>
                <hr />
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's
                  content.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Section #4
          This section is for Preview/Sample video  -->
    <section class="container-fluid bg-secondary">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
            <div class="col-md-6 ">
                <h6 class="text-secondary text-left mb-0 font-weight-bold">ROADMAP</h6>
                  <h3 class="text-left section-headers mb-4">YOUR JOURNEY</h3>
                  <div>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
             
                      </ul>
                      </div>
                      <div class="tab-content" id="myTabContent" style="height: 60vh;overflow-x: hidden;">
                        <div
                        class="tab-pane fade show active"
                        id="session"
                        role="tabpanel"
                        aria-labelledby="session-tab"
                      >
                      <table class="table table-striped">
                        <tbody *ngFor="let session of courseDetails">
                          <tr>
                            <th scope="row"><i class="fas fa-angle-right"></i></th>
                            <td>
                              <div class="row">
                                <div class="col-md-8">
                                  <h5>{{ session.name }}</h5>
                                  <div class="row bottom-height">
                                    <div class="col-md-1 pl-4">
                                      <i class="fas fa-book"></i>
                                      <hr />
                                    </div>
                                    <div class="col-md-8 pl-3">
                                      Instructor {{ courseInfo?.creator }}
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-2  pl-5">
                                  <div class="row pl-4" (click)="fetchUrl(session)">
                                    <button
                                      class="play-icon mb-2"    
                                    >
                                      <i class="fas fa-2x fa-play-circle "></i>
                                    </button>
                                    <a> preview</a>
                                  </div>
                                </div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
            
                      </div>
            
                      <!-- <div
                        class="tab-pane fade"
                        id="resource"
                        role="tabpanel"
                        aria-labelledby="resource-tab"
                      >
            
                      <table class="table table-striped">
                        <tbody *ngFor="let resource of resources">
                          <tr>
                            <th scope="row"><i class="fas fa-angle-right"></i></th>
                            <td>
                              <div class="row">
                                <div class="col-md-8">
                                  <h5>{{ resource.name }}</h5>
                                  <div class="row">
                                    <div class="col-md-1 pl-4">
                                      <i class="fas fa-book"></i>
                                      <hr />
                                    </div>
                                    <div class="col-md-8 pl-3">
                                      Instructor {{ courseInfo?.creator }}
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-2  pl-5">
                                  <div class="row pl-4">
                                    <button
                                      class="play-icon mb-2 ml-2"    
                                    >
                                    <i
                                    (click)="fetchUrl(resource)"
                                    class="fas fa-2x fa-download download "
                                  ></i>                                      </button>
                                    <a> Download</a>
                                  </div>
                                </div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      </div>
                      <div
                        class="tab-pane fade"
                        id="comments"
                        role="tabpanel"
                        aria-labelledby="comments-tab"
                      >
                        <div class="comments  text-right px-5">
                          <h4 class="text-left">Comment</h4>
                          <div>
                            <textarea
                              rows="6"
                              placeholder="Please share your feedback about this course or session here "
                            >
                            </textarea>
                          </div>
                          <button class="btn btn-primary my-2">Submit</button>
                        </div>
                      </div> -->
                  </div>
              </div>
              <div class="col-md-6" style="margin-top:5rem;" *ngIf="showPreview">
                <iframe width="600" height="380" [src]='safeUrl' frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
                </div>
            </div>

       
            <div class="row">
                <section class="contents-section container-fluid" data-aos="fade-right">
                  <h6 class="text-secondary text-left mb-0 font-weight-bold">FILES</h6>
                  <h3 class="text-left section-headers">MEDIA CONTENTS</h3>
                  <div class="row" style="font-size:17px">
                    <div class="col-sm-4 text-center pt-3 media-pre" >
                      <i class="fa fa-play-circle fa-lg text-primary" aria-hidden="true"></i>
                      <h4 style="color:black !important;">5</h4>
                    </div>
                    <div class="col-sm-4 text-center pt-3 media"  >
                   <div class="row icon">
                    <i class="fa fa-file-pdf-o fa-lg text-success" aria-hidden="true"></i>
                   </div>
                   <div class="row heading">
                    <h4>10</h4>
                   </div>
                    </div>
                    <div class="col-sm-4 text-center pt-3 media-pre" >
                      <i class="fa fa-code fa-lg text-danger" aria-hidden="true"></i>
                      <h4 style="color:black !important;">100</h4>
                    </div>
                    <div class="col-sm-4 text-center pt-3 media" >
                  <div class="row icon">
                    <i class="fa fa-clock-o fa-lg text-primary" aria-hidden="true"></i>
                  </div>
                  <div class="row heading">
                    <h4 >36</h4>
                  </div>
                    </div>
                    <div class="col-sm-4 text-center pt-3 media-pre" >
                      <i class="fa fa-desktop fa-lg text-success" aria-hidden="true"></i>
                      <h4 style="color:black !important;">15</h4>
                    </div>
                    <div class="col-sm-4 text-center pt-3 media" >
                     <div class="row icon">
                      <i class="fa  fa-file-text fa-lg text-danger" aria-hidden="true"></i>
                     </div>
                     <div class="row heading">
                      <h4 >28</h4>
                     </div>
                    </div>
                  </div>
                  <br />
                  <br />
                </section>
                <section class="pre-requisites-section container-fluid" data-aos="fade-right">
                  <h6 class="text-secondary text-left mb-0 font-weight-bold">NEED TO KNOW</h6>
                  <h3 class="text-left section-headers">PRE-REQUISITES</h3>
                  <div class="row" style="font-size: 17px">
                    <div class="col-sm-4 text-center pt-3 media"  >
                      <i class="fas fa-thumb-tack fa-lg text-primary pt-2 pr-2" aria-hidden="true"></i>
                      <p>Sound knowledge about C and C++</p>
                    </div>
                    <div class="col-sm-4 text-center pt-3 media-pre" >
                      <div class="row">
                        <div class="col-md-1">
                          <i class="fas fa-thumb-tack fa-lg text-primary" aria-hidden="true"></i>
                        </div>
                        <div class="col para">
                          <p>Good Logic thinker</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4 text-center pt-3 media" >
                      <i class="fas fa-thumb-tack fa-lg text-primary pr-2 pt-2" aria-hidden="true"></i>
                      <p>Should be willing to have sleepless nights</p>
                    </div>
                    <div class="col-sm-4 text-center pt-3 media-pre" >
                    <div class="row">
                      <div class="col-md-1"> 
                        <i class="fas fa-thumb-tack fa-lg text-primary" aria-hidden="true"></i>
                      </div>
                      <div class="col para">
                        <p >Must embrace frustration</p>
                      </div>
                    </div>
                    </div>
  
                    <div class="col-sm-4 text-center pt-3 media" >
                      <i class="fas fa-thumb-tack fa-lg text-primary pr-2 pt-2" aria-hidden="true"></i>
                      <p>Loads of Coffee and Caffeine Tolerance</p>
                    </div>
                    <div class="col-sm-4 text-center pt-3 media-pre">
                   <div class="row">
                     <div class="col-md-1">
                        <i class="fas fa-thumb-tack fa-lg text-primary" aria-hidden="true"></i>
                     </div>
                     <div class="col para">
                        <p>Objects are everything</p>
                     </div>
                   </div>
                    </div>
                  </div>
                </section>
              </div>
          </div>

        </div>
      </div>
    </section>

   
  
    <router-outlet></router-outlet>
</ng-template>