
 @import '~bootstrap/dist/css/bootstrap.min.css';
 @import url('https://fonts.googleapis.com/css?family=Open+Sans|PT+Sans');

.banner-font, .font-awesome-white, .banner-desc-font {
    color : white;
}

.banner-row {
    display: flex;
    height : 300px;
}
.jumbo-p {
  margin-top: 15px;
}
.para {
  margin-left: -5rem !important;
}
.heading {
  margin: 2rem 0rem auto;
  margin-left: -0.6rem !important;
  color:black !important;
}
.icon {
  margin-left: 12rem;
}
.media-pre {
  box-shadow: 0px 3px 5px #eee; 
  border: 1px solid #f2f2f2;
}
.media {
  box-shadow: 0px 3px 5px #eee;
  background:aliceblue;
}
.icon {
    float: left;
}

.h3 {
    font-size: 3.5em;
}

[class^=fa-]{
    text-align: center;
}

.mb-20 {
    margin-bottom : 20px;
}

 .course-consumption {
   box-shadow: inset 0rem 0rem 0rem -4rem lightslategrey;
  padding: 3rem !important;

 }
 .session-details {
   box-shadow: 0px 3px 5px;
  }
  /*
 ::-webkit-scrollbar {
   width: 1px !important;
 }

 ::-webkit-scrollbar-track {
   background: none;
 }

 ::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb:hover {
   background:none;
 } */
 a {
   color: black;
 }
 .btn-primary{
   color: #fff;
   background-color: black;
   border-color: black;
   margin-left: 1rem !important;
 }
 .btn-primary:hover {
   background-color: black !important;
   outline: black;
 }
 hr {
   width: 0rem;
   height: 1rem;
   border: 1px solid black;
   margin: -1rem 1.5rem;
 }
 h5 {
  text-transform: capitalize;
}
.bottom-height {
  margin-bottom: 0rem !important;
}
 .play-icon {
   box-shadow: 0px 3px 5px black;
    background: black;
    color: white;
    border-radius: 100%;
    width: 2vw;
    height: 4vh;
    padding: 0;
    border: 2px solid black;

 }
 .play-icon:focus {
 outline: none;
 }
 table tbody tr:nth-child(even) {
   background-color: lightgray !important;
 }
 .download:hover {
   cursor: pointer;
 }
 .polling-width:hover {
   cursor: not-allowed;
 }
 textarea {
   resize: none;
 }
 .nav-tabs .nav-link:hover {
   outline: none;
 }

 .course-description {
   font-size: 17px;
   font-family: sans-serif;
   margin-top: 2em;
 }


 img.blur {
 	-webkit-filter: blur(4px);
 	filter: blur(4px);
   filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='4');
 }
 .tab-bg{
   background: black;
   box-shadow: 0rem 1rem 0rem 1rem black;
   height: 2vh;
 }
 .nav-tabs .nav-item {
   background: black;
   width: 14vw;
   text-align: center;
   height: 6vh;
 }


 .nav-tabs .nav-link.active {
   border-top: 2px solid black;
 }
 /* p{
   max-height: 12vh;
   text-overflow: ellipsis;
   overflow: hidden;
 } */

 .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: black;
}

 .bg-light{
     background: white !important;
 }
 .bg-secondary{
    background-color:  white !important;
 }
 section{
     padding: 3vh 0;
     overflow-x:hidden;
 }
 textarea {
   resize: none;
   border-radius: 2em;
   width: 32vw;
 }
 textarea:focus {
   border: none;
 }
 ul{
     list-style-type: none;
 }
 .container-fluid{
     width: 100vw;
 }

 .tab-bg{
   background: black;
   box-shadow: 0rem 1rem 0rem 1rem black;
   height: 2vh;
 }
 .nav-tabs .nav-item {
   background: black;
   width: 12.5vw;
   text-align: center;
   height: 6vh;
 }
 .nav-tabs .nav-item:hover{
   border: none;
 }
 
 .nav-tabs .nav-link.active {
   border-top: 2px solid black;;
 }
 .nav-tabs .nav-link {
   color: white;
   font-size: 17px;
 }
 
 .nav-tabs {
   width: 56vw;
   border: none;
 }
 .btn-primary{
   color: #fff;
   background-color: black;
   border-color: white;
   margin-left: -1rem;
 }
 .btn-primary:hover {
   background-color: black !important;
   outline: white;
 }

 @media screen and (min-width: 320px) {
     .j-description{
         color: black;
         font-size: 1rem;
     }
     .wrapper-section{
         padding:0;
     }
     .showcase-header{
         background: url('./images/3256657136926fa.jpg');
         background-size: cover;
         background-attachment: fixed;
         overflow:hidden;
         object-fit: contain;
     }
     .jumbotron{
         background-color: rgba(70, 142, 250, 0.3);
         padding: 1em 0;
         margin-bottom: 0;
         }
     .tagline{
         display: none;
     }
 
     .j-image{
         width: 0;
         height: 0;
     }
     .main-row{
         background-color: white;
     }
     h3{
         color: black;
         font-family: "PT Sans",sans-serif !important;
     }
     h4{
         font-family: "PT Sans",sans-serif !important;
     }
     .j-heading{
         font-size:3rem;
         margin: 2vh 0;
         text-transform: uppercase;
     }
     .row{
         padding:0;
     }
     .icon-section{
         display: none;
     }
     .icon-section-lg{
         display: none;
     }
     .display-lg{
         display: none;
     }
     .card{
         width: 18rem;
         border-radius:10px;
         padding: 1em 0;
         margin: 0 0 .5em 0;
     }
     .mentor-card{
         background:#fff;
         box-shadow:0px 2px 10px black;
         border-radius:10px;
         border-top: 2px solid orange;
         transition:0.5s;
     }
     .sneak-peak{
         display:none;
     }
     ::ng-deep .mat-step-header .mat-step-icon-selected {
         background-color: orange;
      }
     .card .box {
         text-align:center;
         padding:0.5em;
         box-sizing:border-box;
         width:100%;
     }
     .card .box .img {
         width:100px;
         height:100px;
         margin:0 auto;
         border-radius:50%;
         overflow:hidden;
     }
     .card .box .img img {
         width:100%;
         height:100%;
     }
     .card .box h2 {
         font-size:1.2em;
         color:#262626;
         margin:20px auto;
     }
     .card .box h2 span {
         font-size:0.8em;
         background:orange;
         color:#fff;
         display:inline-block;
         padding:4px 10px;
         border-radius:15px;
     }
     .card .box p {
         color:#262626;
     }
     .card .box span {
         display:inline-flex;
     }
     .card .box ul {
         margin:0;
         padding:0;
     }
     .card .box ul li {
         list-style:none;
         float:left;
     }
     .card .box ul li a {
         display:block;
         color:#aaa;
         margin:0 10px;
         font-size:20px;
         transition:0.5s;
         text-align:center;
     }
     .card .box ul li:hover a {
         color:orange;
         transform:rotateY(360deg);
     }
     .review-img{
         display: none;
     }
       .reviews{
         color:black;
       }
       .reviews-section{
           height: 60vh;
           overflow-y: scroll;
           overflow-x: hidden;
       }
       .wrapper{
           border-top: 2px solid orange;
           padding:1em 0;
       }
      .highlight-card{
         background:#fff !important;
         width: 20rem;
         border: 1px dotted white !important;
         border-radius: 0;
     }
 }
 @media screen and (min-width: 768px) {

    img {
      margin-top : 13%;
    }
     .j-image{
         width: 25vw;
         height: 25vw;
     }
     .icon-section{
         display: flex;
     }
     .display-lg{
         display: block;
     }
     .course-preview-section{
         padding:0 5vw;
     }
     h3{
         margin-bottom: 5vh;
     }
     .card{
         width: 20rem;
     }
     .highlight-card{
         width: 20rem;
     }
     .mentor-card{
         width:18rem;
         margin: 0 auto;
     }
     .sneak-peak{
         display:flex;
     }
     .box .review-img{
         display: block;
         width:50px;
         height:50px;
         margin:0 auto;
         padding: 0 auto;
         border-radius:50%;
         overflow:hidden;
       }
 
       .box .review-img img {
         width:100%;
         height:100%;
       }
 
 }
 @media screen and (min-width: 1024px) {
     .j-image{
         width: 25vw;
         height: 25vw;
     }
     .icon-section-lg{
         display: flex;
     }
 
     .section-headers{
         font-size:2rem;
     }
     .tagline{
         display: block;
         font-size: 1.5rem;
     }
     .highlight-card{
         width: 20rem;
     }
     .mentor-card{
         width:18rem;
         margin: 0 auto;
     }
 
     .jumbotron{
         padding-bottom:5vh;
     }

     .banner {
    width : 100%;
    height : 450px;
    max-height : 300px;
    background : transparent !important;
  }

  .banner-main-row {
    height : 420px;
    padding : 0 0 0 0;
  }
  
  .image-section {
    padding : 0;
    max-width : 50%;
    height: 100%;
    background: transparent !important;
  }

  .responsive-align-text {
    text-align: left;
  }
  
  img {
    width : 423px;
    height : 237px;
    padding : 0;
    margin-top : 10%;
  }
  
  .course-name {
    font-size: 3em;
  }
  
  .banner-content-section {
    height : 87%;
  }
  
  .main-content-section {
    min-height: 500px;
    width : 100%;
  }
  
  .enroll-button {
    border-radius: 0;
    width : 150px;
    position : absolute;
    bottom : 0;
  }
  
  .enroll-button:hover {
    cursor: pointer;
  }
 }
 
 .course-roadmap-section {
   overflow-y: scroll;
   height: 75vh;
   scroll-behavior: smooth;
 }
 /* ::-webkit-scrollbar {
   width: 0px;
 } */

 .course-image {
   height : 400px;
 }
 
 #dashboardBtn {
   margin : 20px 20px 0 0;
   position: absolute;
   top : 0;
   right : 0;
   float : right;
   border-color: rgba(255,255,255,0.5);
   z-index : 99999;
 }

 #dashboardBtn:hover, #dashboardBtn:focus {
  background-color: black;
  border-color: rgba(0,0,0,1);
  color : grey;
 }

 .content-player-container {
   z-index : 999;
   position : fixed;
   margin : 0;
   top : 0;
   left : 0;
   height : 100vh;
   width : 100vw;
   background-color:rgba(0,0,0,1);
   overflow-y: scroll;
 }

 .video-player-wrapper {
  width : 100%;
  margin : 0;
  padding :0 0 0 5px;
 }

 .playlist-area {
   max-height: 100vh;
   overflow-y: auto;
   padding-right : 0;
 }

 .tab-view {
  color : black;
  background-color: white;
  width : 100%;
  max-height : 40px;
  border-radius: 0;
  margin : 0;
  margin : auto;
  text-align: center;
  overflow-y : hidden;
}

.tab-view  ul {
  color : black;
  background-color: white;
  width : 100%;
}

.tab-view ul li,.tab-view ul li:hover  {
  background-color: white;
  height : 100%;
  margin-bottom : 3px;
  width : 15%;
  border-radius: none;
  text-decoration : none;
  color : black;
}

.tab-view ul li a {
  text-decoration : none;
  color : black;
}

.nav-item .nav-link {
  border-radius : 0;
}

.tab-view  .nav-item .nav-link.active.show,.nav-pills .nav-link.active {
  background-color: white;
  color : black;
  border-bottom : 4px solid #7f60e5;
}


@media screen and (max-width : 768px){
  
    .image-section {
      display : none;
    }
  
    .banner-main-row {
      height : 280px;
      padding : 0 !important;
    }
    .align-middle {
      text-align: center;
    }
  
    .banner-content-section {
      padding-top : 20px;
      margin : 0 !important;
      height : 290px;
    }
  
    .banner-font {
      font-size : 4em;
    }

    .enroll-button {
      margin-top : 15% !important;
    }
  }

  #course-content {
    width : 75%;
    margin : auto;
  }

  .nav-item:hover, .nav-item:focus {
    color : black !important;
  }