<div *ngIf="userEnrolledBatch">
    <div class="card course-consumption">
        <div class="text-center"> <h2 style="font-family: fantasy; text-shadow: 0px 1px darkblue">{{courseTitle}}</h2></div>
        <div class="text-center">
           <h5  style="font-family: fantasy; text-shadow: 0px 1px darkblue"> Instructor {{creator}}</h5>
        </div>


<div class="row my-5">

<div class="col-md-4" style="box-shadow: 0px 3px 5px black">

  <section class="container">
    <a
    class="btn btn-primary "
    data-toggle="collapse"
    href="#collapseExample"
    role="button"
    aria-expanded="true"
    aria-controls="collapseExample"
    style="box-shadow: 0px 3px 5px 3px darkblue;"
  >
  <i class="fas fa-2x fa-bars"></i>
  </a>

  <div class="collapse show mt-3" id="collapseExample">
<div class="card" style="width: 27vw;
  left: -1rem;
  padding: 0rem 1rem 0rem 1rem;
  box-shadow:
  0px 3px 20px 1px lightslategrey;
">
<div class="row" *ngFor="let session of courseDetails">
        <div class="card" style="width: 28vw;box-shadow: inset 0rem 1rem 62rem 2rem #f1f1f1;padding: 0.5rem">
          <div class="card-body">

        <i class="fas fa-angle-right"></i>

      {{session.name}}

<div class="text-right" style="margin-top: -1rem">
  <button
  class="play-icon"
  (click)="fetchUrl(session)"
>
  <i class="fas fa-play-circle "></i>
</button>
</div>

</div>
</div>
    </div>
  </div>
  </div>
  </section>
</div>
<div class="col-md-8">
  <section class="course-player" id="preview">
    <iframe
      width="780"
      height="450"
      src=" https://www.youtube.com/embed/_JVzkvYRHiE"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
      *ngIf="showPromo"

    ></iframe>
    <iframe
      width="780"
      height="450"
      [src]="safeUrl"
      frameborder="0"
      *ngIf="!showPromo"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen

    ></iframe>
    <!-- <app-player
    (playerOnDestroyEvent)="playerOnDestroy($event)"
    (contentProgressEvent)="contentProgressEvent($event)"
    class="content-player"
    [playerConfig]="safeUrl"
  ></app-player> -->
  </section>
</div>
</div>
</div>
</div>

<div *ngIf="!userEnrolledBatch">

  <div class="jumbotron jumbotron-fluid bg-dark">
    <div class="jumbotron-background">
    </div>
    <div class="container text-white">
      <div class="card-heading pl-3">
        <div class="text-left"> <h1 style="font-family: fantasy; text-shadow: 0px 1px darkblue;color:darkblue">{{courseTitle}}</h1></div>
        <div class="text-left">
           <h5  style="font-family: fantasy; text-shadow: 0px 1px darkblue;color:darkblue;"> Instructor {{creator}}</h5>
        </div>
       </div>
      <div class="row">
        <div class="col-md-8 course-description"style="color: darkblue;">
         <div class="row pl-5">
            <p >
                {{courseDescription}}
                The University uses leading-edge technology in all its functions and activities,
                such as content development, teaching-learning pedagogies, testing & evaluation, self-learning, and university management.
                Technology is leveraged to improve teaching-learning process by innovating new pedagogies that match the requirements of individual learners
            </p>

         </div>
         <div class="row pl-4 py-3">
           <div class="col"><i class="fas fa-clock"></i> 24 Hours</div>
           <div class="col">
              <i class="fas fa-graduation-cap"></i>
              Organisation
            </div>
           <div class="col"><i class="fas fa-globe"></i>English</div>
           <div class="col"></div>
         </div>
        </div>
        <div class="col-md-4" style="margin-top: -5rem" id="#preview">
            <iframe
            width="350"
            height="300"
            src=" https://www.youtube.com/embed/_JVzkvYRHiE"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            *ngIf="showPromo"
          ></iframe>
          <iframe
            width="350"
            height="300"
            [src]="safeUrl"
            frameborder="0"
            *ngIf="!showPromo"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </div>
  <section class="session-list container">
    <div class="row">
      <div class="col-md-8 session-details">
      <div class="tab-bg">
        <ul class="nav nav-tabs" id="myTab" role="tablist">

          <li class="nav-item">
            <a
              class="nav-link active"
              id="session-tab"
              data-toggle="tab"
              href="#session"
              role="tab"
              aria-controls="session"
              aria-selected="true"
              >Session Plan</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="resource-tab"
              role="tab"
              data-toggle="tab"
              href="#resource"
              role="tab"
              aria-controls="resource"
              aria-selected="false"
              >Resources</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="batch-tab"
              role="tab"
              data-toggle="tab"
              href="#batches"
              aria-selected="false"
              (click)="getBatchDetails()"
              aria-controls="batches"
              style="padding-right: 0rem;"
              >Batch Details</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="comments-tab"
              data-toggle="tab"
              href="#comments"
              role="tab"
              aria-controls="comments"
              aria-selected="false"
              >Comments</a
            >
          </li>
        </ul>
      </div>
        <div class="tab-content pt-5" id="myTabContent">

          <div
            class="tab-pane fade show active"
            id="session"
            role="tabpanel"
            aria-labelledby="session-tab"
          >

            <table class="table table-striped">
              <tbody *ngFor="let session of courseDetails">
                <tr>
                  <th scope="row"><i class="fas fa-angle-right"></i></th>
                  <td>
                    <div class="row">
                      <div class="col-md-10">
                        <h5>{{ session.name }}</h5>
                        <div class="row">
                          <div class="col-md-1 pl-4">
                            <i class="fas fa-book"></i>
                            <hr />
                          </div>
                          <div class="col-md-8 pl-3">
                            Instructor {{ creator }}
                          </div>
                        </div>
                      </div>
                      <div class="col-md-2  pl-5">
                        <div class="row pl-4" (click)="fetchUrl(session)">
                          <button
                            class="play-icon mb-2"
                            [routerLink]="[
                              '/play/collection',
                              session.identifier
                            ]"
                            fragment="preview"
                          >
                            <i class="fas fa-2x fa-play-circle "></i>
                          </button>
                          <a> preview</a>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
          <div
            class="tab-pane fade"
            id="resource"
            role="tabpanel"
            aria-labelledby="resource-tab"
          >
            <table class="table table-striped">
              <tbody *ngFor="let resource of resources">
                <tr>
                  <th scope="row"><i class="fas fa-angle-right"></i></th>
                  <td>
                    <div class="row">
                      <div class="col-md-10">
                        <h5>{{ resource.name }}</h5>
                        <div class="row">
                          <div class="col-md-1 pl-4">
                            <i class="fas fa-book"></i>
                            <hr />
                          </div>
                          <div class="col-md-8 pl-3">
                            Instructor {{ creator }}
                          </div>
                        </div>
                      </div>
                      <div class="col-md-2 pt-2 pl-5">
                        <div class="row pl-4">
                          <i
                            (click)="fetchUrl(resource)"
                            class="fas fa-2x fa-download download "
                          ></i>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
          <div
          class="tab-pane fade"
          id="comments"
          role="tabpanel"
          aria-labelledby="comments-tab"
        >
          <div class="comments  text-right px-5">
            <h4 class="text-left">Comment</h4>
            <div class="card">
              <textarea
                rows="6"
                placeholder="Please share your feedback about this course or session here "
              >
              </textarea>
            </div>
            <button class="btn btn-primary my-2">Submit</button>
          </div>
        </div>
          <div
          class="tab-pane fade py-5"
          id="batches"
          role="tabpanel"
          aria-labelledby="batch-tab"
        >
        <div class="row">
        <div class="col-md-6 px-5 pb-4" *ngFor="let batch of batchDetails">
            <app-batch-card [batchDetails]="batch" [courseId]="courseId" class="py-2" ></app-batch-card>
        </div>
      </div>
        </div>
        </div>
      </div>
    </div>
  </section>
</div>
