<sui-modal [isClosable]="true" (dismissed)="goToCreate(); " [mustScroll]="true" #modal>
              <div class="card justify-content">
              
             <div class="card-body">
                <div class="card-title text-center mt-5">
                    <h2>Create Batch</h2>
                </div>
                <form
                class="form-width px-5 py-4"
              >
                <div class="form-group pb-3">
                  <label>Name</label>
                  <input
                    type="text"
                    class="form-control input"
                    placeholder="Name"
                    name="firstName"
                    [formControl]="name"
                    required
                    ngModel
                  />
                </div>
                <div class="form-group pb-3">
                  <label>Description</label>
                  <input
                    type="text"
                    class="form-control input"
                    placeholder="Description"
                    name="username"
                    [formControl]="description"
                    required
                    ngModel
                  />
                </div>
                <div class="row pb-4">
                  <div class="col-md-2" style="margin-right: -3rem">
                      <label>Batch-Type:</label>

                  </div>
                    <div class="col">
                      
                      <div class="form-check" >
                        <input
                          class="form-check-input input"
                          type="radio"
                          name="field-value"
                          id="email"
                          value="Open"

                          checked
                        />
                        <label class="form-check-label" for="email">
                         Open
                        </label>
                      </div>
                    </div>
 
                  </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group pb-3">
                            <label> Start Date</label>
                            <i class="far fa-calendar-alt pl-3"></i>
                            <input type="date" id="date" 
                            class="input"
                            name="startDate"
                            [formControl]="startDate"
                           
                            required
                            min="today"
                        >
                          </div>
                    </div>
                  <div class="col">
                
                        <div class="form-group pb-3">
                          <label>End Date</label>
                          <i class="far fa-calendar-alt pl-3"></i>
                          <input type="date" id="start" 
                          name="endDate"
                          class="input"
                          [formControl]="endDate"
                          required 


                        >
                        </div>
                  </div>
              
                </div>
              </form>
            </div>
                <div class="card-footer text-right">
                    <button type="submit" class="btn btn-primary signup-btn " (click)="createBatch()">Create Batch</button>
                </div>
             
           
              </div>
</sui-modal>