<!-- <footer class="footer" id="footer" *ngIf="showFooter" [class.applyCss]= "applyCss === true">
  <div class="ui container">
    <div class="ui grid stackable" [class.padding]= "applyCss === true">
      <div class="four wide column footerMenu">
        <ul class="p-0 m-0">
          <li class="mb-15">
            <a href="/verticals/profile-registry/">
              <!-- {{resourceService.frmelmnts?.lnk?.footerDikshaVerticals}} NIIT
            </a>
          </li>
          <li class="mb-15">
            <a href="/help/getting-started/explore-diksha/index.html">
              {{resourceService.frmelmnts?.lnk?.footerHelpCenter}}
            </a>
          </li>
          <li class="mb-15">
            <a href="/partners/">
              {{resourceService.frmelmnts?.lnk?.footerPartners}}
            </a>
          </li>
        </ul>
      </div>
      <div class="four wide column center aligned playStore">
        <!-- <label class="d-block mb-10">{{resourceService.frmelmnts?.lnk?.footerDIKSHAForMobile}}</label>
        <a class="d-block" href="https://play.google.com/store/apps/details?id=in.gov.diksha.app">
          <img class="playStore-img" src="/assets/images/google_playstore.png" alt="{{resourceService.frmelmnts?.lnk?.footerDIKSHAForMobile}}">
        </a> 
      </div>
      <div class="four wide column contantDetails">
        <!-- <label class="d-block mb-10">
          {{resourceService.frmelmnts?.lnk?.footerContact}}
        </label>
        <a class="d-block mb-30" href="mailto:diksha-support@ncte-India.org">
          diksha-support@ncte-india.org
        </a> 
        <label class="d-block">
          <a href="/term-of-use.html">
            {{resourceService.frmelmnts?.lnk?.footerTnC}}
          </a>
          <span>| &copy; {{date | date:'yyyy'}}, NIIT</span>
        </label>
      </div>
    </div>
  </div>
</footer>

 -->

 <!-- SOCIAL MEDIA SECTION
        css of social section is in footer.css -->
        <div class="row social">
            <p class="col-sm-12 col-md-6">{{resourceService.frmelmnts.lbl.SocialNetwork}}</p>
            <div class="col-sm-12 col-md-6 social-icons text-center">
                <i data-toggle="tooltip" data-placement="top" title="Instagram" class="fa fab fa-instagram"></i>
                <i data-toggle="tooltip" data-placement="top" title="Twitter" class="fa fab fa-twitter-square"></i>
              <i data-toggle="tooltip" data-placement="top" title="LinkedIn" class="fa fab fa-linkedin"></i>
              <i data-toggle="tooltip" data-placement="top" title="Instagram" class="fa fab fa-facebook-f"></i>
            </div>
        </div>
        <!-- CORPORATE CLIENTS SECTION END -->
    
        <!-- FOOTER SECTION -->
        <div class="footer"  [class.applyCss]= "applyCss === true">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 m-0">
                        <div class="image-section">
                            <img src="./assets/niit.png">
                            <h6 class="footer-details">
                                {{resourceService.frmelmnts.lbl.FooterMsg}}
                            </h6>
                        </div>
                      </div>
                    <div class="col-md-2 mb-4 text-left">
                        <h6 class="title">{{resourceService.frmelmnts.lbl.USEFULLINKS}}</h6>
                        <br>
                        <p class="links">{{resourceService.frmelmnts.lbl.AboutUs}}</p>
                        <p class="links">{{resourceService.frmelmnts.lbl.ContactUs}}</p>
                        <p class="links">{{resourceService.frmelmnts.lbl.Services}}</p>
                        <p class="links">{{resourceService.frmelmnts.lbl.blog}}</p>
                    </div>
                    <div class="col-md-2 text-left mb-4">
                        <h6 class="title">{{resourceService.frmelmnts.lbl.LINKS}}</h6>
                        <br>
                        <p class="links">{{resourceService.frmelmnts.lbl.Career}}</p>
                        <p class="links">{{resourceService.frmelmnts.lbl.Services}}</p>
                    </div>
                    <div class="col-md-3 text-left">
                        <h6 class="title">{{resourceService.frmelmnts.lbl.CONTACT}}</h6>
                        <br>
                        <span><i class="fa fas fa-envelope"></i><p class="d-inline links">&nbsp; info@niit.com</p></span>
                        <br>
                        <br>
                        <span><i class="fa fas fa-phone-volume"></i><p class="d-inline">&nbsp; 0124-758252</p></span>
                        <br>
                        <br>
                        <span><i class="fa fas fa-map-marker"></i><p class="d-inline">&nbsp; 122001</p></span>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <!-- FOOTER SECTION END -->
        <div class="sub-footer-3 text-center">
            <p class="sub-footer-3-text">{{resourceService.frmelmnts.lbl.Copyright}}</p>
        </div>
  