<!-- <footer class="footer" id="footer" *ngIf="showFooter" [class.applyCss]= "applyCss === true">
  <div class="ui container">
    <div class="ui grid stackable" [class.padding]= "applyCss === true">
      <div class="four wide column footerMenu">
        <ul class="p-0 m-0">
          <li class="mb-15">
            <a href="/verticals/profile-registry/">
              <!-- {{resourceService.frmelmnts?.lnk?.footerDikshaVerticals}} NIIT
            </a>
          </li>
          <li class="mb-15">
            <a href="/help/getting-started/explore-diksha/index.html">
              {{resourceService.frmelmnts?.lnk?.footerHelpCenter}}
            </a>
          </li>
          <li class="mb-15">
            <a href="/partners/">
              {{resourceService.frmelmnts?.lnk?.footerPartners}}
            </a>
          </li>
        </ul>
      </div>
      <div class="four wide column center aligned playStore">
        <!-- <label class="d-block mb-10">{{resourceService.frmelmnts?.lnk?.footerDIKSHAForMobile}}</label>
        <a class="d-block" href="https://play.google.com/store/apps/details?id=in.gov.diksha.app">
          <img class="playStore-img" src="/assets/images/google_playstore.png" alt="{{resourceService.frmelmnts?.lnk?.footerDIKSHAForMobile}}">
        </a> 
      </div>
      <div class="four wide column contantDetails">
        <!-- <label class="d-block mb-10">
          {{resourceService.frmelmnts?.lnk?.footerContact}}
        </label>
        <a class="d-block mb-30" href="mailto:diksha-support@ncte-India.org">
          diksha-support@ncte-india.org
        </a> 
        <label class="d-block">
          <a href="/term-of-use.html">
            {{resourceService.frmelmnts?.lnk?.footerTnC}}
          </a>
          <span>| &copy; {{date | date:'yyyy'}}, NIIT</span>
        </label>
      </div>
    </div>
  </div>
</footer>

 -->

 <!-- SOCIAL MEDIA SECTION
        css of social section is in footer.css -->
        <div class="row social">
            <p class="col-sm-12 col-md-6">Get connected with us on social network</p>
            <div class="col-sm-12 col-md-6 social-icons text-center">
                <i data-toggle="tooltip" data-placement="top" title="Instagram" class="fa fab fa-instagram"></i>
                <i data-toggle="tooltip" data-placement="top" title="Twitter" class="fa fab fa-twitter-square"></i>
              <i data-toggle="tooltip" data-placement="top" title="LinkedIn" class="fa fab fa-linkedin"></i>
              <i data-toggle="tooltip" data-placement="top" title="Instagram" class="fa fab fa-facebook-f"></i>
            </div>
        </div>
        <!-- CORPORATE CLIENTS SECTION END -->
    
        <!-- FOOTER SECTION -->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 m-0">
                        <!-- <div class="image-section mb-4">
                          <div class="image">
                              <img src="./assets/niit.png">
                          </div>
                            <h6 class="footer-details">
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                pariatur. Excepteur sint occaecat cupidatat non proident, sun
                            </h6>
                        </div> -->
                        <div class="image-section">
                            <img src="./assets/niit.png">
                            <h6 class="footer-details">
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                pariatur. Excepteur sint occaecat cupidatat non proident, sun
                            </h6>
                        </div>
                      </div>
                    <div class="col-md-2 text-center mb-4">
                        <h6 class="title">ABOUT</h6>
                        <br>
                        <p>About Us</p>
                        <p>Contact Us</p>
                        <p>Services</p>
                        <p>Blog</p>
                    </div>
                    <div class="col-md-2 text-center mb-4">
                        <h6 class="title">LINKS</h6>
                        <br>
                        <p>Career</p>
                        <p>Services</p>
                    </div>
                    <div class="col-md-3 text-center">
                        <h6 class="title">CONTACT</h6>
                        <br>
                        <i class="fa fas fa-envelope"></i><span><p>info@sunbird.org</p></span>
                        <i class="fa fas fa-phone-volume"></i><span><p>0124-758252</p></span>
                        <i class="fa fas fa-map-marker-alt"></i><span><p>122001</p></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- FOOTER SECTION END -->
        <div class="sub-footer-3 text-center">
            <p class="sub-footer-3-text">Copyright © 2019, All rights reserved.</p>
        </div>
  