<div class="card rectangle"
  *ngIf="data"
  (click)="onAction(data,data.action.onImage)"
  appTelemetryInteract
  [telemetryInteractObject]="{id:data.identifier,type:data.telemetryObjectType,ver:data.pkgVersion
  ? data.pkgVersion.toString():'1.0'}"
  [telemetryInteractEdata]="data.telemetryInteractEdata"
  tabindex="0"
  style="cursor: pointer">

  <!-- <div *ngIf="data.contentType==='Course'">
    <div class="circle text-center" style="background:#f0f9f5">
        <i class="fab fa-2x fa-discourse mt-4" style="color: green"></i>
        </div>
</div> -->
  <!-- <div *ngIf="data.contentType ==='TextBook'">
          <div class="circle text-center" style="background:#e3e3e3">
          <i class="fas fa-2x fa-book mt-4" style="color:lightcoral"></i>
          </div>
      </div> -->
  <!-- <div *ngIf="data.contentType !=='Course' && data.contentType!=='TextBook'">

      </div> -->
  <div class="card-header">
    <img *ngIf="data.showImage? false : true" src="{{data.appIcon ||
      'assets/images/book.png' | cdnprefixurl}}" alt="{{data.name}}">
  </div>
  <div class="card-body">
    <h5 class="title mt-0" style="height: 7vh;
      max-height: 7vh;">
      {{data.name | slice:0:40 }}
      <span *ngIf="data.name && data.name.length >= 40">...</span>
    </h5>
    <h6 class="course-description">
      {{data.description}}
    </h6>
    <h6 class="author">Author name</h6>
    <div class="stars-section">
      <sui-rating class="star customstar" [(ngModel)]="rating" [maximum]="5"></sui-rating><p
        class="d-inline" style="font-size:10px;">{{rating}} (138,560)</p><br>
    </div>
    <div class="d-flex justify-content-center lecture-timeline-section">
      <p class="d-inline">
        <i class="flex-fill fa fa-play-circle-o"></i> 240 lectures
      </p>
      <span class="d-inline ml-2 mr-2 mt-1">|</span>
      <p class="d-inline">
        <i class="flex-fill fa fas fa-clock"></i> 2 weeks
      </p>
    </div>
    <!-- <div class="creator ellipsis">
                {{data.orgDetails?.orgName}}
              </div> -->
    <div class="row">
      <div class="col text-left price">
        1500/-
      </div>
      <div class="col text-right">
        <h6 class="course-type-indicator">{{data?.contentType || ' NA '}}</h6>
      </div>
    </div>
    <!-- <div *ngIf="data.maxCount && data.progress > 0" class="mt-5">
            <sui-progress class="ui progress" [value]="data.progress" [maximum]="data.maxCount" ></sui-progress>
          </div> -->
  </div>
</div>
