<div class="card rectangle"
*ngIf="data"
(click)="onAction(data,data.action.onImage)"
appTelemetryInteract
[telemetryInteractObject]="{id:data.identifier,type:data.telemetryObjectType,ver:data.pkgVersion ? data.pkgVersion.toString():'1.0'}"
[telemetryInteractEdata]="data.telemetryInteractEdata"
tabindex="0"
style= "cursor: pointer"
>
   
<div *ngIf="data.contentType==='Course'">
    <div class="circle text-center" style="background:#f0f9f5">
        <i class="fab fa-2x fa-discourse mt-4" style="color: green"></i>
        </div>
</div>
      <div *ngIf="data.contentType ==='TextBook'">
          <div class="circle text-center" style="background:#e3e3e3">
          <i class="fas fa-2x fa-book mt-4" style="color:lightcoral"></i>
          </div>
      </div>
      <div *ngIf="data.contentType !=='Course' && data.contentType!=='TextBook'">

      </div>
    <div class="card-header">
      <img *ngIf="data.showImage? false : true" src="{{data.appIcon || 'assets/images/book.png' | cdnprefixurl}}" alt="{{data.name}}">
    </div>
    <div class="card-body">
            <h5 class="title my-3" style="height: 7vh;
            max-height: 7vh;">
                {{data.name | slice:0:40 }}
                <span *ngIf="data.name && data.name.length >= 40">...</span>
                <div style="color: #FFCC4C;font-size: 12px">
                <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>       
                    <i class="fas fa-star-half-alt"></i>
                    <i class="far fa-star"></i>
                 </div>
              </h5>
          <h6 class="course-description">
            {{data.description}}
          </h6>
              <div class="creator ellipsis">
                {{data.orgDetails?.orgName}}
              </div>
        <div class="row">
           <div class="col text-right">
       
             <div>
                <hr>
                <div class="text">
                    Free
                 </div>
              </div>
           </div>
         </div>
         <div *ngIf="data.maxCount && data.progress > 0" class="mt-5">
            <sui-progress class="ui progress" [value]="data.progress" [maximum]="data.maxCount" ></sui-progress>
          </div>
        </div>
  </div>

