<section [appTelemetryImpression]="telemetryImpression">
  <div class="jumbotron jumbotron-fluid cimage" style="height:16rem">
    <div class="container">
      <div class="row mb-4">
        <div class="col-md-12">
          <!-- <div class="text-center d-flex justify-content-center px-4 my-5">
            <p class="partnerTitle mb-24">Our Collaborators</p>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <p class="container partnerBody">
    Organizations and institutions who are practitioners of Societal Platform approach and contributing assets for public use.
    </p>
  <div class="container container-fluid partnerContainer">
    <div class="partnerContainerBody">
      <div class="row imageRow">
        <div class="box"><a href="https://www.aastar.org/" target="_blank"><img src="../../../../../assets/space/AastarLogo.png" class="p-0"></a></div>
        <div class="box"><a href="https://www.echoindia.in/" target="_blank"><img src="../../../../../assets/space/ECHOlogo.jpg"></a></div>
        <div class="box"><a href=" https://www.egovernments.org/" target="_blank"><img src="../../../../../assets/space/eGovlogo.png" class="p-0"></a></div>
        <div class="box"><a href="https://ekstep.in/" target="_blank"><img src="../../../../../assets/space/EkStepLogo.svg" class="p-0"></a></div>
        <div class="box"><a href="https://shikshalokam.org/" target="_blank"><img src="../../../../../assets/space/ShikshaLokamLogo.png"></a></div>
        <!-- <div class="box"><a href="http://arghyam.org/" target="_blank"><img src="../../../../../assets/space/arghyam.png"></a></div> -->
        <!-- <div class="box"><a href="https://avantifinance.in/" target="_blank"><img src="../../../../../assets/space/avanti.png"></a></div> -->
      </div>
      <!-- <div class="box1 text-center mt-90"><a href="https://www.socion.io/" target="_blank"><img src="../../../../../assets/space/Socion.png" class="p-0"></a></div> -->
    </div>
    <!-- <div class="allContributions">
      <h3 class="contributionText">
        To view a list of all our collaborators, click <span> <a class="item " (click)="openSm(content)">here</a></span>
      </h3>
    </div> -->


    <ng-template #content let-d="dismiss">
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true" class="close mr-10 mb-10">&times;</span>
      </button>
      <div class="listContainer">
        <ul id="#ul1" type="none">
          <li>Akshara Foundation</li>
          <li>Alohomora Foundation</li>
          <li>Arghyam</li>
          <li>Aspire Foundation</li>
          <li>Central Square Foundation</li>
          <li>DIKSHA</li>
          <li>eDreams</li>
          <li>Education Initiatives</li>
          <li>Enlearn</li>
          <li>EY - Ernst and Young</li>
          <li>Framewirk</li>
          <li>Glen World</li>
        </ul>
        <div class="hl"></div>
        <ul id="#ul2" type="none">
          <li>GoodWork Labs</li>
          <li>Gyan Prakash Foundation</li>
          <li>Hit Shiksha Samiti</li>
          <li>i - Saksham</li>
          <li>Infosys</li>
          <li>Khan Academy</li>
          <li>LeapForWord</li>
          <li>Madhi Foundation</li>
          <li>Mantra Labs</li>
          <li>Mantra 4 Change</li>
          <li>NIIT</li>
          <li>Optit</li>
        </ul>
        <div class="hl"></div>
        <ul id="#ul3" type="none">
          <li>PhraseApp</li>
          <li>Price Waterhouse Cooper</li>
          <li>Qualitrix</li>
          <li>Save Indian Farmers</li>
          <li>Shikshalokam</li>
          <li>Tarento</li>
          <li>Tata Trusts</li>
          <li>Tekdi</li>
          <li>TIBIL</li>
          <li>Turtle Bowl</li>
          <li>Zool</li>
        </ul>
      </div>
    </ng-template>
  </div>
</section>