<footer class="footers">
    <div class="ui container ">
        <div class="ui grid">

        <div class="two wide computer only column">
        </div>

        <div class="three wide computer four wide tablet twelve wide mobile column" id="email">
            <ul>
                <li><a href="#">Email:</a> <a href="mailto:info@ekstep.org">info@ekstep.org</a></li>
            </ul>
        </div>

        <div class="two wide computer four wide tablet twelve wide mobile column sideline">
            <ul>
                <li><a href="privacy-policy.html">Privacy Policy</a></li>
            </ul>
        </div>

        <div class="three wide computer four wide tablet twelve wide mobile column sideline">
            <ul>
                <li>
                    <p><strong>EkStep Foundation </strong></p>
                    <p>Quorum, No. 85, 7th Cross<br/>
                    4th Block, Koramangala<br/>
                    Bangalore - 560034<br/>
                    Karnataka, INDIA</p>
                </li>
            </ul>
        </div>

        <div class="one wide computer only column">
        </div>

    </div>
</div>

</footer>
