.bgcolour {
  background: linear-gradient(45deg, #0d9474 0%, #2a6fa8 100%) !important;
}
.color {
  color: #f0f0f0 !important;
  font-family: 'Noto Sans', sans-serif !important;
  font-size: 14px !important;
  -webkit-font-smoothing: antialiased;
  font-weight: 500 !important;
}
.color:hover {
  text-decoration: underline !important;
}
.iconColor {
  color: white;
}
.ui.menu .item:active {
  text-decoration: underline !important;
}
.ui.sidebar.visible.uncover {
  max-height: 12rem !important;
  top: 6rem !important;
}
.ui.right.sidebar {
  width: -webkit-fill-available !important;
}
.align {
  text-align: right;
}
.searchColor {
  background-color: #2a6fa8;
}
