<div *ngIf="showQrmodal">
  <app-qr-code-modal (closeQrModal)="showQrmodal = false"></app-qr-code-modal>
</div>
<div class="ui fixed main menu bs-0 d-block " appStickyHeader>

  <!--Header White Section-->
  <div class="bgcolour">
    <div class="ui container">
      <div class="ui grid padded width-100">

        <div class="six wide computer eleven wide mobile column">
          <!--Logo-->
          <a class="d-flex logo" tabindex="0" title="{{tenantInfo.titleName}}" role="banner" (click)="navigateToHome()">
            <img class="cursor-pointer" alt={{tenantInfo.titleName}} src="../../../../../assets/images/sunbird_logo2.png">
          </a>
          <!--/Logo-->
        </div>

        <div class="column p-0 d-flex flex-jc-flex-end flex-ai-center">
          <!--Hamburger Icon-->
          <i class="large bars icon link  mobile only iconColor" (click)="showSideBar()" tabindex="0"></i>
          <!--/Hamburger Icon-->

          <!--Main Menu-->
          <div class="d-flex computer only ml-auto">
            <div class="ui text menu m-0 d-flex flex-jc-center flex-ai-center computer only mt-15">

              <a href="about.html" class="  item color">About Sunbird</a>
              <a href="/explore/1" class="item color"
                [class.active]="router.isActive('/explore/1', false)">Resources</a>
              <a href="partners.html" class="item color">Collaborators</a>
            </div>
          </div>
          <div class="d-flex mobile only ml-auto">
            <div class="ui sidebar right vertical menu bgcolour align pr-10">
              <ng-container *ngIf="!userService.loggedIn && !isOffline">
                <a href="about.html" class="item color">About Sunbird</a>
                <a href="/explore/1" class="item color">Resources</a>
                <a href="partners.html" class="item color">Collaborators</a>
              </ng-container>
            </div>
          </div>
          <!--/Main Menu-->

          <!--Avtar Dropdown-->
          <a class="profile-avtar computer only p-0 ml-15" *ngIf="userService.loggedIn && !isOffline" tabindex="0">
            <div suiDropdown class="ui dropdown right top pointing" id="dropdown-menu-list-header">
              <ngx-avatar *ngIf='userProfile' [style]="avtarDesktopStyle" [size]="38" initialsSize="1"
                name="{{userProfile?.firstName}}">
              </ngx-avatar>
              <div class="menu" suiDropdownMenu>
                <div class="item headerDropdownProfile" *ngIf='userProfile'>
                  {{userProfile?.firstName}}&nbsp;{{userProfile?.lastName}}
                </div>
                <div class="ui divider"></div>
                <a class="item" routerLink="profile">
                  {{resourceService.frmelmnts?.lnk?.profile}}
                </a>
                <a class="item" *ngIf='permissionService.permissionAvailable' appPermission
                  [permission]='adminDashboard' routerLink="dashBoard/organization">
                  {{resourceService.frmelmnts?.lnk?.dashboard}}
                </a>
                <a class="item" *ngIf='permissionService.permissionAvailable' appPermission
                  [permission]='announcementRole' routerLink="announcement/outbox/1">
                  {{resourceService.frmelmnts?.lnk?.announcement}}
                </a>
                <a class="item" *ngIf='permissionService.permissionAvailable' appPermission [permission]='orgSetupRole'
                  routerLink="org/orgType">
                  {{resourceService.frmelmnts?.lbl?.orgtypes}}
                </a>
                <a class="item" appTelemetryInteract [telemetryInteractEdata]="getLogoutInteractEdata()"
                  (click)="logout()">
                  {{resourceService.frmelmnts?.lnk?.logout}}
                </a>
              </div>
            </div>
          </a>
          <!--/Avtar Dropdown-->
        </div>

      </div>
    </div>
  </div>

  <!--Header White Section-->

  <!--Header Blue Section-->
  <!--Computer-->
  <div class="bg-primary p-8" *ngIf="showExploreHeader || userService.loggedIn || isOffline">
    <div class="ui container d-flex flex-ai-center mx-0">
      <!--Search Box-->
      <!--Logged in Pages-->
      <app-search class="sb-search-box mr-auto" *ngIf="!showExploreHeader && !isOffline"
        [ngClass]="{'ml-auto': searchBox.center, 'ml-0': !searchBox.center, 'small': searchBox.smallBox, 'large': searchBox.largeBox, 'medium': searchBox.mediumBox}">
      </app-search>
      <!--/Logged in Pages-->

      <!--Explore Pages-->
      <div class="sb-search-box mr-auto" *ngIf="showExploreHeader && !isOffline"
        [ngClass]="{'ml-auto': searchBox.center, 'ml-0': !searchBox.center, 'small': searchBox.smallBox, 'large': searchBox.largeBox, 'medium': searchBox.mediumBox}">
        <div class="input-div relative">
          <i class="search icon"></i>
          <input type="text" id="keyword" name="filter_search" class="sb-search-input"
            title="{{resourceService?.frmelmnts?.prmpt?.search}}" [(ngModel)]='queryParam.key'
            placeholder="{{resourceService?.frmelmnts?.prmpt?.search}}" (keyup.enter)="onEnter(queryParam.key)" />
          <!-- <i class="close icon"></i> [(ngModel)]="key"
                          <div class="sb-loader"></div> -->
        </div>
        <button class="sb-btn sb-btn-normal" (click)="onEnter(queryParam.key)"
          title="{{resourceService?.frmelmnts?.prmpt?.search}}" tabindex="0">Search</button>
      </div>
      <!--/Explore Pages-->
      <!--/Search Box-->

      <!--Language Dropdown-->
      <!-- <app-language-dropdown [languageRange]='languages' class="computer only"
                      *ngIf="languages && !router.isActive('workspace', false)">
                    </app-language-dropdown> -->
      <!--/Language Dropdown-->
      <button class="ui button qr-code-btn d-flex flex computer only mr-0" [routerLink]="['/import/content']"
        *ngIf="isOffline">
        {{resourceService.frmelmnts?.lbl?.importContent}}
      </button>
    </div>
  </div>
  <!--/Computer-->

  <!--Mobile-->
  <!-- <div class="p-10 mobile only" *ngIf="showExploreHeader || userService.loggedIn || isOffline">
                  <div class="ui mobile-view container d-flex flex-jc-space-between mx-0"> -->

  <!--Language Dropdown-->
  <!-- <app-language-dropdown [languageRange]='languages' class="mobile only"
                      *ngIf="languages && !router.isActive('workspace', false)">
                    </app-language-dropdown> -->
  <!--/Language Dropdown-->

  <!-- </div>
                </div> -->
  <!--/Mobile-->

  <!--/Header Blue Section-->
</div>