

<!-- HEADER SECTION
    css of this section is in header.css -->
    <div class="container-fluid">
        <div class="row align-items-center header">
            <div class="col-xs-12 col-sm-12 col-md-2">
                <div class="logo" (click)="navigateToHome()">
                    <img src="./assets/niit.png" alt={{tenantName}}>
                </div>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-2 category">
                    <div class="ui dropdown">
                            <i class="fa fas fa-th"></i>
                            &nbsp;<div class="text">Category</div>
                            <div class="menu">
                                <ng-container *ngFor="let term of terms">
                                        <div (click)="getFramework(term)" class="item">{{term}}</div>
                                </ng-container>
                            </div>
                          </div>    
                
                
                
                <!-- <div class="ui buttons">
            
                            <div class="ui floating dropdown icon categories button" style="background-color:transparent">
                                <i class="fa fas fa-th"></i>
                                <div class="menu">
                                    
                                    <div class="item"><a href=#>Account settings</a></div>
                                    <div class="item"><a (click)="logout()">Logout</a></div>
                                </div>
                            </div>
                        </div>
                <span class="align-self-center">&nbsp; Category</span> -->
            </div>
            <div class="col-xs-12 col-sm-12 col-md-5">
                <div class="container-fluid search-container">
                    <form>
                        <div class="input-group">
                            <input type="text" class="form-control" [(ngModel)]="key" (keyup.enter)="onEnter(key)" placeholder="Search for anything...."
                                name="header-search">
                            <div class="search">
                                <button class="btn btn-default" type="submit" (click)="onEnter(key)">
                                    <i class="fa fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-3">
                <div  *ngIf="!userService.loggedIn" class="row align-items-center justify-content-around button-container">
                    <div class="col d-none d-md-block d-lg-block p-0 text-center">
                        <a routerLink="/signup" class="signup">Sign Up</a>
                    </div>
                    <div class="col d-none d-md-block d-lg-block">
                        <button type="button" class="btn btn-outline-default btn-md signin">
                            <a href="/learn" class="sunblogin item font-weight-bold primary-color pl-5 ml-auto pr-0">
                                {{resourceService.frmelmnts?.btn?.signin}}
                            </a>
                        </button>
                    </div>
                    <div class="col-xs-1 col-sm-1 d-xs-block d-sm-block d-md-none d-lg-none mobile-menu">
                        <div class="hamburger">
                            <a (click)="showSideBar()" id="mobile_item" class="item"><i class="fa fas fa-bars"></i></a>
                        </div>
                    </div>
                </div>
                <!--display if the user is logged in -->
                <div *ngIf="userService.loggedIn" class="row align-items-center justify-content-around button-container loggedInIcons">
                    <div class="col-2 d-none d-md-block d-lg-block p-0 text-center text-white">
                        <a routerLink="/learn" class="mycourses">My Courses</a>
                    </div>
                    <div class="col d-none d-md-block d-lg-block p-0 text-center">
                        <button *ngIf='permissionService.permissionAvailable' appPermission [permission]='workSpaceRole' (click)="navigateToWorkspace()" appTelemetryInteract [telemetryInteractEdata]="workspaceMenuIntractEdata"
                        type="button" class="btn btn-outline-primary btn-md workspace" routerLink="/workspace/content/create">{{resourceService?.frmelmnts?.tab?.workspace}}</button>
                    </div>
                    <div class="col-1 text-center">
                        <i class="fa fa-bell"></i>
                    </div>
                    <div class="col p-0 text-center">
                        <div class="ui buttons">
            
                            <div class="ui floating dropdown icon button" style="background-color:transparent">
                                <i class="fa fa-user-circle-o" style="font-size:20px"></i>
                                <div class="menu">
                                    <div *ngIf='userProfile' class="item" routerLink="profile"><a>Profile</a></div>
                                    <div *ngIf=' userService.loggedIn && permissionService.permissionAvailable' appPermission [permission]='adminDashboard' routerLink="orgDashboard" class="item">
                                    <a>{{resourceService.frmelmnts?.lnk?.dashboard}}</a>
                                </div>
                                    <div class="item"><a>Account settings</a></div>
                                    <div class="item"><a (click)="logout()">Logout</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-1 col-sm-1 d-xs-block d-sm-block d-md-none d-lg-none mobile-menu">
                            <div class="hamburger">
                                <a (click)="showSideBar()" id="mobile_item" class="item"><i class="fa fas fa-bars"></i></a>
                            </div>
                        </div>
                </div>
                <!--logged in section end-->
            </div>
        </div>
    </div>
    <!--sidebar ui-->
    <div class="ui sidebar vertical menu align right">
            <a *ngIf="!userService.loggedIn" class="item" routerLink="/learn">Sign In</a>
            <a *ngIf="!userService.loggedIn" class="item" [routerLink]="['/signup']">Sign Up</a>
            <a *ngIf="userService.loggedIn && userProfile" class="item" routerLink="profile">{{resourceService.frmelmnts?.lnk?.profile}}</a>
            <a *ngIf="userService.loggedIn" class="item" [routerLink]="['/workspace/content/create']">Workspace</a>
            <a *ngIf="userService.loggedIn" class="item" (click)="logout()">{{resourceService.frmelmnts?.lnk?.logout}}</a>
        </div>
        <div class="pusher"></div>