/* @import "variables";
// @import '../../../../../../node_modules/bootstrap/dist/css/bootstrap.min.css';

.sidebar-hamburger-menu {
  color:$primary-color;
}
.primary-navbar-bg {
  background-color: black;;
}
.ui.basic.button.qr-code-btn {
  background: #fff !important;
  color: $link-color!important;
  font-size: 0.86rem;
  border-radius: 3px;
  font-weight: bold;
  border: 1px solid #CAE4F7;
  box-shadow: none;
  height: 35px;
  .qrcode {
    color: $link-color !important;
    font-size: 1.3em;
  }
}
.ui.basic.button.qr-code-btn.disabled {
  opacity: 0.7 !important;
}
#img{
  height: 39px !important;
}
.primary-header .logo img {
    height: 33px;
    max-height: 56px;

}
@media only screen and (max-width: 767px) {
  .primary-searchbar-alignment {
    width: 100%;
  }
  .ui.basic.button.qr-code-btn {
    padding-top: 11px;
    padding-bottom: 9px;
  }
  .ui.mobile-view.container {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

@media only screen and (min-width: 768px) {
  .primary-searchbar-alignment {
    margin-right: auto;
    margin-left: 15px;
    width: calc(100% - 284px);
    max-width: 490px;
  }
  .ui.basic.button.qr-code-btn {
    height: 29px;
    padding-top: 8px;
  }
}

.primary-nav-item .item {
  font-size: 1rem;
}

.ui.menu .primary-nav-item a.item.active {
  background: none;
  color: $link-color;
  font-size: 1rem;
  font-weight: bold;
}
.ui.menu .primary-nav-item a.item:hover {
  color: $link-color;
}
.ui.text.menu .item.active {
  color: $link-color;
  font-size: 1rem;
  font-weight: bold;
}

.ui.menu a.item:hover {
  background: none;
}

.ui.menu .primary-nav-item a.item.divider {
  top: 15px;
  border-right: 0.5px solid #196d7f;
  opacity: 0.4;
  max-height: 8px;
  padding: 8px;
  border-width: 2px;
  margin-right: 10px;
}

.ui.icon.button {
  background: #edf4f9;
  padding: 1px 7px 4px 7px;
  .primary-search-icon {
    font-size: 1.2em;
  }
}

::ng-deep {
  .ui.fluid.action.input.primary-search-input {
    height: 35px;
    border: 1px solid #60d4eb;
    opacity: 1;
    border-radius: 5px;
  }
}

@media only screen and (min-width: 767px) {
  ::ng-deep {
    .ui.fluid.action.input.primary-search-input {
       height: 29px;
    }
  }
}
.ui.menu .active.item {
  background: none;
}
.search-qrcode-divider {
  opacity: 0.4;   
  border-right: 2px solid #fff;
}

.profile-avtar:hover{
  opacity:1;
}
.ui.fixed.main.menu.main-header {
  border: 0;
  /* border-bottom: 0.5px solid #ddd !important;
  z-index: 999;
} */
.text-white {
  color : white !important;
}
.menu-padding {
  padding : 1.5em;
}

.mycourses, .mycourses:hover {
  color : white;
}
.bg-blue {
  background-color: var(--primary-color);
}
.header {
  position: relative;
  top: 0;
  background-color: var(--primary-color);
  height: 12vh;
  z-index: 100;
  transition: all ease-out 0.5s;
}
.header.active {
  background-color: #451771;
}
:host ::ng-deep .avatar-container {
  margin : auto;
}

.item.headerDropdownProfile {
  text-align: center !important;
}

.menu.transition.visible {
  max-height : 400px;
  overflow-y: auto;
  z-index : 300;
}

.logo img {
  height: 40px;
  cursor : pointer;
  padding-left: 1em;
}

.loggedInIcons {
  color : white;
}

.workspace {
  width: 100px;
  height: 40px;
  border: none;
  background-color: white;
  font-size: 1em;
  font-weight: bold;
  width: 90px;
  border-radius: 37px;
  color: var(--primary-color);
}
.menu-padding-2 {
  padding : 0.4em;
}
.category {
  font-size: 1.121em;
}

a.categorylink {
  color : white;
  border: none;
  font-size: 1.1em;
  background: transparent;
  text-decoration: none;
  }

  a.categorylink:hover {
    padding-bottom: 7px;
    color: white;
    border-bottom: 2px solid white;
    }

.category span {
  padding-left: 5px;
}
.search-wrapper {
  width: 420px;
}
.search-container {
  margin: 0;
  height: 35px;
  max-width: 100%;
  background: white;
  border: 1px solid white;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 0;
}
.search-container form div input {
  padding-left: 10px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  max-width: 90%;
  height: 32px;
  outline: none;
  border: none;
}
.search-container form div input::-webkit-input-placeholder {
  line-height: 20px;
}
.search-container .search {
  float: right;
  vertical-align: middle;
}
.button-container {
  width : 500px;
  color: white;
  text-decoration: none;
}

::ng-deep .languageDropdown {
  position : absolute;
  left: 0;
}
.button-container .signup {
  border: none;
  color: white;
  font-size: 1.1em;
  background: transparent;
  text-decoration: none;
}
.button-container .signup:hover {
  padding-bottom: 7px;
  color: white;
  border-bottom: 2px solid white;
}
.button-container .signin {
  width: 100px;
  height: 40px;
  border: none;
  background-color: white;
  font-size: 1em;
  font-weight: bold;
  width: 90px;
  display: block;
  border-radius: 37px;
  color: var(--primary-color);
}
.menu.transition.visible {
  min-width : 160px !important;
}

.custom-menu .item {
  white-space: normal !important;
  line-height : 1.4em !important;
}
.ui.floating.dropdown .custom-menu {
  left : -300px !important;
  max-width : 400px !important;
}
.ui.floating.dropdown>.menu {
  margin-top : 0.3em !important;
  
}
.menu-right {
  position : absolute;
  right : 0;
}
.button-container .hamburger {
  display: inline;
  border: none;
  max-width: 100px;
  background-color: transparent;
  color: white;
}
.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 10px;
  margin-right: 20px;
}
#mobile_item {
  background-color: transparent;
  padding: 0;
  font-size: 2em;
}
.ui.sidebar.vertical.menu {
  z-index: 500;
}
button:focus {
  outline: none;
}

@media only screen and (max-width: 1350px){
  .search-wrapper {
    width: 300px;
  }
}
@media only screen and (max-width: 767px) {
  .header {
    height: 14vh;
  }
  .signup, .signin {
    display: none;
  }
  .search-container {
    max-width: 100%;
  }
  .search-container input {
    width: 100%;
  }
  .category {
    position: fixed;
    top: 0;
    padding-right: 0;
    margin-top: 10px;
  }
  .logo {
    max-width: 50px;
    margin: auto;
  }
  .logo img {
    width: 50px;
  }
}
@media only screen and (max-width: 576px) {
  .logo {
    max-width: 50px;
  }
  .logo img {
    width: 50px;
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 20px;
    width: 30px;
  }
}
