@import "./variables";
@import "./mixins/mixins";
html,
body {
  height: 100%;
  font-size: $font-size-base;
}

body {
  background: #fff !important;
  position: relative;
  font-family: $font-stack-en;
  letter-spacing: 0.2px;
  height: auto;
  color: $default-text-color;
  padding-bottom: 336px;
  min-height: 100vh;
  &.pushable {
    background: #fff !important;
    &>.pusher {
      background: transparent !important;
      padding-bottom: 400px !important;
      &.dimmed {
        height: 100vh;
      }
    }
  }
}
  @font-face {
    font-family: 'CampaignMedium';
    src: url('../styles/fonts/campaign-medium/CampaignMedium.woff');
    font-style: normal !important;
    font-weight: 500 !important;
  }


  @font-face {
    font-family: 'MontserratRegular_2';
    src: url('../styles/fonts/montserrat/Montserrat-Regular.ttf');
    font-style: normal !important;
    font-weight: 400;
  }

@include respond-above(sm) {
  body {
    padding-bottom: 160px;
    .pusher {
      padding-bottom: 240px !important;
    }
    .footer-fix {
      min-height: calc(100vh - 168px);
      padding-bottom: $base-block-space * 4;
    }
    .sb-mid-container-min-height{
      min-height: calc(100vh - 288px);
      margin-bottom: -($base-block-space * 4) !important;
    }
  }
}
@include respond-below(sm) {
  .footer-fix {
    min-height: calc(100vh - 336px);
    padding-bottom: $base-block-space * 3;
  }
}
.sb-offline {
  padding-bottom: 145px;
  .footer-fix {
    min-height: calc(100vh - 180px);
   }
  }

*[lang="en"] body {
  font-family: $font-stack-en;
}

*[lang="hi"] body {
  font-family: $font-stack-hi;
}

*[lang="ur"] body {
  font-family: $font-stack-ur;
}


.publicmenusection.ui.secondary.menu .active.item {
  color: $primary-color;
  text-transform: capitalize;
}
.publicmenusection.ui.secondary.vertical.menu > .item {
  text-transform: capitalize;
}

.sb-placeholder{
  justify-content: center !important;
}
[dir="rtl"] {
  .sb-explore-qr-container{
    .dial-section-column {
      border-right:0px solid rgba(51, 51, 51,0.1) !important;
      border-left:1px solid rgba(51, 51, 51,0.1);
    }
  }
}

[dir="ltr"] {
  .sb-explore-qr-container{
    .dial-section-column {
      border-left:0px solid rgba(51, 51, 51,0.1);
      border-right:1px solid rgba(51, 51, 51,0.1);
    }
  }
}
.btn-purple , .btn-lightgrey , .btn-lightgrey2 , .btn-purple2 {
  border-radius: 4px !important;
  
  border-radius: 5px;
  height: 40px;
  font-size: 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: uppercase;
  box-shadow: none;
  cursor: pointer;
}
.btn-purple {
  background-color: #a8abe3 !important;
  color: #fff !important;
  border: none;
  font-family: "Muli",sans-serif;
  font-weight: 700;

}
.btn-lightgrey {
  background-color: #e4e4e4 !important;
  color: black !important;
  border: none;
 
  font-family: "Muli",sans-serif;

  font-weight: 700;
}
.btn-purple2 {
  background-color: #865BA0 !important;
  color: #fff !important;
  border: none;
  font-family: 'MonsterattRegular_2';
  font-weight: 400;
 }
.btn-lightgrey2 {
  background-color: white !important;
  color: black !important;
  border: 1px solid #865BA0 !important;
  font-family: 'MonsterattRegular_2';
  font-weight: 400;
}

.description.annannouncement-description{
  .sb-label-status-error {
    color: $sb-label-status-error-color;
    font-size: 11px;
  }

  .sb-label-12size {
    font-size: 11px;
  }
}
// don't delete this
.iziModal-isAttached{
  body{
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.sb-prominent-filter{
  .accordion {
    .content {
      padding: .5em 0 0 0;
    }
  }
}

// calender styles
.ui.calendar .ui.celled.table tr td, .ui.calendar .ui.celled.table tr th {
  cursor:pointer;
  }
  .ui.calendar .ui.table tr td.disabled, .ui.calendar .ui.table tr.disabled td, .ui.calendar .ui.table tr.disabled:hover, .ui.calendar .ui.table tr:hover td.disabled {
  cursor:default
  }

  .text-purple{
    color:#865BA0!important;
  }