.footer-fix {
    background: white !important;
}

.loading-banner {
    color : black;
    min-height : 100% !important;
    display : block;
    transition: all ease-out 1s;
    position : relative;
}
#centerpl div {
  text-align: center;
}
.loading-banner h6 {
    width : 100%;
    position : fixed;
    top : 50%;
    font-size : 24px;
}

.loader {
  border: 16px solid #f3f3f3 ;
  border-radius: 50%;
  border-top: 16px solid #3498db ;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite ; /* Safari */
  animation: spin 1s linear infinite ;
}

.text-center.loading-banner {
  width: 100px;
  height: 100px;
}

div#centerpl {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

html {
  height: 100%;
  width: 100%;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
