<section [appTelemetryImpression]="telemetryImpression">
  <div class="jumbotron jumbotron-fluid cimage" style="height:16rem">
    <div class="container">
      <div class="row mb-4">
        <div class="col-md-12">
          <!-- <div class="">
            <div class="text-center d-flex justify-content-center py-5 px-4 my-5">
              <h1 class="text-ac h1 mt-xl-n5">Asset Guidelines</h1>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>

  <!-- <p class="text pt-5 text-center fs-2">Coming Soon! </p> -->
  <!-- <p class="text pt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit sint, tempora alias rem tenetur minima incidunt natus consequuntur aliquam ea velit ad unde illum perspiciatis nostrum tempore molestiae recusandae magnam?</p> -->
  <!-- <p class="text pb-15">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit sint, tempora alias rem tenetur minima incidunt natus consequuntur aliquam ea velit ad unde illum perspiciatis nostrum tempore molestiae recusandae magnam?</p> -->
  <div class="container text">
    <p> The purpose of this document is to provide preliminary guidelines for Creators and
      Reviewers to ensure that the quality of the Assets uploaded and linked onto the SPace
      Portal meet the following fundamental quality criteria.</p>
    <p><b>1. Respect and Trust</b></p>
    <p> When you use SPace Portal, you join a vast community of Asset users. Every
      community feature on SPace Portal involves a certain level of trust. Users are
      expected to respect that trust and be responsible about their usage of SPace Portal
      and all its Assets. Set out below are some common-sense rules that that all Users
      must comply with. These rules are to be taken seriously as Administrators are
      required to enforce the same strictly. Users are requested not to look for loopholes or
      ways around these guidelines and respect the spirit in which they have been created.</p>
    <p><b>2. Appropriateness and Accuracy</b></p>
    <p> You must ensure that all Assets uploaded and linked by you on SPace Portal is
      appropriate and accurate for use as outlined by the following guidelines. Asset
      identified as inappropriate or inaccurate as per these guidelines will not be allowed
      on the platform and if published can be unilaterally removed from SPace Portal by its
      Administrators.</p>
    <ol type="a">
      <li>Inappropriate Asset includes, but is not limited to:
        <ol type="i">
          <li> Hate Speech - by words either written or spoken or by signs or by
            visible representation or otherwise promotes or attempts to promote
            feelings of enmity, hatred or ill-will against persons of a:
            <ul>
              <li>● Caste </li>
              <li>● Class</li>
              <li>● Tribe</li>
              <li>● Race</li>
              <li>● Ethnicity</li>
              <li>● Sex, gender, or gender identity</li>
              <li>● National origin</li>
              <li>● Religious affiliation</li>
              <li>● Sexual orientation, or</li>
              <li>● Disabilities or diseases</li>
            </ul>
          </li>
          <li> Sexually explicit content
            <ul>
              <li>● Pornography</li>
              <li>● Explicit text/images/illustrations/sounds of sexual content</li>
              <li>● Descriptions of sexual acts</li>
            </ul>
          </li>
          <li> Sexual violence and exploitation
            <ul>
              <li>● Includes sexual exploitation of minors, and sexual assault</li>
              <li>● Photographs/ Illustrations/videos depicting incidents of sexual
                violence</li>
            </ul>
          </li>
          <li> Nudity
            <ul>
              <li> Nudity would mean displaying genitals, breasts or focusing in
                on fully exposed buttocks.</li>
              <li> Other than the depiction of body parts which isn’t gratuitously
                graphic and is educational, documentary, scientific, or artistic -
                paintings, sculptures, and other art that depicts nude figures,
                which is posted for educational purposes. Providing context will
                help users determine the purpose of the content/asset.</li>
            </ul>
          </li>
          <li> Violence
            <ul>
              <li>● Promoting, encouraging, supporting, praising, or condoning
                violent actions, activities and behaviour - verbal, physical or
                emotional.</li>
              <li>● Threatening or inciting others to commit acts of violence</li>
              <li>● Expressing support or praise for groups, people that are
                involved in the violent or criminal behavior</li>
            </ul>
          </li>
          <li> Discrimination and Bullying or encouraging such behaviour:
            <ul>
              <li>● Targeting individuals with the intention of degrading or
                shaming them.</li>
              <li>● Illustrations or Images altered to degrade individual</li>
              <li>● Photos or videos of physical or verbal bullying</li>
              <li>● Sharing personal information or harassing people</li>
              <li>● Repeatedly targeting other people with unwanted requests or
                messages.</li>
            </ul>
          </li>
          <li> Harmful or dangerous content
            <ul>
              <li>● Content that intends to incite violence or encourage dangerous
                or illegal activities that have an inherent risk of serious physical
                harm or death.</li>
              <li>● Encourage dangerous or illegal activities for instance -
                performing stunts, high risk activities, choking games, drug use,
                or other acts where serious injury or harm may result. Content
                that depicts dangerous acts may be allowed if the primary
                purpose is educational, documentary, scientific, or artistic
                (EDSA), and isn’t gratuitously graphic.</li>
            </ul>
          </li>
          <li> Other possibilities:
            <ul>
              <li>● Involvement of children in violence as victims or perpetrators or
                as forced witnesses to violence, or showing children as being
                subjected to any form of child abuse,</li>
              <li>● abuse or ridicule of people with disabilities (physical or mental),</li>
              <li>● cruelty to, or abuse of animals,</li>
              <li>● depiction of violence, cruelty and horror, scenes of violence
                primarily,</li>
              <li>● images/text/ illustrations have the effect of encouraging,
                justifying, glorifying, glamorising alcohol drinking, drugs and
                substance abuse; consumption of tobacco or smoking,</li>
              <li>● degrading or denigrating women in any manner,</li>
              <li>● vulgarity, obscenity or depravity,</li>
              <li>● dual meaning words as obviously cater to baser instincts,</li>
              <li>● visuals or words contemptuous of racial, religious or other
                groups,</li>
              <li>● visuals or words which promote superstition, communal,
                obscurantist, anti-scientific attitude, and</li>
              <li>● visuals or words involving defamation of an individual or a body
                of individuals.</li>
            </ul>
          </li>
        </ol>
      </li>
      <li> Accuracy means and includes, but is not limited to:
        <ol type="i">
          <li>Accuracy: All Content uploaded on SPace Portal must be factually
            correct.</li>
          <li>Language: Language used in text, audio, video and interactive
            materials in the Content uploaded on SPace Portal must be simple and
            easy to understand.</li>
          <li>Contextual: All Content should be contextual and relevant to the needs
            of the intended user.</li>
        </ol>
      </li>
      </ol>
      <p><b>3. Intellectual Property Rights</b></p>
      <ol type="a">
        <li> You shall be solely responsible for your own Asset and the consequences of
          uploading or linking your Asset on SPace Portal.
        </li>
        <li> You affirm, represent, and warrant that you own or have the necessary
          licenses, rights, consents, and permissions to publish Asset you submit; and
          you license to SPace all patent, trademark, trade secret, copyright or other
          proprietary rights in and to such Asset for publication on SPace Portal
          pursuant to these Terms.</li>
        <li> SPace Portal does not endorse any Asset submitted to SPace Portal by any
          Registered User or other User, or any opinion, recommendation, or advice
          expressed therein, and SPace Portal expressly disclaims any and all liability in
          connection with the Asset.</li>
        <li> SPace Portal does not permit copyright infringing activities and infringement
          of intellectual property rights on the SPace Portal, and SPace Portal will
          remove all Asset if properly notified that such Asset infringes on another's
          intellectual property rights.</li>
        <li> SPace Portal reserves the right to remove Asset without prior notice. SPace
          Portal is not responsible for the violations of any third party rights including
          intellectual property rights by any User.</li>
        <li> Any violations of copyright laws will be the responsibility of the concerned
          Users. Any disputes will be settled by the respective parties. SPace Portal
          bears no responsibility for this.</li>
      </ol>
      <p><b>4. Right not to Publish and Removal of Asset</b></p>
      <ol type="a">
          <li>The Administrators reserve the right to remove Asset from SPace Portal for
              inappropriateness, inaccuracy or violations of any kind by any member of the
              community of Users of SPace Portal.</li>
        </ol>
  </div>
</section>