@import '~bootstrap/dist/css/bootstrap.min.css';
/* Header CSS*/



/* Card/ContentCard CSS*/
.content-card{
  width: 271px;
  height: 380px;
  float: left;
  margin: 1.5%;
  box-shadow: 0px 6px 6px 2px #eee;
}

.content-card .image{
  width: 270px;
  height:150px;
  background: gray;
}

.content-author{
  font-size: .875em;
  color:grey;
}

.yellow-star{
  color:rgb(239, 217, 21);
}

.gray-star{
  color: #D3D3D3;
}

.rating{
font-weight: 450;
}

.rating span{
  font-size: 1.063em;
  font-weight: 400;
  margin-left: 5px;
}

.views{
  color:gray;
}

.lectures{
  color: gray;
  font-size: .9em;
  font-weight: 450;
}

.duration{
  color: gray;
  font-size: .9em;
  font-weight: 450;
}

.price{
  font-size: 1.2em;
  font-weight: 500;
}

.content-type{
  float: right;
  padding: 3px 6px 3px 6px;
  font-size: .7em;
  color: aliceblue;
  background:#7C65C7;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
}

.navigate{
  clear: both;
  background: lightblue;
  width:max-content;
  margin: auto;
}

.navigate a{
  text-decoration: none;
}

.social-network{
  background: #805FE5;
  height:max-content;
}

.social-network .fa-linkedin-in{
  border-radius: 50%;
  border:1px solid white;
  height:34px;
  width:34px;
  padding:9px;
}

.social-network .fa-instagram{
  border-radius: 50%;
  border:1px solid white;
  height:34px;
  width:34px;
  padding:9px;
}

.progress
{
  margin: 9px;
  height: 0.3rem;
}
.progress-bar
{
  background-color: #7D5CE7;
}
/*CSS to be used in multiple elements*/

.text-color-gray{
  color: gray;
}

.text-color-white{
  color:#FFF;
}

.background-color-white{
  background: #FFF;
}

.card-image {
  width: 270px;
  height:150px;
}
.btn-primary,.btn-primary.focus, .btn-primary:focus, .btn-primary:hover, .btn-primary:active {
  background-color: #ce1f99;
  border-color: #ce1f99
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  background-color: #ce1f99;
  border-color: #ce1f99
}
@media only screen and (max-width: 600px){

.content-card{
  margin:auto;
  margin-top:10%;
  margin-bottom: 10%;
  float: none; 
  box-shadow: 0px 6px 6px 2px #eee;

}

}