<footer class="footer1 container " *ngIf="showFooter" [class.changePadding]="padding === true">
    <div class="ui container">
    
     <div class="">
        <div class="row pt-2 pb-2">
            <!-- <div class="col-lg-3 col-sm-12 col-md-4 text-pp-crt  mt-15 "> -->
                <div class="col text-pp-crt  mt-15 ">
              <div class="row">
                <div _ngcontent-c3="" class="ft-1 font" role="banner">
                    <!-- <p class="p"><a href="https://societalplatform.org/code-of-sharing/" style="font-family: 'Muli', sans-serif;" target="_blank" class="">Societal Platform Code of Sharing</a></p>
                    <p class="p"><a href="https://twitter.com/SocietalPlatfrm" target="_blank" style="font-family: 'Muli', sans-serif;"  class="footer__link footer__link--twitter "><i class="fa fa-twitter"></i> Follow us on Twitter</a></p> -->
                    <p class="p"><a (click)= "gotoContact('policy')">Data and Privacy Policy </a> </p>
                    <p class="p"><a (click)= "gotoContact('termsOfUse')" >Terms of Use </a> </p> 
                    <p class="p"><a (click)= "gotoContact('process')">Grievance Redressal Process </a> </p>
                    <p class="p"><a (click)= "gotoContact('licensepolicy')" >License Policy </a> </p> 
                    <p class="p"><a (click)= "gotoContact('assetguidelines')">Asset Guidelines </a> </p>
                  </div>
              </div>
            </div>
            <!-- <div class="col-lg-6 pr-5 col-md-5 col-sm-12 text-pp-crt-rg  mt-15" style="padding:0 1em;">
              <div class="row font">
                  <p>Copyright © 2018 EkStep Foundation. All content here is licensed under a&nbsp;<a title=" Creative Commons Attribution-NoDerivatives 4.0 International License" href="https://creativecommons.org/licenses/by-nd/4.0/" target="_blank" rel="noopener">Creative Commons Attribution-NoDerivatives 4.0 International License</a>&nbsp;unless otherwise noted.</p>
              </div>
            </div> -->
            <div class="col-lg-3 col-md-4 col-sm-12 text-pp mt-15">
              <div class="row r">
                <h5 class="footer__title" style="font-family: 'CampaignMedium';
                color: black !important;">Contact Us</h5> 
              </div>
              <div class="row">
                <div>
                    <p class="footer__right__content" style="font-family: 'MonsterattRegular_2';">Ekstep Foundation <br>
                      Quorum, No. 85, 7th Cross, 4th Block<br>
                      Koramangala, Bangalore - 560034<br>
                      Karnataka, INDIA</p>
                </div>
                <div>
                    <a href="mailto: space@societalplatform.org" style="font-family: 'Muli', sans-serif;" target="_blank" class="footer__link text-purple">space@societalplatform.org</a>
                </div>
                <!-- <div class="col-1">
                  <i class="fa fa-google-plus link"></i>
                </div> -->
              </div>
            </div>
          </div>
     </div>
    </div>
  </footer>