@import "~bootstrap/dist/css/bootstrap.min.css";
body {
    padding-bottom: 10px !important;
}
.ft-copyright {
    background-color: white;
    border-top: 1px solid white;
    display: flex;
}
footer{
    margin-top: 2em;
    padding-top: 1em;
    border-top: 1px solid #e4e4e4

}
.changePadding {
    padding-top : 0rem !important;
}
.text-pp-crt,
	.text-pp-crt-rg {
		color: #585858;
    }
    .developer {
		text-align: center;
    }
    
    .footer1{
        background-color:white;
        /* padding: 4.57rem 0; */
        font-size: 14px;
        padding-top: 3rem;
        //position: absolute;
        //margin-left: 150px;
        //margin-right: 150px;
        width: 100%;
        position: absolute;
    }
.font{
// font-size: 12px;
font-family: 'Muli', sans-serif;
}
.font1{
font-size: 12px;
font-family: 'Muli', sans-serif;
}
.logo{
    font-size: 27px;
}
.text-pp{
    font-size: 16px;
    color: #585858;
}
.image{
    height: 44px !important;
}
.text{
    font-family:'MonsterattRegular_2' !important; 
    font-weight: 500 !important;
    color: black;
  }
hr{
    border: none !important;
    border-left: 1px solid gray !important;
    height: 3rem !important;
    width: 1px !important;
}
.link {
    cursor: pointer;
}
.footer__title {
    font-family: "Muli",serif;
    color: black;
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 1.2em;
}
.footer__link:hover:hover, .footer a:hover:hover {
    color: #7ebde4;
}
.footer__link--twitter, .footer a--twitter {
    display: block;
    margin-top: 20px;
}
a:hover, a:active {
    outline: 0;
}
.ft-1 a {
    text-decoration: none;
    font-size: 1.3em !important;
    font-family: 'MonsterattRegular_2';
    color: black !important;
    cursor: pointer;
}
.footer__right__content {
    color: black;
    font-weight: 400;
    margin-bottom: 15px;
    font-size: 13px;
    line-height: 1.53846em;
}

@media screen and (min-width:312px ) and (max-width: 424px) {
.footer1 {
    margin-top: 1rem !important;
    width: 92vw;
    margin-left: 1rem !important;
}
.text-1 {
    margin-bottom: -1rem;
}
}
@media screen and(min-width: 425px ) and (max-width:767px) {
    .footer1 {
        margin-top: -4rem !important;
        width: 97vw !important;
        margin-left: 1rem !important;
    }
}
@media screen and (min-width: 768px) and (max-width:980px) {
    .footer1 {
        margin-top: 1rem !important;
        width: 99vw !important;
        margin-left: 1.6rem !important;

    }
    .changePadding {
        margin-top: 0rem;
    }
    }
@media screen and (min-width:1024px) and (max-width: 1699px) {
    .footer1 {
        margin-top: 2rem !important;
        max-width: 100%;
    }
}
 @media screen and (min-width: 1700px) and (max-width:1800px) {
    .container{
    max-width: 121rem;
}
.font {
  font-size: 20px !important;
}
.footer__right__content {
  font-size: 20px !important;
}
.footer__title {
  font-size: 33px !important;
}
}
@media screen and (min-width: 1801px) and (max-width:2560px) { 
    .container{
        max-width: 121rem;
    }
    .font {
      font-size: 20px !important;
    }
    .footer__right__content {
      font-size: 20px !important;
    }
    .footer__title {
      font-size: 33px !important;
    }
    .footer1 {
        max-width: 100%;
    }
}