<sui-modal [isClosable]="true" (dismissed)="goToCreate(); " [mustScroll]="true" #modal id="workspace-modal">
    <div class=" ui segment mt-10" [appTelemetryImpression]="telemetryImpression">
        <div class=" mb-15">
            <div class="ui grid">
                <div class="eleven wide column">
                    <span class="ui header">
                        {{resourceService?.frmelmnts?.lbl[creationFormLable]}}
                    </span>
                </div>
            </div>
        </div>
        <form class="ui form">
            <div class="content">
                <div *ngIf="formFieldProperties && categoryMasterList">
                    <app-content-creation-default-template #formData [formFieldProperties]="formFieldProperties" [categoryMasterList]="categoryMasterList">
                    </app-content-creation-default-template>
                </div>
 
                <div class="actions mt-10">
                      <p class="text-align-center pt-20">
                            <button class="ui primary text-align-center icon button" *ngIf= "!routeToCreateContent && !routeToUploadContent" (click)="getData()">
                                    Get
                            </button>
                      </p>
                    <p class="text-align-center pt-20" *ngIf="routeToCreateContent">
                        <button class="ui primary text-align-center icon button" (click)="createContent();modal.deny()">
                            {{resourceService?.frmelmnts?.btn?.startcreating}}
                        </button>
                    </p>
                    <div *ngIf='permissionService.permissionAvailable && routeToUploadContent' appPermission 
                    [permission]='contentUploadRole'>
                    <div class="text-align-center pt-20" routerLink="workspace/content/../edit/generic/"
                    appTelemetryInteract [telemetryInteractObject]="{id:'',type:'upload-content',ver:'1.0'}" [telemetryInteractEdata]="{id:'uploadContent',type:'click',pageid:'UploadContent'}">
                    <button class="ui primary text-align-center icon button" (click)="createContent();modal.deny()">
                         Upload Content
                        </button>
                    </div>
                </div>
               
                    <div [ngSwitch]="creationFormLable">
                        <h4 class="text-align-center mt-10" *ngSwitchCase="'createtextbook'">{{resourceService?.frmelmnts?.lbl?.bookfillater}}</h4>
                        <h4 class="text-align-center mt-10" *ngSwitchCase="'designcourse'">{{resourceService?.frmelmnts?.lbl?.coursefilllater}}</h4>
                        <h4 class="text-align-center mt-10" *ngSwitchCase="'createcollection'">{{resourceService?.frmelmnts?.lbl?.collectionfillater}}</h4>
                        <h4 class="text-align-center mt-10" *ngSwitchCase="'createlessontext'">{{resourceService?.frmelmnts?.lbl?.lessonfillater}}</h4>
                        <h4 class="text-align-center mt-10" *ngSwitchCase="'createlessonplan'">{{resourceService?.frmelmnts?.lbl?.lpfilllater}}</h4>
                        <h4 *ngSwitchDefault></h4>
                    </div>
                    <div>
                        <label>
                            <p class="text-align-center mt-10">
                                {{resourceService?.frmelmnts?.lbl?.agreeandproceedtext}}
                            </p>
                        </label>
                    </div>
                </div>
            </div>
        </form>
    </div>
</sui-modal>