<!-- <sui-modal [isClosable]="true" (dismissed)="goToCreate(); " [mustScroll]="true" #modal> -->
    <!-- <div class=" ui segment mt-10" [appTelemetryImpression]="telemetryImpression">
        <div class=" mb-15">
            <div class="ui grid">
                <div class="eleven wide column">
                    <span class="ui header">
                        Add a New Asset
                    </span>
                </div>
            </div>
        </div>
        <form class="ui form">
            <div class="content">
                <div *ngIf="formFieldProperties && categoryMasterList">
                    <app-content-creation-default-template #formData [formFieldProperties]="formFieldProperties" [categoryMasterList]="categoryMasterList">
                    </app-content-creation-default-template>
                </div>
                <div class="mt-30"> 
                    <button class="ui primary text-align-center icon button">
                        Upload file
                    </button>
                </div>
                <div class="actions mt-10">
                    <p class="text-align-center pt-20">
                        <button class="ui primary text-align-center icon button" (click)="createContent();modal.deny()">
                            Save
                        </button>
                    </p>
                    <div [ngSwitch]="creationFormLable">
                        <h4 class="text-align-center mt-10" *ngSwitchCase="'createtextbook'">{{resourceService?.frmelmnts?.lbl?.bookfillater}}</h4>
                        <h4 class="text-align-center mt-10" *ngSwitchCase="'designcourse'">{{resourceService?.frmelmnts?.lbl?.coursefilllater}}</h4>
                        <h4 class="text-align-center mt-10" *ngSwitchCase="'createcollection'">{{resourceService?.frmelmnts?.lbl?.collectionfillater}}</h4>
                        <h4 class="text-align-center mt-10" *ngSwitchCase="'createlessontext'">{{resourceService?.frmelmnts?.lbl?.lessonfillater}}</h4>
                        <h4 class="text-align-center mt-10" *ngSwitchCase="'createlessonplan'">{{resourceService?.frmelmnts?.lbl?.lpfilllater}}</h4>
                        <h4 *ngSwitchDefault></h4>
                    </div>
                    <div>
                        <label>
                            <p class="text-align-center mt-10">
                                {{resourceService?.frmelmnts?.lbl?.agreeandproceedtext}}
                            </p>
                        </label>
                    </div>
                </div>
            </div>
        </form>
    </div> -->
<!-- </sui-modal> -->


<div class="container mt-5">
    <h4>Add a New Asset</h4>
    <hr>
    <form class="ui form">
            <div class="content">
                <div *ngIf="formFieldProperties && categoryMasterList">
                    <app-content-creation-default-template #formData [formFieldProperties]="formFieldProperties" [categoryMasterList]="categoryMasterList">
                    </app-content-creation-default-template>
                </div>
                <div class="actions mt-10">
                    <p class="text-align-center pt-20">
                        <!-- <button class="ui secondary text-align-center icon button" (click)="createContent();modal.deny()">
                            Save
                        </button> -->
                        <button class="btn btn-default btn-secondary mr-5 btn-lg" (click)="createContent();modal.deny()" type="submit">Save</button>
                        <button type="button" class="btn btn-outline-secondary btn-lg" (click)="goToCreate()">Cancel</button>

                    </p>

                </div>
            </div>
        </form>
</div>