@import '~bootstrap/dist/css/bootstrap.min.css';

.ui.selection.dropdown {
    border: 1px solid #f6f6f6;
   background: #f6f6f6;
   color: #707070 !important;
   border-radius: 5px;
    height: 42px;
}

.text {
    color: white;
    text-transform: none !important;
}
.data-driven-filter {
    font-family: 'Muli', sans-serif;

}
.closebtn {
    background-color: white !important;
      color: rgb(133, 90, 159)!important;
      border: 1px solid rgb(133, 90, 159);
  }
.field {
    label {
        font-family: 'CampaignMedium' !important;
        font-size: 1.25em;
        font-weight: 500 !important;
       // font-weight: 400;
    }
}
::ng-deep .ui.multiple.dropdown .text {
    font-size: 14px !important;
    font-family: 'MonsterattRegular_2';
    font-weight: 500 !important;
  }
.button {
    background-color: #865BA0 !important;
    border: none;
    width: fit-content;
    border-radius: 5px;
    // height: 40px;
    font-family: 'MonsterattRegular_2';
    font-size: 13px !important;
    text-transform: uppercase;
    font-weight: 400;
    box-shadow: none;
    cursor: pointer;
    color: white !important ;
}
@media screen and (min-width: 320px) and (max-width: 1023px) {

    .ui.column.grid>[class*="three wide"].column, .ui.grid>.column.row>[class*="three wide"].column, .ui.grid>.row>[class*="three wide"].column, .ui.grid>[class*="three wide"].column {
        width: 50% !important;
    }
}
@media screen and (min-width: 1024px){

    .ui.column.grid>[class*="three wide"].column, .ui.grid>.column.row>[class*="three wide"].column, .ui.grid>.row>[class*="three wide"].column, .ui.grid>[class*="three wide"].column {
        width: 25% !important;
    }
}
// .searchfilterbutton
// {
//     font-size: 0.94rem !important;
// }
.filter-button
{
    padding-top: 6px;
}