@import '~bootstrap/dist/css/bootstrap.min.css';

.ui.selection.dropdown {
    border: 1px solid #f6f6f6;
   background: #f6f6f6;
   color: #707070 !important;
   border-radius: 5px;
    height: 42px;
}

.text {
    color: white;
    text-transform: none !important;
}
.data-driven-filter {
    font-family: 'Muli', sans-serif;

}

.button {
    background-color: #a8abe3 !important;
    border: none;
    width: fit-content;
    border-radius: 5px;
    height: 40px;
    font-family: "Muli",sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    box-shadow: none;
    cursor: pointer;
    color: white !important ;
}
@media screen and (min-width: 320px) and (max-width: 1023px) {

    .ui.column.grid>[class*="three wide"].column, .ui.grid>.column.row>[class*="three wide"].column, .ui.grid>.row>[class*="three wide"].column, .ui.grid>[class*="three wide"].column {
        width: 50% !important;
    }
}
@media screen and (min-width: 1024px){

    .ui.column.grid>[class*="three wide"].column, .ui.grid>.column.row>[class*="three wide"].column, .ui.grid>.row>[class*="three wide"].column, .ui.grid>[class*="three wide"].column {
        width: 25% !important;
    }
}