@import "~bootstrap/dist/css/bootstrap.min.css";
.thumbnail {
    position: relative;
    margin-bottom: 0;
    border: 0;
    border-color: transparent;
    padding: 0 !important;
    /* background-image: url('../../../../../assets/images/banner_bg.jpg'); */
  }

  .caption {
    position: absolute;
    top: 21%;
    left: 0;
    width: 100%;
    color: #FFFFFF;
  }
  .text {
    width: 54rem;
    margin: auto;
    display: block;
    font-size: 17px;
    font-family: 'Muli', sans-serif;
  }
  .cimage{
    background-image: url('../../../../../assets/images/slide-04.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
  @media screen and (max-width:820px ) and (min-width: 312px) {
    .text{
        width: auto;
    }
  }