
  <section [appTelemetryImpression]="telemetryImpression">
    <div class="jumbotron jumbotron-fluid cimage" style="height:16rem">
        <div class="container">
            <div class="row mb-4">
                <div class="col-md-12">
                    <!-- <div class="" >
                        <div class="text-center d-flex justify-content-center py-5 px-4 my-5">
                            <h1 class="text-ac h1 mt-xl-n5">Terms of Use</h1>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
      </div>
     
    <!--  <p class="text pt-5 text-center fs-2">Coming Soon! </p> -->
         <!-- <p class="text pt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit sint, tempora alias rem tenetur minima incidunt natus consequuntur aliquam ea velit ad unde illum perspiciatis nostrum tempore molestiae recusandae magnam?</p> -->
         <!-- <p class="text pb-15">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit sint, tempora alias rem tenetur minima incidunt natus consequuntur aliquam ea velit ad unde illum perspiciatis nostrum tempore molestiae recusandae magnam?</p> -->

<div class="container text">
    <p>This Terms of Use (“ Terms of Use ”/ “ Terms ”) governs the “User(s)” (as defined below) and
the “Creator(s)” (as defined below) whenUsing the SPace (Societal Platform Assets
Collaboration Environment) portal (“ SPace Portal” ) being offered by EkStep Foundation ( the
“Foundation” ). The Foundation is a not-for-profit company registered under the Indian
Companies Act 2013, and is offering the SPace Portal through its initiative called Societal
Platform. </p>
<p>The Societal Platform team is the primary stakeholder of the SPace Portal.</p>
<p>For the purposes of this Terms of Use, the Users and the Creators shall collectively be
referred to as “you” or “your”. The terms "we", "us", "our" refer to the Foundation.</p>
<p>For the sake of clarity, the Terms are divided into four (4) Parts as follows:</p>
<ul>
<li>● Part I: Introduction and Definitions</li>
<li>● Part II: Terms applicable to Creators</li>
<li>● Part III: Terms applicable to Users</li>
<li>● Part IV: General Terms (applicable to both Creators and Users) </li>
</ul>
<p><b><u>Part I – Introduction and Definitions</u></b></p>
<p>Before proceeding to use the SPace Portal, please read these Terms carefully and select the
"I Accept" option provided below. By selecting the "I Accept" option, you signify your
acceptance of the Terms (as amended from time to time), and agree to be bound by them
for as long as you are Using the SPace Portal. If you do not agree to these Terms, you will
not be able to Use the SPace Portal.</p>
<p>These Terms may be amended by the Foundation from time to time and such amendment
shall be notified on the SPace Portal. By Using the SPace Portal you, you will accept any
such revised Terms.</p>
<p><b>1. Definitions</b></p>
<ol type="I">
<li> “Asset” means and refers to a piece of content or a software code. A piece of
content can be expressed as text, documents, presentations, scripts, graphics,
photos, sounds, music, videos, audiovisual combinations, RLO (reusable
learning object) or other such mediums of expression and other materials you
may view on, access through, or contribute to the SPace Portal, and includes
all postings on the SPace Portal by Users.</li>
<li> “Creator” means and refers to Users of the SPace Portal, who is either an
individual or a body corporate registered with the Foundation, in accordance
with the requirements specified by the Foundation and some of who may
have additionally been authorised by the Foundation to create, curate and
publish Assets on the SPace Portal in addition to Part I (IV), in accordance
with Part I, II and IV of these Terms; </li>
<li> “ User ” means and refers to all users of the SPace Portal who access the
SPace Portal and Use the Assets on the SPace Portal, including Creators, as
detailed in Part I (IV), in accordance with Part I, III and IV of these Terms. </li>
<li> “ Use ” or “ Using” means and refers to using, accessing, viewing, or
contributing Assets on the SPace Portal. </li>
</ol>
<p><b><u>Part II: Terms Applicable to Creator(s)</u></b></p>
<p><b>1. ACCESS AND USE</b></p>

<p>All Creators will need to register with the Foundation to Use the SPace Portal.</p>
<p>As a Creator you represent and warrant that you are of legal age and are legally
competent to form a binding contract. If you’re agreeing to these Terms on behalf of
a department, institution, organization or legal entity, you represent and warrant that
you are duly authorized to agree to these Terms on behalf of that department,
institution, organization or entity and these Terms are binding on them.</p>
<p>We reserve the right to refuse or terminate registration if it is brought to our notice
that you are below 18 years of age.</p>
<p>All Creators who have additionally been authorised by the Foundation to create,
curate and publish Assets on the SPace Portal shall have read, write and edit rights
on the SPace Portal for developing and uploading Assets.</p>
<p>All Creators who have been authorised by the Foundation to create, curate and
publish Assets on the SPace Portal shall follow the Asset Guidelines of the SPace
Portal.</p>
<p>Creators must ensure that all their Assets published on the SPace Portal will be
available in the public domain. Creators are encouraged to use open licenses as
described in the License Policy.</p>
<p>Creators must ensure correct attribution and compliance of license terms and third
party intellectual property rights.</p>
<p><b>2. INTELLECTUAL PROPERTY RIGHTS</b></p>
<p>By uploading or linking Assets on the SPace Portal, you hereby grant the Foundation
and Users of the SPace Portal a non-exclusive, royalty-free, license to copy, store,
communicate, transmit, display, view and use the intellectual property applicable to
your Assets for the purpose of hosting your Assets on the SPace Portal.</p>
<p>You agree to subscribe to the open licensing framework and will add appropriate
attributions and links to licences for the Assets you have added, modified or linked to
the SPace Portal. Check the guide to the SPace License Guidelines for further
information.</p>
<p><b>3. OBLIGATIONS OF THE CREATOR</b></p>
<ol type="a"> <li> You must access the SPace Portal only for the purpose of uploading Assets
and/or linking Assets to the SPace Portal and to further modify such Assets . Use of
the SPace Portal for any reason other than for the purpose of sharing Assets is
prohibited.</li>
<li> You agree that while using the SPace Portal, you shall adhere to the Asset
Guidelines, including not posting, uploading, publishing, transmitting or sharing any
Asset that: (i) abuses, defames, harasses, libels, disparages or threatens, harms or is
likely to harm another User of the SPace Portal or any other third party; (ii) is
blasphemous, obscene, pornographic, paedophilic, ethically objectionable, or harms
minors in any way, impersonates another person, or uses software viruses or any
other computer codes, files or programs designed to interrupt, destroy or limit the
functionality of the SPace Portal.</li>
<li> You will be responsible and liable for all the activity on the SPace Portal in relation
to your registered Creator’s account.</li>
<li> You agree not to access or attempt to access any Asset available on the SPace
Portal by any means other than through the web interface that is available at -
sb2.sunbird.org/space/ .</li>
</ol>
<p><b>4. RESERVATIONS</b></p>
<p>The Foundation reserves the right to not publish on or remove from the SPace Portal
any Asset which has been provided by the Creator. The Creator also agrees that the
Foundation shall have the right to review, suggest changes, make recommendations
and where necessary be able to make minor changes to Assets provided by the
Creator.</p>
<p><b>5. PRIVACY POLICY</b></p>
<p>If you collect any personal information or sensitive personal data or information of
the Users through the SPace Portal, you must ensure that such collection, storage,
transfer and disclosure is in accordance with Indian law currently in force, including
but not limited to the Information Technology (Reasonable Security Practices and
Procedures) Rules, 2011. Any information collected by you will not be reviewed,
screened or monitored by the Foundation and under no circumstances shall the
Foundation be liable for any information collected or processed by you.</p>
<p><b>6. LIMITED LIABILITY</b></p>
<p>The Foundation is not responsible for any data or information that is collected by you
for the purpose of use of your Assets, including compilation for assessing trends
among users.</p>
<p>You are responsible for all Assets posted, uploaded, transmitted, sent, shared, linked
and received by you on the SPace Portal. You are responsible for all activities and
transmissions through your registered SPace Portal Creator’s account. You are solely
responsible for maintaining the security and confidentiality of the username and
password required to access the SPace Portal. You must immediately notify the
Foundation of any unauthorised use of your username or password or any other
breach of security. The Foundation will not be liable for any loss or damage arising
from your failure to comply with this provision.</p>
<p><b><u>Part III: Terms Applicable to User(s)</u></b></p>
<p><b>1. OBLIGATIONS OF THE USER</b></p>
<ol type="a">
<li> You access the SPace Portal to Use the Assets.</li>
<li> You will be responsible and liable for any activity on SPace Portal by you.</li></ol>
<p><b>2. PRIVACY POLICY</b></p>
<p>Creators may collect personal information as well as any sensitive personal data or
information from you for the purpose of accessing and using their asset on/through
the SPace Portal. The Foundation is not responsible for any such information that
you provide to any Creator or any failure on their part in compliance with applicable
data protection laws.</p>
<p><b><u>Part IV: General Terms of Use</u></b></p>
<p><b>1. ACCESS AND USE</b></p>
<p>As a User you represent and warrant that you are of legal age and are legally
competent to form a binding contract. If you’re agreeing to these Terms on behalf of
a department, institution, organization or legal entity, you represent and warrant that
you are duly authorized to agree to these Terms on behalf of that department,
institution, organization or entity and these Terms are binding on them.
All Users shall have access to all the Assets available on the SPace Portal for the
purpose of learning, creating, finding, viewing Assets, and sharing Assets with other
Users, through the web domain of the SPace Portal - sb2.sunbird.org/space/ . It is
possible that your access and use of Assets on the SPace Portal, may be disrupted
due to technical or operational difficulties and with no prior notice of downtime. The
Foundation makes no guarantee as to the continuous uptime and availability of the
SPace Portal or the quality of Assets on the SPace Portal.</p>
<p><b>2. INTELLECTUAL PROPERTY RIGHTS</b></p>
<p>"Intellectual Property" shall singly or collectively mean to include, as the case may be,
all patents, copyrights, trademarks, trade names, service marks, service names,
designs and any other proprietary information or other similar right arising or
enforceable under Indian law.</p>
<p>The SPace Portal contains copyrighted material, trademarks and other intellectual
property owned by the Foundation or the Creators. You agree not to copy, modify,
publish, transmit, distribute, perform, display, or sell any such intellectual property.
Access to or use of the SPace Portal does not confer upon anyone any license to the
Foundation's or any Creator’s Intellectual Property Rights. You agree that you will not
use the SPace Portal to scrape or attempt to scrape any Asset available on SPace.</p>
<p><b>3. LIMITED LIABILITY</b></p>
<p>We do not guarantee the accuracy, veracity, correctness, validity, usability, currency,
of any Assets made available on or linked through the SPace Portal. We shall not be
held responsible for any offensive or unlawful Asset posted, transmitted, sent or
communicated through the SPace Portal.</p>
<p><b>4. DISCLAIMER</b></p>
<p>The foundation provides the space portal on an "as is" basis and
    grants no warranties of any kind with respect to the space portal.
    the foundation specifically disclaims any implied warranties of
    fitness for a particular purpose or non-infringement. access and
    use of the SPace portal (including any asset or information
    available on/through the space portal) is entirely at your own risk.</p>
<p><b>5. INDEMNITY</b></p>
<p>You hereby agree to keep and hold the Foundation, its directors, officers, employees
and agents, fully indemnified and harmless from and against all claims, proceedings,
penalties, damages, losses, actions, costs and expenses arising out of or in relation to
your Use of the SPace Portal, your breach of these Terms, violation of any law, rules
or regulations in relation to your Use of the SPace Portal.</p>
<p><b>6. TERMINATION</b></p>
<p>Any violation or breach of the Terms may lead to automatic suspension or
termination of your account or access to the SPace Portal, for any reason
whatsoever, including while investigating complaints or alleged violation of these
Terms, or for use or attempt to use the SPace Portal for any purpose other than to
share Assets.</p>
<p><b>7. GOVERNING LAW AND DISPUTE RESOLUTION</b></p>
<p>These Terms shall be governed by the laws of India and any disputes or proceedings
arising hereunder shall be subject to the jurisdiction of the courts in Bangalore.</p>

</div>


  </section>