
<div *ngIf="(tempKey !== undefined && tempKey !== 'key'); else searchResults">
  <div class="row">
    <div class="col-md-12 mt-30">
      <form>
        <fieldset>
          <div *ngIf="formFieldProperties">
            <div *ngFor="let field of filtersDetails">
              <div class="text-white mb-3" *ngIf="field.inputType==='select' && field.code!==browsingCategory"  [class.fieldnotselected]="field.code !== tempKey">
                <div style="color: black;
                font-size: 19px;
                padding: 1rem;"
                >
                   <i alt="Filter" class="icon filter"></i>  &nbsp;{{field.name}}
                </div>
                <div class="filtersBody">
                  <div class="form-group" *ngIf="field.inputType==='select'" style="margin-bottom: 1rem;
                  line-height: 2rem;
                  padding: 0rem 0rem 0rem 3.5rem;">
                    <fieldset class="form-group" *ngIf="field.inputType==='select'">
                      <div class="form-check" *ngFor="let option of field.range">
                        <label class="form-check-label" id="textcolor">
                          <input (change)="onFilterChange($event)" name={{field.code}} class="form-check-input" type="checkbox"
                            [value]="option.name">
                         &nbsp; {{option.name}} </label>
                      </div>
                    </fieldset>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
<ng-template #searchResults>
  <div class="row">
    <div class="col-md-12 mt-30">
      <form>
        <fieldset>
          <div *ngIf="formFieldProperties">
            <div *ngFor="let field of filtersDetails">
              <div class="text-white mb-3" *ngIf="field.inputType==='select' && field.code!==browsingCategory" [class.fieldselected]="tempKey===undefined">
                <div style="color: black;
                font-size: 19px;
                padding: 1rem;"
                >
                  <i alt="Filter" class="icon filter"></i>  &nbsp;{{field.name}}
                </div>
                <div class="filtersBody">
                  <div class="form-group" *ngIf="field.inputType==='select'" style="margin-bottom: 1rem;
                  line-height: 2rem;
                  padding: 0rem 0rem 0rem 3.5rem;">
                    <fieldset class="form-group" *ngIf="field.inputType==='select'">
                      <div class="form-check" *ngFor="let option of field.range">
                        <label class="form-check-label" id="textcolor">
                          <input (change)="onFilterChange($event)" name={{field.code}} class="form-check-input" type="checkbox"
                            [value]="option.name">
                         &nbsp; {{option.name}} </label>
                      </div>
                    </fieldset>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</ng-template>