@import "~bootstrap/dist/css/bootstrap.min.css";

#textcolor{
  color: black;
  font-size: larger;
}
.color{
  background-color: navy;
}
.filter-category {
    background-clip: none;
    border:none;
    border-radius: none;
}