<div class="container mt-2" [appTelemetryImpression]="telemetryImpression">
    <h4>Add a New Asset</h4>
    <hr>
    <form class="ui form">
        <div class="content">
            <div *ngIf="formFieldProperties && categoryMasterList">
                <app-space-default-template #formData [uploadContent]="uploadContent" [formFieldProperties]="formFieldProperties"
                    [categoryMasterList]="categoryMasterList">
                </app-space-default-template>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="field-value" id="link" value="link" checked
                            (change)="isDisabled($event)" />
                        <label class="form-check-label" for="link">
                            Link:
                        </label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check">
                       <input class="form-check-input" type="radio" name="field-value" id="uploadFile"
                            value="uploadFile" (change)="isDisabled($event)" />
                        <label class="form-check-label" for="uploadFile">
                            Upload File
                        </label>
                        <!-- <button (click)="checkFields()">upload</button> -->
                    </div>
                </div>
                <!-- <div class="col">
                        <div class="form-check">
                                <input class="form-check-input" type="radio" name="field-value" id="uploadContent"
                                value="uploadContent" (change)="isDisabled($event)" />
                            <label class="form-check-label" for="uploadContent">
                                Create content
                            </label>
                        </div>
                    </div> -->
            </div>
<!-- <button (click)="checkFields()">upload</button> -->
<!-- <button  routerLink="../edit/generic/">upload</button> -->
            <div *ngIf="uploadLink==='link'">
                <div *ngFor="let fields of formFieldProperties;let i = index">
                    <div *ngIf="fields.inputType==='text' && fields.code==='link'" class="required field"
                        [ngClass]="{ 'disabled':!fields.editable}">

                        <div class="field required">
                            <label>
                          
                            </label>
                            <input name={{fields.code}} type={{fields.inputType}} id="style"
                                placeholder={{fields.placeholder}} [(ngModel)]="link">

                        </div>
                    </div>
                </div>
                <div class="actions mt-10">
                    <p class="text-align-center pt-20">
                        <button class="btn btn-default btn-sec mr-5 btn-lg text-light" id="res-btn" (click)="checkFields()"
                        [disabled]="uploadbtnStatus" type="button">Save Asset</button>
                        <button type="button" class="btn btn-outline btn-lg" (click)="goToCreate()">Cancel</button>

                    </p>

                </div>
            </div>
            <div *ngIf="uploadLink==='uploadFile'">
                <!-- <div class="form-group" *ngIf="enabled">
                    <label for="exampleInputFile"></label>
                    <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp"
                        accept="application/pdf" (change)="basicUploadFile($event)">
                    <small id="fileHelp" class="form-text text-muted">File accepted - pdf, Max file size - 50 Mb</small>
                </div> -->
                <div class="actions mt-10">
                    <p class="text-align-center pt-20">
                        <button class="btn btn-default btn-sec mr-5 btn-lg text-light" 
                            [disabled]="uploadbtnStatus" type="button" (click)="checkFields()">Upload File</button>
                        <button type="button" class="btn btn-outline btn-lg" (click)="goToCreate()">Cancel</button>

                    </p>

                </div>
            </div>
            <div *ngIf="uploadLink==='uploadContent'">  
                    <div class="actions mt-10">
                        <p class="text-align-center pt-20">
                            <button class="btn btn-default btn-sec btn-lg text-light mr-5" 
                                type="button" (click)="checkFields()">Create Content</button>
                            <button type="button" class="btn btn-outline btn-lg" (click)="goToCreate()">Cancel</button>
    
                        </p>
    
                    </div>
                </div>
    

        </div>
    </form>
</div>

<router-outlet></router-outlet>