@import '../../../../../../node_modules/bootstrap/dist/css/bootstrap.min.css';

h4 {
    font-size: 40px;
    color: #636363;
    font-family: 'CampaignMedium';
}

.container {
    width: 950px !important;
}
#style {
    border: 1px solid #e4e4e4;
    color: #707070;
    border-radius: 7px;
}
label {
    font-family: 'CampaignMedium';
    font-size: 1.25em;
    font-weight: 500 !important;
   // font-weight: 400;
}
.btn-sec {
 background-color: #865BA0 !important;

  border: none;
  border-radius: 5px;
  height: 40px;
  font-family: 'MonsterattRegular_2';
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500 !important;
  box-shadow: none;
  cursor: pointer;
}
.btn-outline :hover{
    background-color:  #865BA0 !important;
    border-color:  #865BA0 !important;
    color: white
}
.btn-outline {
    color: #865BA0;
    padding: 9px 30px;
    border-color:  #865BA0 !important;
  border-radius: 5px;
  height: 40px;
  font-family: 'MonsterattRegular_2';
  font-size: 15px;
  width: 120px;
  text-transform: uppercase;
  font-weight: 500 !important;
  box-shadow: none;
  cursor: pointer;
}
@media screen and (min-width:320px) and (max-width:980px) {
    .container {
        width: 90vw !important;
        height: 91rem;
    }
    #res-btn {
        margin-right: 0rem !important;
    }
    #res-align {
        padding-top: 0rem !important;
    }
    .ui.column.grid>[class*="four wide"].column, .ui.grid>.column.row>[class*="four wide"].column, .ui.grid>.row>[class*="four wide"].column, .ui.grid>[class*="four wide"].column {       
         width: 91vw !important;;
    }
    h4 {
        font-size: 26px;
    }
   }