// @import '../../../../../../node_modules/bootstrap/dist/css/bootstrap.min.css'

.ui.selection.dropdown {
    border: 1px solid #707070;
   background: #707070;
   color: #cdcccc
}

.text {
    color: white
}
