<div class="ui container">
    <div [appTelemetryImpression]="telemetryImpression" class="ui grid">
        <div class="twelve wide column">
            <div class=" ui grid">
                <div class="twelve wide column">
                    <app-data-driven-filter [enrichFilters]="facetsList" [pageId]="'course-search'" *ngIf="initFilters"
                        [ignoreQuery]="['key']" [filterEnv]="filterType" [accordionDefaultOpen]=false
                        [isShowFilterLabel]=true [formAction]="'filter'" [frameworkName]="frameWorkName"
                        (dataDrivenFilter)="getFilters($event)"></app-data-driven-filter>
                </div>
            </div>
            <div class=" ui clearing segment content-player-header search-content-header"
                *ngIf="!showLoader && contentList.length && this.queryParams.key">
                <div class="ui left floated header  ">
                    <p class="serch-allresult">{{resourceService.frmelmnts?.lbl?.showingResultsFor |
                                    interpolate:'{searchString}':this.queryParams.key}}
                    </p>

                </div>
                <h5 appTelemetryInteract [telemetryInteractEdata]="closeIntractEdata"
                    class="ui right floated basic icon circular button" [routerLink]="['/learn']">
                    <i class="ui remove icon "></i>
                </h5>
            </div>
            <div in-view-container (inview)="inView($event)" [throttle]="[1000]" [trigger]="contentList"
                *ngIf="!showLoader && contentList.length" class="ui stackable four column grid dynamic-section-card ">
                <div in-view-item [id]="i" [data]="content" class="column py-5 pl-10"
                    *ngFor="let content of contentList;let i = index;">
                    <app-card appContentDirection appTelemetryInteract [telemetryInteractEdata]="cardIntractEdata"
                        [telemetryInteractObject]="{id:content.metaData.identifier || content.metaData.courseId,type:content.metaData.contentType || 'Course',ver:'1.0'}"
                        [data]="content" (clickEvent)="playContent($event)"></app-card>
                </div>
            </div>
        </div>
    </div>


</div>
