
<div class="col-md-1">
    <button type="button" class="btn text-secondary ml-4" id="style"
        (click)="navigateToDetailsPage()"><i class="fa fs-2 fa-angle-left"></i></button>
</div>

<div class="container mt-30" *ngIf="!showLoader ">
    <iframe [src]="assetDetail" class="pdf" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" allowfullscreen class="e2e-iframe-untrusted-src"></iframe>

</div>

<div class="container mt-20" *ngIf="showLoader ">
 
    <app-loader [data]="loaderMessage"></app-loader>

</div>