@import '../../../../../../node_modules/bootstrap/dist/css/bootstrap.min.css';

#style {
    border-radius: 50%;
     background: gainsboro;
     width: 30px;
     height: 30px;
     text-align: center;
     padding: 2px 2px;
  }