@import "~bootstrap/dist/css/bootstrap.min.css";
.ft-copyright {
    background-color: #000a1f;
    border-top: 1px solid #121d6d;
    display: flex;
}
.text-pp-crt,
	.text-pp-crt-rg {
		color: #FFFFFF;
    }
    .developer {
		text-align: center;
	}