@import "~bootstrap/dist/css/bootstrap.min.css";

#style {
    border-radius: 50%;
     background: gainsboro;
     width: 40px;
     height: 40px;
     text-align: center;
     padding: 2px 2px;
     float: left;
     margin-bottom: 1rem;
  }
  .img{
      height: 2rem;
  }
  #myModal{
      position: absolute;
  }
    
  .card-header {
    background: #585858
  }
  .fa {
      font-size: 30px;
  }
  span {
    display: -webkit-inline-box;
    list-style: none;
  }
  h5 {
    padding-top: 0.5rem;
    float: left;
    text-transform: capitalize;
  }
  .card-footer {
    padding: .75rem 1.25rem;
    background-color: white !important;
    border-top: 0px solid rgba(0,0,0,.125) !important; 
}
.card {
 box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
 font-family: 'Muli', sans-serif;
}

#stylefav {
  border-radius: 50%;
  background: gainsboro;
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 2px 2px;
  margin-top: -32px;
  font-size: 25px;
  margin-right: 1rem;
 }

 @media screen and (min-width:320px) and (max-width:760px) {
.res-header {
  margin-top: -4rem;
  margin-left: 5rem;
}
// .res-para {
//   margin-left: -5rem;

// } 

 }

@media screen and (min-width:761px) and (max-width:980px) {
  .res-header {
    margin-top: 0rem;
    margin-left: 2rem;
  }
  .res-para {
    margin-top: 0.5rem;
    margin-left: 0rem;
  }
}
.pdfStyle {
  cursor: pointer;
  color: #6e71c3
}