@import "../../../../../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "variables";

.ui.text.menu .item {
  padding: .35714286em .86em;
}

.ui.text.menu .item:hover {
  color: $link-color;
}

.ui.text.menu .item.active {
  font-weight: bold;
  color: $link-color;
}

.ui.vertical.menu .active.item,
.ui.vertical.menu .sign-in.item {
  color:$link-color;
  font-weight: bold;
  background: none;
}

.side-bar-close-icon {
  position: absolute;
  top: 6px;
  right: 0;
  font-size: 1.2rem;
  color: $link-color;
  z-index: 888;
  height: 35px;
  width: 35px;
  vertical-align: middle;
  line-height: 35px;
}
.ui.text.menu[_ngcontent-c7] .item.active[_ngcontent-c7] {
  font-size: 1rem !important;
    color: #FFFFFF !important;
  }
  .item{
    color: #FFFFFF !important;
  }
.sign-in {
  color: $link-color;
  font-weight: bold;
  background: none;
}

.fixed-logout-btn {
  position: fixed !important;
  bottom: 0;
  width: 100%;
  font-weight: bold !important;
  color: $link-color !important;
  border-top: 1px solid rgba(34,36,38, .15) !important;
}
.ui.menu .item>img:not(.ui) {
  width: 1.5rem !important;
  height: 1.8rem !important;
  color: #BCBCCB !important;
}