@import '../../../../../../node_modules//bootstrap//dist//css/bootstrap.min.css';

.ui.dropdown:not(.button) .default.text {
    color: white;
}

.ui.dropdown .text {
    color: white;
}
.ui.selection.dropdown {
    border: 1px solid #707070;
   background: #707070;
   color: #cdcccc
}

hr {
    border-top: 2px solid rgba(0,0,0,.1);
}

sui-select {
    background: #707070;
    color: #c3c2c2;
}

#style {
    border: 2px solid #707070;
    color: #707070;

}

.ui.form .field.selection.dropdown {
    width: 50%  ;
}
.ui.form .field>.selection.dropdown {
    width: 60%;
}
#keywords {
    border: 1px solid #707070;
    background: #707070;
}


    label 
        { float: left; width: 10em; margin-right: 1em;
        display: contents !important}
        .text span {
            color: #c3c2c2;
        }

        #board > div.text > span:nth-child(2) {
            color: white;
        }

        @media only screen and (min-width: 992px) {
                 .modals.dimmer .ui.tree-picker.content-creation-concept-picker.scrolling.modal {
                   top: 60px !important;
                   position: relative !important;
                   margin: 0 0 0 -373px !important;
                 }
                }

                .modals.dimmer .ui.tree-picker.content-creation-concept-picker.scrolling.modal {
                   height: fit-content !important;
                  }