@import "variables";

.ui.label {
//   background: $label-color !important;
  color: #fff;
  padding: 3px 6px !important;
}
.ui.button {
  background: white !important;
  color:#a8abe3;
  padding: 4px 10px !important;
  font-weight: 500;
  height: 25px;
  box-shadow: none !important;
  white-space: nowrap;
  height: 40px;
  font-family: "Muli",sans-serif;
  font-size: 15px;
  border: 1px solid #a8abe3 !important;
}
.pageSection-heading {
  font-size: 1.143rem !important;
  display: inline;
  text-transform: lowercase;
  &::first-letter{
    text-transform: uppercase;
  }
}
.ui.divider {
  border-top: 1px solid #e4e4e4 !important;
  border-bottom: 0 !important;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

@media not all and (min-width: 1200px) {
.row {
  justify-content: space-around
}

.ui.grid {
  justify-content: flex-end;
}

}