.e2e-iframe-untrusted-src {
    border: 1px solid #CCC;
    border-width: 1px;
    margin-bottom: 18px;
    max-width: 100%;
    width: inherit;
    height: 559px;
}


#style {
    border-radius: 50%;
    background: #451771 !important;
    color: white !important;
    border-color: #451771 !important;
     width: 40px;
     height: 40px;
     text-align: center;
     padding: 2px 2px;
     float: left;
     margin-bottom: 1rem;
  }