
  <section>
      <div class="thumbnail text-center">
        <img src="../../.../../../../../assets/images/banner_bg.jpg" alt="" class ="img-fluid" >
        <div class="caption">
            <div class="container">
         <h1> Welcome To Common License</h1> 
  
           <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit sint, tempora alias rem tenetur minima incidunt natus consequuntur aliquam ea velit ad unde illum perspiciatis nostrum tempore molestiae recusandae magnam?</p>
           <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit sint, tempora alias rem tenetur minima incidunt natus consequuntur aliquam ea velit ad unde illum perspiciatis nostrum tempore molestiae recusandae magnam?</p>
  
           </div>
          </div>
          </div>
    </section>