<div class="container-fluid">

  <div class="row ">
    <div class="col-md-3" id='scroll'>
      <div class="filters computer only">
        <app-catalog-filters (appliedFilters)="appliedFilters($event)" [pageId]="'course-search'" *ngIf="filterType"
          [ignoreQuery]="['key']" [filterEnv]="filterType" [isShowFilterLabel]=true></app-catalog-filters>
      </div>
      <div class="mobile-view-filters mobile only">
          <div >
              <app-catalog-filters (appliedFilters)="appliedFilters($event)" [pageId]="'course-search'" *ngIf="filterType"
              [ignoreQuery]="['key']" [filterEnv]="filterType" [isShowFilterLabel]=true></app-catalog-filters>
          </div>
        </div>
    </div>

    <div class="col-md-9">
      <div class="courses">

        <div class="jumbotron" *ngIf="noResult && !showLoader">
          <app-no-result [data]="noResultMessage"></app-no-result>
        </div>
        <div class="jumbotron" *ngIf="showLoader">
          <app-loader [data]='loaderMessage'></app-loader>
        </div>
        <div class="jumbotron" *ngIf="!showLoader && !noResult">

          <div class="row ">
            <div in-view-item [id]="i" [data]="content" class="col-md-4"
              *ngFor="let content of searchList ;let i = index;">
              <div class="d-flex justify-content-start card-width">
                <app-card appTelemetryInteract [telemetryInteractEdata]="cardIntractEdata"
                  [telemetryInteractObject]="{id:content.metaData.identifier || content.metaData.courseId,type:content.metaData.contentType || 'Course',ver:'1.0'}"
                  [data]="content" (clickEvent)="playContent($event)" class=""></app-card>

              </div>
            </div>
          </div>
        </div>
        <div *ngIf="searchList && totalCount > config.appConfig.SEARCH.PAGE_LIMIT && !showLoader && !noResult">
          <ul class="pagination pagination-lg justify-content-center" *ngIf="pager.pages.length">
            <li class="page-item">
              <a class="page-link px-3 mx-2" tabindex="-1" (click)="navigateToPage(1)">{{resourceService.frmelmnts.lbl.first}}</a>
            </li>
            <li class="page-item">
              <a class="page-link px-3 mx-2" tabindex="-1" (click)="navigateToPage(pager.currentPage - 1)">&laquo;</a>
            </li>
            <li *ngFor="let page of pager.pages ; let index" class="page-item"
              [ngClass]="{active:pager.currentPage===page}">
              <a class="page-link px-3 mx-2" tabindex="index" (click)="navigateToPage(page)">
                {{page}}</a>
            </li>
            <li class="page-item">
              <a class="page-link px-3 mx-2" tabindex="-1" (click)="navigateToPage(pager.currentPage + 1)">&raquo;</a>
            </li>
            <li class="page-item">
              <a class="page-link px-3 mx-2" tabindex="-1" (click)="navigateToPage(pager.totalPages)">{{resourceService.frmelmnts.lbl.last}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

