@import "~bootstrap/dist/css/bootstrap.min.css";
.thumbnail {
    position: relative;
    margin-bottom: 0;
    border: 0;
    border-color: transparent;
    padding: 0 !important;
    /* background-image: url('../../../../../assets/images/spacebannernew.jpg'); */
  }

  .caption {
    position: absolute;
    top: 21%;
    left: 0;
    width: 100%;
    color: #FFFFFF;
  }
  .text {
    width: 100%;
    margin: auto;
    display: block;
    font-size: 17px;
    font-family: 'MonsterattRegular_2';
    font-weight: 500 !important;
  }
  .text-ac {
    font-family: 'CampaignMedium';
    color: white;
    /* font-weight: bold; */
  }
  .text p {
    line-height: 2em;
    font-size: 17px;
  }
  li {
    line-height: 2em;
    font-size: 17px;
  }
  .jumbotron {
    background-color: #686365;
  }
  .cimage{
    background-image: url('../../../../../assets/space/DataPrivacyPolicyBanner.png');
    background-size: cover;
    background-position:center;
  }
  @media screen and (max-width:820px ) and (min-width: 312px) {
    .text{
        width: auto;
    }
  }