<div class="containner">
  <div class="row justify-content-center pt-10 pb-20 style">
      <div class="add_user" *ngIf="enableadduser">
        <div class="card justify-content">
          <form
            class="form-width px-5 py-4"
          >
            <div class="form-group">
              <label>Name</label>
              <input
                type="text"
                class="form-control"
                placeholder="Name"
                name="firstName"
                [formControl]="name"
                required
                ngModel
              />
            </div>
            <div class="form-group">
              <label>User Name</label>
              <input
                type="text"
                class="form-control"
                placeholder="Username"
                name="username"
                [formControl]="username"
                required
                ngModel
              />
            </div>
            <div class="row mb-3">
                <div class="col">
                  <div class="form-check" >
                    <input
                      class="form-check-input"
                      type="radio"
                      name="field-value"
                      id="email"
                      value="email"
                      checked
                      (change)="isDisabled($event)"
                    />
                    <label class="form-check-label" for="email">
                      Email
                    </label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="field-value"
                      id="phone"
                      value="phone"
                      (change)="isDisabled($event)"
                    />
                    <label class="form-check-label" for="phone">
                      Phone Number
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group" *ngIf="enabled">
                <input
                  type="email"
                  class="form-control"
                  placeholder="Email"
                  name="email"
                  [formControl]="email"
                  required
                  ngModel
                />
              </div>
              <div class="form-group" *ngIf="!enabled">
                <input
                  type="number"
                  class="form-control"
                  placeholder="PhoneNumber"
                  name="phonenumber"
                  [formControl]="phonenumber"
                  required
                  ngModel
                />
              </div>
            <div class="form-group">
              <label>Password</label>
              <input
                type="password"
                class="form-control"
                placeholder="password"
                name="password"
                [formControl]="password"
                ngModel
                required
              />
            </div>
            <div class="form-group">
              <label>Confirm Password</label>
              <input
                type="password"
                class="form-control"
                placeholder="confirm password"
                name="cpassword"
                [formControl]="cpassword"
                ngModel
                required
              />
            </div>
            <button type="submit" class="btn btn-secondary float-ContentRight btn-purple " (click)="submit()">Create User</button>
          </form>
        </div>
      </div>
    </div>
  </div>