<!-- <div [appTelemetryImpression]="telemetryImpression" class="bgc" style="background: white !important">
  <app-prominent-filter [formAction]="'filter'" [frameworkName]="frameWorkName" [pageId]="'course-page'" *ngIf="initFilters"
    [filterEnv]="filterType" [ignoreQuery]="['key']" [accordionDefaultOpen]=true [isShowFilterLabel]=true
    [showSearchedParam]=true [isShowFilterLabel]=true [hashTagId]="hashTagId" (prominentFilter)="getFilters($event)"></app-prominent-filter>
  <div class="container mt-30">
      <div class="alert alert-dark" role="alert" style="color: #1b1e21;
      font-size: 18px;
      background:white;
      border: none;
      ">
          Enrolled Courses
        </div>
            <div class="twelve wide column" *ngIf="enrolledSection?.contents?.length">
                <app-page-section *ngIf="enrolledSection?.contents?.length" (visits)="prepareVisits($event)" [section]="enrolledSection"
                  (playEvent)="playContent($event)" (viewAll)="viewAll($event)"></app-page-section>
              </div>
          <div class="twelve wide column" #elseBlock *ngIf="completedSection?.contents?.length >= 1">
            <app-page-section *ngIf="completedSection?.contents?.length >=1" (visits)="prepareVisits($event)" [section]="completedSection"  
              (playEvent)="playContent($event)" (viewAll)="viewAll($event)"></app-page-section>
          </div>
      <div class="ui twelve wide column my-5 pageSection-Divider">
          <div class="ui divider m-0"></div>
      </div>
  </div>
  <div class="container">
    <div class="ui grid stackable my-0">
      <div class="twelve wide column" *ngFor="let section of carouselData;let last = last" [ngClass]="{'last mb-30':last}">
        <app-page-section (visits)="prepareVisits($event)" [section]="section" (playEvent)="playContent($event)"
          (viewAll)="viewAll($event)"></app-page-section>
      </div>
      <div class="twelve wide column" *ngIf="showLoader">
        <app-loader [data]='loaderMessage'></app-loader>
      </div>
      <div class="twelve wide column" *ngIf="carouselData.length === 0 && !showLoader">
        <app-no-result [data]="noResultMessage"></app-no-result>
      </div>
    </div>
  </div>
</div> -->
<div class="corporate-header-tabs">
  <div class="container custom-container">
      <p>My Enrolled Courses<span class="three-bubble"> <img src="../../../../../assets/fa/bubbles.png" style="height:100px;width:100px"></span></p>
    
      <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab"  role="tab" aria-selected="true" href="#menu1">My Courses</a>
            </li>
           <!-- <li class="nav-item">
              <a class="nav-link" data-toggle="tab"  role="tab" aria-selected="false" href="#menu2">Wishlist</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab"  role="tab" aria-selected="false" href="#">Archived</a>
            </li>
            -->
        </ul>
  </div>
      </div>
<div class="tab-content"  style="background-color:#f9f9f9" [appTelemetryImpression]="telemetryImpression">
<app-prominent-filter [formAction]="'filter'" [frameworkName]="frameWorkName" [pageId]="'course-page'" *ngIf="initFilters" [filterEnv]="filterType"  [ignoreQuery]="['key']" 
  [accordionDefaultOpen]=true [isShowFilterLabel]=true [showSearchedParam]=true [isShowFilterLabel]=true [hashTagId]="hashTagId" (prominentFilter)="getFilters($event)"></app-prominent-filter>

  <div class="container tab-pane active custom-container" id="menu1">
  <div class="ui grid stackable my-0">
    <div class="twelve wide column" *ngIf="enrolledSection?.contents?.length">
      <app-page-section *ngIf="enrolledSection?.contents?.length" (visits)="prepareVisits($event)" [section]="enrolledSection" (playEvent)="playContent($event)" (viewAll)="viewAll($event)"></app-page-section>
    </div>
    <!-- <app-top-categories></app-top-categories> -->
    <p style="font-size:21px;margin-top: 47px;">Course Recommendation</p>
    <div class="twelve wide column" *ngFor="let section of carouselData;let last = last" [ngClass]="{'last mb-30':last}">
      <app-page-section (visits)="prepareVisits($event)" [section]="section" (playEvent)="playContent($event)" (viewAll)="viewAll($event)"></app-page-section>
    </div>
    <div class="twelve wide column" *ngIf="showLoader">
      <app-loader [data]='loaderMessage'></app-loader>
    </div>
    <div class="twelve wide column" *ngIf="carouselData.length === 0 && !showLoader" >
      <app-no-result [data]="noResultMessage"></app-no-result>
    </div>
    <div>
      <!-- <app-page-section-new></app-page-section-new>-->
    </div>
</div>
</div>
<!-- <div class="container tab-pane fade" id="menu2">
    <p>Second</p>
  </div> -->
</div>
