@import "../../../../../../node_modules/bootstrap/dist/css/bootstrap.min.css";

// /* @import "variables"; */
 .thumbnail {
  position: relative;
  margin-bottom: 0;
  border: 0 transparent;
  padding: 0!important;
   }
.text-center {
    text-align: center!important;
}
   .caption-1{
    // position: absolute;
    top: 9%;
    left: 0;
    width: 100%;
    color: #000;
   } 
 .text-c{
     width: 54rem;
     margin: auto;
     display: block;
     font-size: 17px;
     font-family: 'MonsterattRegular_2';
     font-weight: 500 !important;
     margin-bottom: 1rem !important;
 }
 .fa-1{
  font-size: 32px;
 // font-weight: 700;
  font-family: 'CampaignMedium',Bold;
  margin-bottom: 0!important;
 }
 .text-1{
  font-size: 24px;
  font-style: italic;
  font-family: 'CampaignMedium';
 }
p {
  margin: 0 0 1rem;
  line-height: 1.7em;
}
//  .text-c {
//   width: 54rem;
//   margin: auto;
//   display: block;
//   font-size: 17px;
//   font-family: 'Muli',sans-serif;
//   margin-bottom: 1rem!important;
//  }
 .pb-5 {
  padding-bottom: 5px!important;
}
 .userloggedin {
   width: 100vw !important;
 }
 @media (min-width: 992px){
.pt-lg-4, .py-lg-4 {
    padding-top: 1.5rem!important;
}
 }
 @media (min-width: 1200px) {
.container {
    max-width: 1140px;
}
 }
@media (min-width: 992px){
.container {
    max-width: 960px;
}
}
@media (min-width: 768px){
.container {
    max-width: 720px;
}
}

