<div [appTelemetryImpression]="telemetryImpression">
<div class="userloggedin">
    <div class="item active">
        <div class="thumbnail text-center" >
                <!-- <div class="img-fluid"></div> -->

            <!-- <img src="../../.../../../../../assets/images/spacebannernew.jpg" alt="" class="img-fluid"> -->
            <div class="caption-1" >
                    <div class="container">
                        <p class="fa-1 pt-lg-4"> Welcome to SPace!</p>
                        <!-- <p class="text-1">
                            Societal Platform Asset Collaboration Environment
                        </p><br> -->
                        <p class="text-c" *ngFor="let data of userContents;let j =index">

                          <span class="pb-5" *ngFor="let content of data;let i =index">
                       {{content}} <br>
                       <span *ngIf="i === 0"><br></span>
                          <span *ngIf=" (i+1 )===data.length"><br></span>
                          </span>
                        </p>
        </div>
    </div>

</div>
</div>
</div>
</div>