<!-- <div class="landing-page-section mb-20">
    <div class="ui container">
        <div class="ui stackable grid py-20">
            <div class="six wide column">
                <img class="ui fluid image" src="{{'assets/images/landingPage.jpg' |  cdnprefixurl}} " />
            </div>
            <div class="six wide column">
                <p>In 2000, ten years later, the international community met again at the World Education Forum in Dakar, Senegal,
                    an event which drew 1100 participants.</p>
                <p>The forum took stock of the fact that many countries were far from having reached the goals established at the
                    World Conference on Education for All in 1990.</p>
                <br/>
                <p>The participants agreed on the Dakar Framework for Action which re-affirmed their commitment to achieving Education
                    for All by the year 2015, and identified six key measurable education goals which aim to meet the learning
                    needs of all children, youth and adults by 2015.</p>
                <br/>
                <a href="#">Read More > </a>
            </div>
        </div>
    </div>
</div>

<div class="ui container">
<div class="ui stackable grid">
    <div class="eight wide column ">
        <div class="ui segment">
            <div class="header p-10 segment-heading">
                <span>Featured Articles</span>
                <a href="#" class="right-floated">View All</a>
            </div>
            <br>
            <div class="ui two stackable cards">
                <div class="ui card">
                    <div class="content card-opacity">
                        <div class="description">
                            <p>Enrollment info for life skill training Enrollment info for life skill training Enrollment info
                                for life skill training Enrollment info for life skill training Enrollment info for life
                                skill training Enrollment info for life skill training</p>
                        </div>
                    </div>
                    <h4 class="article-header-padding">Enrollment info for life skill training</h4>
                </div>
                <div class="ui card">
                    <div class="content card-opacity">
                        <div class="description">
                            <p>Polytechnics information june 2017 Polytechnics information june 2017 Polytechnics information
                                june 2017 Polytechnics information june 2017 Polytechnics information june 2017 Polytechnics
                                information june 2017</p>
                        </div>
                    </div>
                    <h4 class="article-header-padding">Polytechnics information june 2017</h4>
                </div>
                <div class="ui card">
                    <div class="content card-opacity">
                        <div class="description">
                            <p>Academic inspection formats Academic inspection formats Academic inspection formats Academic
                                inspection formats Academic inspection formats Academic inspection formats</p>
                        </div>
                    </div>
                    <h4 class="article-header-padding">Academic inspection formats</h4>
                </div>
                <div class="ui card">
                    <div class="content card-opacity">
                        <div class="description">
                            <p>ABC initiatives in practice ABC initiatives in practice ABC initiatives in practice ABC initiatives
                                in practice ABC initiatives in practice ABC initiatives in practice</p>
                        </div>
                    </div>
                    <div class="article-header-padding">ABC initiatives in practice</div>
                </div>
            </div>
        </div>
    </div>
    <div class="four wide column">
        <div class="ui segment">
            <div class="content">
                <div class="header segment-heading">
                    <span>Announcements</span>
                    <a class="right-float">View All</a>
                </div>
                <div class="description mt-10">
                    <div class="ui relaxed divided list">
                        <div class="item">
                            <div class="content">
                                <a class="header text-decoration-underline">Exam Date Announced </a>
                                <br>
                                <div class="description">An excellent polish restaurant, quick delivery and hearty, filling meals.</div>
                            </div>
                        </div>
                        <br/>
                        <div class="item">
                            <div class="content">
                                <br/>
                                <a class="header text-decoration-underline">Exam Date Announced </a>
                                <br>
                                <div class="description">An excellent polish restaurant, quick delivery and hearty, filling meals.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="ui segment">
            <div class="content">
                <div class="header segment-heading">
                    <span>Calendar</span>
                    <a class="right-float">View All</a>
                </div>
            </div>
        </div>
        <button type="button" onclick="openModal()" class="ui basic fluid button mt-5">ORGANIZATIONS</button>
    </div>
</div>
</div>
<router-outlet></router-outlet> -->
<!-- <section>
    <div class="thumbnail text-center">
        <img src="../../.../../../../../assets/images/banner_bg.jpg" alt="" class ="img-fluid" >
        <div class="caption">
            <div class="container">
        <p class="fa">Welcome to</p>
         <p class="fax">Societal Platform Thinking</p>
         <p class="text"> Societal platform is a approach to resolve large , complex , systamic challenges with speed at scale and sustainably.It catalyses the ecosystem of samaaj (Society),Sarkar (Goverment) and Bazzar (market) to co-create and innovative through open public Infrastructure and Technology </p>
       <br> <button  class="ui explore green1 button flex-as-center mr-20"
                    tabindex="0" routerLink="/explore">
                   Explore Assets
        </button>
        </div>
        </div>
        </div>
</section> -->

<div class="">
     
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
          </ol>
      
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
      
            <div class="item active">
                    <div class="thumbnail text-center">
                            <img src="../../.../../../../../assets/images/banner_bg.jpg" alt="" class ="img-fluid" >
                            <div class="caption">
                                <div class="container">
                            <p class="fa">Welcome to</p>
                             <p class="fax">Societal Platform Thinking</p>
                             <p class="text"> Societal platform is a approach to resolve large , complex , systamic challenges with speed at scale and sustainably.It catalyses the ecosystem of samaaj (Society),Sarkar (Goverment) and Bazzar (market) to co-create and innovative through open public Infrastructure and Technology </p>
                           <br> <button  class="ui explore green1 button flex-as-center mr-20"
                                        tabindex="0" routerLink="/explore">
                                       Explore Assets
                            </button>
                            </div>
                            </div>
                            </div>
            </div>
      
            <div class="item">
                    <div class="thumbnail text-center">
                            <img src="../../.../../../../../assets/images/banner_bg.jpg" alt="" class ="img-fluid" >
                            <div class="caption">
                                <div class="container">
                            <p class="fa">Welcome to</p>
                             <p class="fax">Framework</p>
                             <p class="text"> Societal platform is a approach to resolve large , complex , systamic challenges with speed at scale and sustainably.It catalyses the ecosystem of samaaj (Society),Sarkar (Goverment) and Bazzar (market) to co-create and innovative through open public Infrastructure and Technology </p>
                           <br> <button  class="ui explore green1 button flex-as-center mr-20"
                                        tabindex="0" routerLink="/explore">
                                      Framework
                            </button>
                            </div>
                            </div>
                            </div>
            </div>
          
            <div class="item">
                <div class="thumbnail text-center">
                        <img src="../../.../../../../../assets/images/banner_bg.jpg" alt="" class ="img-fluid" >
                        <div class="caption">
                            <div class="container">
                        <p class="fa">Welcome to</p>
                         <p class="fax">Core Value</p>
                         <p class="text"> Societal platform is a approach to resolve large , complex , systamic challenges with speed at scale and sustainably.It catalyses the ecosystem of samaaj (Society),Sarkar (Goverment) and Bazzar (market) to co-create and innovative through open public Infrastructure and Technology </p>
                       <br> <button  class="ui explore green1 button flex-as-center mr-20"
                                    tabindex="0" routerLink="/explore">
                                   Core Value
                        </button>
                        </div>
                        </div>
                        </div>
          </div>
          <div class="item">
                <div class="thumbnail text-center">
                        <img src="../../.../../../../../assets/images/banner_bg.jpg" alt="" class ="img-fluid" >
                        <div class="caption">
                            <div class="container">
                        <p class="fa">Welcome to</p>
                         <p class="fax">Explore Thinking</p>
                         <p class="text"> Societal platform is a approach to resolve large , complex , systamic challenges with speed at scale and sustainably.It catalyses the ecosystem of samaaj (Society),Sarkar (Goverment) and Bazzar (market) to co-create and innovative through open public Infrastructure and Technology </p>
                       <br> <button  class="ui explore green1 button flex-as-center mr-20"
                                    tabindex="0" routerLink="/explore">
                                  Explore Thinking
                        </button>
                        </div>
                        </div>
                        </div>
          </div>
      
          <!-- Left and right controls -->
          <a class="" href="#myCarousel" data-slide="prev">
            <span class=""></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="" href="#myCarousel" data-slide="next">
            <span class=""></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>