<!-- <div class="landing-page-section mb-20">
    <div class="ui container">
        <div class="ui stackable grid py-20">
            <div class="six wide column">
                <img class="ui fluid image" src="{{'assets/images/landingPage.jpg' |  cdnprefixurl}} " />
            </div>
            <div class="six wide column">
                <p>In 2000, ten years later, the international community met again at the World Education Forum in Dakar, Senegal,
                    an event which drew 1100 participants.</p>
                <p>The forum took stock of the fact that many countries were far from having reached the goals established at the
                    World Conference on Education for All in 1990.</p>
                <br/>
                <p>The participants agreed on the Dakar Framework for Action which re-affirmed their commitment to achieving Education
                    for All by the year 2015, and identified six key measurable education goals which aim to meet the learning
                    needs of all children, youth and adults by 2015.</p>
                <br/>
                <a href="#">Read More > </a>
            </div>
        </div>
    </div>
</div>

<div class="ui container">
<div class="ui stackable grid">
    <div class="eight wide column ">
        <div class="ui segment">
            <div class="header p-10 segment-heading">
                <span>Featured Articles</span>
                <a href="#" class="right-floated">View All</a>
            </div>
            <br>
            <div class="ui two stackable cards">
                <div class="ui card">
                    <div class="content card-opacity">
                        <div class="description">
                            <p>Enrollment info for life skill training Enrollment info for life skill training Enrollment info
                                for life skill training Enrollment info for life skill training Enrollment info for life
                                skill training Enrollment info for life skill training</p>
                        </div>
                    </div>
                    <h4 class="article-header-padding">Enrollment info for life skill training</h4>
                </div>
                <div class="ui card">
                    <div class="content card-opacity">
                        <div class="description">
                            <p>Polytechnics information june 2017 Polytechnics information june 2017 Polytechnics information
                                june 2017 Polytechnics information june 2017 Polytechnics information june 2017 Polytechnics
                                information june 2017</p>
                        </div>
                    </div>
                    <h4 class="article-header-padding">Polytechnics information june 2017</h4>
                </div>
                <div class="ui card">
                    <div class="content card-opacity">
                        <div class="description">
                            <p>Academic inspection formats Academic inspection formats Academic inspection formats Academic
                                inspection formats Academic inspection formats Academic inspection formats</p>
                        </div>
                    </div>
                    <h4 class="article-header-padding">Academic inspection formats</h4>
                </div>
                <div class="ui card">
                    <div class="content card-opacity">
                        <div class="description">
                            <p>ABC initiatives in practice ABC initiatives in practice ABC initiatives in practice ABC initiatives
                                in practice ABC initiatives in practice ABC initiatives in practice</p>
                        </div>
                    </div>
                    <div class="article-header-padding">ABC initiatives in practice</div>
                </div>
            </div>
        </div>
    </div>
    <div class="four wide column">
        <div class="ui segment">
            <div class="content">
                <div class="header segment-heading">
                    <span>Announcements</span>
                    <a class="right-float">View All</a>
                </div>
                <div class="description mt-10">
                    <div class="ui relaxed divided list">
                        <div class="item">
                            <div class="content">
                                <a class="header text-decoration-underline">Exam Date Announced </a>
                                <br>
                                <div class="description">An excellent polish restaurant, quick delivery and hearty, filling meals.</div>
                            </div>
                        </div>
                        <br/>
                        <div class="item">
                            <div class="content">
                                <br/>
                                <a class="header text-decoration-underline">Exam Date Announced </a>
                                <br>
                                <div class="description">An excellent polish restaurant, quick delivery and hearty, filling meals.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="ui segment">
            <div class="content">
                <div class="header segment-heading">
                    <span>Calendar</span>
                    <a class="right-float">View All</a>
                </div>
            </div>
        </div>
        <button type="button" onclick="openModal()" class="ui basic fluid button mt-5">ORGANIZATIONS</button>
    </div>
</div>
</div> -->

<div class="jumbotron jumbotron-fluid">
  <div class="container">

      <div class="bannerInnerContent">
          <h1 class="wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.2s"> India’s largest <span> FREE </span> Online Learning Platform
           <a id="imgJoinNow" href="javascript:void(0);"> <span class="joinBtn">Join Now</span></a>
          </h1>
          <div class="TVFeatureLst">
          <ul>
          <li><span class="comnIcons 24Access"></span> 24X 7 Access </li>
           <li><span class="comnIcons Live-Ondemand"></span> Live &amp; On-Demand </li>
            <li><span class="comnIcons Certified"></span> Get Certified </li>
             <li><span class="comnIcons DiscusnF"></span> Discussion Forum </li>
          </ul>
          </div>
           </div>
           <div class="row">
              <div class="container">
                  <div class="searchbarWarpper visible-lg visible-md visible-sm">
                      <form (ngSubmit)="blockAngleChar(event1.value)">
                          <div class="input-group col-lg-12 col-md-12 col-sm-12">
                              <input id="txtSearchCatelogPage" type="text" class="form-control ui-autocomplete-input"  #event1 placeholder="Search for..." >
                              <span class="input-group-btn">
                                  <button id="btnSearchCatalog" class="btn btn-default custmBtnStyle" type="submit" ><i class="fa fa-search"></i></button>
                              </span>
                          </div>
                        </form>
                  </div>
              </div>
          </div>
  </div>
</div>
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Compete to get Scholarship</h2>
        <hr class="my-4" />
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row text-center">
      <div class="col-md-6">
        <div class="service-box text-center">
          <i class="fas fa-4x fa-file-alt text-warning mb-3 sr-icon-1"></i>
          <!-- <i class="fas fa-4x fa-file-alt text-warning"></i> -->
          <a href="#" class="exam-link"
            ><h3>Prepare for competitive Exams</h3>
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="service-box text-center">
          <i
            class="fas fa-4x fa-graduation-cap text-warning mb-3 sr-icon-1"
          ></i>
          <a href="#" class="scholarship-link"><h3>Find a Scholarship</h3></a>
        </div>
      </div>
    </div>
  </div>
</section>
<br />
<section>
  <div class="container my-5">
    <div class="row">
      <div class="col-md-4 pb-3" *ngFor="let category of images">
        <div class="card course-image">
          <img [src]="category.background" class="card-img-top" alt="..." />

          <div class="text">{{ category.name }}</div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Our Offerings</h2>
        <hr class="my-4" />
      </div>
    </div>
  </div>
  <div class="container my-5 mx-5">
    <div class="row popular-courses">
        <div class="col-2 spacer "></div>
        <div class="col-md-4 col-sm-4 spacer col-md-offset-2">
            <div id="GoToPopularCourses" class="introGlobBoxElement AnyTimeintroBox">
                <div class="bckImgLayer">
                    <div class="scheduledBoxOverlay">
                        <span class="introleftbar"></span>
                        <label>Anytime</label>
                        <span class="coursetxt">Courses</span> <span class="scheduled_icon"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 spacer">
            <div id="GoToUpcomingCourses" class="introGlobBoxElement UpcomingintroBox">
                 <div class="bckImgLayer">
                     <div class="scheduledBoxOverlay">
                         <span class="introleftbar"></span>
                         <label>Test</label>
                         <span class="coursetxt"> Preparation</span> <span class="scheduled_icon"></span>
                     </div>
                 </div>
             </div>

         </div>
    </div>
  </div>
</section>
<section>
    <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Popular Anytime On-demand Courses</h2>
            <hr class="my-4" />
          </div>
        </div>
      </div>
     <div class="container">
        <div class="twelve wide column" *ngFor="let section of carouselData;let last = last" [ngClass]="{'last mb-30':last}">
              <app-display-popular-course (visits)="prepareVisits($event)" [section]="section" (playEvent)="playContent($event)" (viewAll)="viewAll($event)"></app-display-popular-course>
            </div>
     </div>
</section>
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">At Your Service</h2>
        <hr class="my-4" />
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fas fa-4x fa-paper-plane text-warning mb-3 sr-icon-2"></i>
          <h3 class="mb-3">Hands On Exercises</h3>
          <p class="text-muted mb-0">
            Your training is packed with assignments, assessment tests, quizzes
            and exercises
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i
            class="fas fa-4x fa-chalkboard-teacher mb-3 sr-icon-3 text-warning"
          ></i>
          <h3 class="mb-3">Expert Instructors</h3>
          <p class="text-muted mb-0">Take help from our Instructors</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fas fa-4x fa-question text-warning mb-3 sr-icon-4"></i>
          <h3 class="mb-3">Queries</h3>
          <p class="text-muted mb-0">Post your Queries</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fas fa-4x fa-ribbon text-warning mb-3 sr-icon-1"></i>
          <h3 class="mb-3">Global Certificate</h3>
          <p class="text-muted mb-0">
            Our templates are updated regularly so they don't break.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <div class="container">
  <div class="row">
    <div
      class="twelve wide column"
      *ngFor="let section of carouselData; let last = last"
      [ngClass]="{ 'last mb-30': last }"
    >
      <app-page-section
        (visits)="prepareVisits($event)"
        [section]="section"
        (playEvent)="playContent($event)"
        (viewAll)="viewAll($event)"
      ></app-page-section>
    </div>
  </div>
</div> -->
<router-outlet></router-outlet>
