@import '../../../../../../node_modules/bootstrap//dist/css/bootstrap.min.css';

.jumbotron {
  background: url('http://niittvimgcdn.azureedge.net/Images/siteBnr.jpg') no-repeat;
  background-size: cover;
  height: 90vh;
  position: relative;
  opacity: 1;
  box-shadow: 0px 10px 20px 9px black;
  top: 1em;
}

.jumbotron .text-bg {
  position:absolute;
  left: 18em;
}
.text-bg {
  width: 75vw;
  color:white;
  text-shadow: black;
  background: rgb(12, 12, 12);
  padding: 3em 2em 5em 2em !important;
  left: 10em !important;
  opacity: 0.6;
}
h1 {
  color:white;
  text-shadow: black;
}

.highlight {
  color: black;
}

a {
  font-size: 25px;
}

.popular-courses {
  margin-left: 8em !important;
}
.course-image {
  width: auto;
  height: 180px;
  opacity: 0.8;
  background-color: orange;
}

.card-img-top {
  max-width: 100%;
  max-height: 100%;
  opacity: 0.8;;
}
 .text {
  position: absolute;
  top: 50%;
  left: 50%;
  color:white;
  text-shadow:black;
  transform: translate(-50%, -50%);
  font-size: 25px;
 }
 hr {
   max-width: 117px;
   border-width: 3px;
   border-color: #F05F40;
 }

 hr.light {
   border-color: #fff;
 }

 #services {
   padding: 3rem 0;
 }

 #services h6, h2{
     font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;

 }

 .form-control {
   width: 80vw;
   margin-top: 15rem !important;
 }

 .exam-link, .scholarship-link {
   color: black;
 }
 .exam-link:hover, .scholarship-link:hover {
   color: black;
   text-decoration: none;
 }
 .TVFeatureLst {
  margin: 10px 0;
  padding: 0;
}
.TVFeatureLst ul li {
  list-style: none;
  display: inline-block;
  margin: 5px 25px;
  text-align: center;
  font: 400 14px OpenSans;
  color: #fff;
}
.TVFeatureLst ul li span.comnIcons {
  background: url(http://niittvimgcdn.azureedge.net/Images/BnrIconSprite.png) no-repeat;
  display: block;
  width: 45px;
  height: 45px;
  margin: 0 auto;
}
.bannerInnerContent {
  background: url(http://niittvimgcdn.azureedge.net/Images/innerBnrBg.png);
  margin: 23% auto 0;
  color: #fff;
  text-align: center;
  padding: 12px 10px;
  width: 80%;
}
.bannerInnerContent h1 {
  font-size: 34px;
  margin: 0;
}

.bannerInnerContent span {
  color: #ffc600;
}
a {
  color: #337ab7;
  text-decoration: none;
  background-color: transparent;
}
.bannerInnerContent span.joinBtn {
  background-color: #f16c08;
  border-radius: 10px;
  padding: 2px 10px;
  font: 400 18px OpenSans;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
.TVFeatureLst ul li span.Live-Ondemand {
  background-position: -57px 0;
}
.bannerInnerContent span {
  color: #ffc600;
}
.TVFeatureLst ul li span.Certified {
  background-position: -103px 0;
}
.TVFeatureLst ul li span.DiscusnF {
  background-position: -154px 0;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.searchbarWarpper {
  padding: 8px;
}

.searchbarWarpper {
  border-radius: 5px;
  position: absolute;
  bottom: 5px;
  z-index: 99;
  width: 50%;
  margin-left: -25%;
  left: 50%;
}
.GAdsWrapp, .PagetopStrip, .appendDiv, .boxElementWrapp, .btn-blue, .discussion-forum, .headingbar h1, .msg-style, .multiple_emails-container input, .niit-customContainer, .searchbarWarpper {
  box-sizing: border-box;
}
.input-group[class*=col-] {
  float: none;
  padding-right: 0;
  padding-left: 0;
}

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}
@media (min-width: 1200px){
.col-lg-12 {
  width: 100%;
}}
.input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
}


.input-group-addon, .input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}

.input-group .form-control, .input-group-addon, .input-group-btn {
  display: table-cell;
}
.input-group-btn:last-child>.btn{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.input-group-btn:last-child>.btn {
  z-index: 2;
  margin-left: -1px;
}
.searchbarWarpper span button i {
  font-size: 18px;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.searchbarWarpper span button i {
  font-size: 18px;
}
.btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after,.modal-footer:after, .modal-header:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after {
  clear: both;
}
.input-group-btn:last-child>.btn
  {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.input-group-btn>.btn {
  position: relative;
}
.searchbarWarpper span button {
  min-height: 40px;
  border-radius: 0;
}
.custmBtnStyle {
  background-color: #1F8CDF;
  border-color: #1D7FCA;
  color: #fff;
  margin-top: 15rem;
}
.fa-search:before {
  content: "\f002";
} :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.input-group .form-control:first-child{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group .form-control {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.input-group .form-control, .input-group-addon, .input-group-btn {
  display: table-cell;
}
.input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
}
.searchbarWarpper input, .searchbarWarpper span button {
  min-height: 40px;
  border-radius: 0;
}
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.searchbarWarpper[_ngcontent-c12] {
  box-sizing: border-box;
}
.spacer {
  margin-bottom: 10px;
  padding: 0 5px;
}
.introGlobBoxElement:last-child {
  margin: 0;
}
.introGlobBoxElement {
  width: 100%;
  height: 181px;
  display: inline-block;
  margin-right: 15px;
}
.AnyTimeintroBox .bckImgLayer {
  background: url(http://niittvimgcdn.azureedge.net/Images/anytime_graphic.jpg) no-repeat;
  background-size: cover;
}
.bckImgLayer {
  height: 181px;
  position: relative;
}
.AnyTimeintroBox .scheduledBoxOverlay {
  background: url(http://niittvimgcdn.azureedge.net/Images/anytime_overlay.png);
}
.scheduledBoxOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.AnyTimeintroBox .introleftbar {
  display: block;
  position: absolute;
  left: 0;
  width: 6px;
  height: 100%;
  background-color: #e18f2f;
}
.introleftbar {
  display: block;
  position: absolute;
  left: 0;
  width: 6px;
  height: 100%;
  background-color: #4ca220;
}
.introGlobBoxElement label, .introGlobBoxElement:last-child {
  margin: 0;
}
.introGlobBoxElement label {
  font: 400 28px OpenSans;
  color: #fff;
  text-align: center;
  display: block;
  padding-top: 24px;
  cursor: pointer;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}
.introGlobBoxElement span.coursetxt {
  font: 400 20px OpenSans;
  color: #fff;
  display: block;
  text-align: center;
  width: 100%;
}
.AnyTimeintroBox .scheduled_icon {
  background: url(http://niittvimgcdn.azureedge.net/Images/course-catalog-img.png) -646px 0 no-repeat;
}
.introGlobBoxElement .scheduled_icon {
  background: url(http://niittvimgcdn.azureedge.net/Images/course-catalog-img.png) -302px 0 no-repeat;
  display: block;
  width: 62px;
  height: 48px;
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -31px;
}
.spacer {
  margin-bottom: 10px;
  padding: 0 5px;
}
.UpcomingintroBox .bckImgLayer {
  background: url(http://niittvimgcdn.azureedge.net/Images/testpreparation.jpg) no-repeat;
  background-size: cover;
}
.bckImgLayer {
  height: 181px;
}
.bckImgLayer {
  background: url(http://niittvimgcdn.azureedge.net/Images/scheduled_graphic.jpg) no-repeat;
  background-size: cover;
  position: relative;
}
.UpcomingintroBox .scheduledBoxOverlay {
  background: url(http://niittvimgcdn.azureedge.net/Images/upcoming_overlay.png);
}
.scheduledBoxOverlay {
  background: url(http://niittvimgcdn.azureedge.net/Images/scheduled_overlay.png);
  position: absolute;
  /* top: 0; */
  bottom: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.UpcomingintroBox .introleftbar {
  display: block;
  position: absolute;
  left: 0;
  width: 6px;
  height: 100%;
  background-color: #118f9c;
}
.UpcomingintroBox .scheduled_icon {
  background: url(http://niittvimgcdn.azureedge.net/Images/testPrepration_logo.png) 15px 0 no-repeat;
  width: 58px;
}
.introGlobBoxElement .scheduled_icon {
  background: url(http://niittvimgcdn.azureedge.net/Images/course-catalog-img.png) -302px 0 no-repeat;
  display: block;
  width: 62px;
  height: 48px;
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -31px;
}
