@import "variables";
::ng-deep .fancytree-plain span.fancytree-node span.fancytree-title {
    margin-left: 5px;
    vertical-align: middle;
    color: inherit;
}
::ng-deep span.fancytree-active span.fancytree-title {
    background-color: inherit;
    color:  inherit;
    font-weight: bolder;
    width: 100%;

}

::ng-deep span.fancytree-icon {
  vertical-align: middle;
}
::ng-deep span.fancytree-expander {
  vertical-align: middle;
}
::ng-deep span.fancytree-title{
  margin: 0;
  // width: 100%;
}
::ng-deep span.fancytree-title span.date{
  float: right;
    padding-right: 2rem;

} 
.ul.fancytree-container {
  background-color: inherit;
}
::ng-deep ul.fancytree-connectors.fancytree-container li {
  width: 100% !important;
}
::ng-deep span.fancytree-node.fancytree-folder span.fancytree-title {
width: 100% !important;
}