<div #fancyTree></div>
<div *ngIf="openModal">
  <sui-modal [isClosable]="true" [size]="'small'" (dismissed)="openModal=false" id="Mymodal">
    <!-- <div class="header">
      <div class="ui grid">
        <div class="eleven wide column">
          <span class="ui fs-1-5">Live Session Details of {{contentTitle}}</span>
          <div class="p-30 tweleve wide column">
            <p class="ml-15 mt-15">
              <a class="ann-link-or-attachment" >
                {{contentDetails.livesessionurl | slice:0:70}}
                <span class="blue-text-color-sunbird" *ngIf="link && link.length > 70">...</span>
              </a>
            </p>
          </div>
        </div>
        <div class="four wide column">

          {{contentDetails.startTime}}
          </div>
          <div class="four wide column">

          {{contentDetails.endTime}}
</div>
<div class="four wide column">
    <button class="btn button" id="button" (click)="gotoLiveSession(openModal)">Join Session</button>
</div>

      </div>
    </div> -->

    <div class="fs-1-429 mt-20 text-ac">Live Session Details</div>
    <div class="fs-1-143 mb-10 font-color mt-20">
      <span class=" mt-14 ml-15">Session Tittle</span>
      <span class="ml-20 mr-10">:</span>
      <span class="">{{contentTitle}}</span>
    </div>
    <div class="fs-1-143 mt-14 mb-10 font-color">
      <span class="ml-15">Start Date</span>
      <span class="mr-10" style="margin-left:3.2rem;">:</span>
      <span class=""> {{contentDetails.startDate}}</span>
    </div>
    <div class="fs-1-143 mt-14 mb-10 font-color">
      <span class="ml-15">Start Time</span>
      <span class="mr-10" style="margin-left:3rem;">:</span>
      <span class=""> {{contentDetails.startTime}}</span>
    </div>
    <div class="fs-1-143 mt-14 mb-10 font-color">
      <span class="ml-15">End Time</span>
      <span class=" mr-10" style="margin-left:3.6rem;">:</span>
      <span class="">{{contentDetails.endTime}}</span>
    </div>
    <!-- <div class="fs-1-143 mt-14 mb-10 font-color">
      <table>
        <tbody>
          <tr>
            <td class="pl-15">
              <span class="">Session Url</span>
            </td>
            <td>
              <span class="mr-10" style="margin-left:4rem;">:</span>
            </td>
            <td>
              <span class="">{{contentDetails.livesessionurl}}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div> -->
    <hr>
    <div class="fs-1-143 mt-14 mb-10 ">
      <span class="ml-15">
        <i class="fas fa-exclamation-triangle" style="color: crimson;"></i>
        Note
      </span>
      <span class="ml-10">:</span>
      <span class="font-color">
        Please enable flash on yor browser, Adobe needs flash permission.
      </span>
    </div>
    <div class="text-ac">
      <button class="btn button text-ac mb-15  mt-10" id="button" (click)="gotoLiveSession(openModal)">Join
        Session</button>
    </div>

  </sui-modal>
</div>