.enrollBtn {
    background-color : #451771 !important;
    color : white !important;
}

.unenrollBtn {
    background-color : #451771 !important;
    color : white !important;
}
.profile-image {
    width: 2em;
}