
.no-content {
    color: darkgray !important;
    font-weight: 400 !important;
}

.green {
    color: #07bc81;
}
.fa-trash-alt {
    color : #ea372a;
}

.green:hover, .fa-trash-alt:hover {
    cursor: pointer;
}

span.ui.tiny.header.right-floated.note-actions {
    margin-bottom : 10px !important;
    z-index : 9999;
}

.note-action-wrapper {
    height : 21.6px;
    width : 46px;
    pointer-events: none;
}