<div class="notes-card-section ui card width-100"  *ngIf="notesList.length > 0">
    <div class="content">
        <!-- <div class="header">
            <span>{{resourceService?.frmelmnts?.lbl?.mynotebook}}</span>
            <a class="ui right floated font-dark-blue" (click)="viewAllNotes()">{{resourceService?.frmelmnts?.lnk?.viewall}}</a>
        </div> -->
        <div class="description">
            <div class="ui list" *ngFor="let note of notesList | orderBy:'updatedDate':true; let i=index">
                <div class="item" (click)="viewNote(note)">
                    <div class="content">
                        <span class="ui tiny header">
                            <span class="notes-card-heading mouse-pointer" (click)="setSelectedNote(note,i); showUpdateEditor = !showUpdateEditor">
                                {{ note.title | slice:0:80 }}
                                <i *ngIf="note.title.length > 15" class="ellipsis horizontal icon popup-button"></i>
                            </span>
                            <span class="note-card-time-stamp right floated">{{note.updatedDate | timeAgo}}</span>
                        </span>
                        <div class="description mt-0 notedec">
                            <span Markdown content="noteData">{{ note.note | slice:0:100 }}</span>
                        </div>
                        <app-note-card-actions [note]="note" [i]="i" (oneditEvent)="editTrigger($event)" (ondeleteEvent)="triggerDelete($event)"></app-note-card-actions>
                        </div>
                    </div>
                    <div *ngIf="i !== notesList.length-1" class="ui clearing divider" style="margin-top: 5px;"></div>
                </div>
            </div>
        </div>
    </div>
<app-delete-note *ngIf="showDeletemodal === true" [deleteNote]="selectedNote"  (exitModal)="showDeletemodal = false" (deleteEventEmitter)="deleteEventEmitter($event)">
    </app-delete-note>
<div *ngIf="notesList.length <= 0">
    
            <div class="header text-align-center no-content">
                    {{resourceService?.frmelmnts.lbl.NotesNotCreated}}
            </div>
</div>
<div *ngIf="showCreateEditor">
    <app-popup-editor [mode]="'create'" (exitModal)="showCreateEditor=false" (createEventEmitter)="createEventEmitter($event)"></app-popup-editor>
</div>
<div *ngIf="showUpdateEditor">
    <app-popup-editor [mode]="'update'" [selectedNote]="selectedNote" (exitModal)="showUpdateEditor=false" (updateEventEmitter)="updateEventEmitter($event)"></app-popup-editor>
</div>
<ng-template let-context let-modal="modal" #modalTemplate>
        <div class="header">{{context.title || 'title not available'}}</div>
        <div class="scrolling content">
            <p>{{context.data || 'description not available'}}</p>
        </div>
        <div class="actions">
            <button class="ui pink button" (click)="modal.deny()" autofocus>{{resourceService?.frmelmnts.lbl.CloseNote}}</button>
            <!-- <button class="ui green button" (click)="modal.approve('approved')" autofocus>OK</button> -->
        </div>
    </ng-template>