@import "~bootstrap/dist/css/bootstrap.min.css";
.col-xs-8 {
  width: 66.66667%;
}
.col-xs-4 {
  width: 33.33333%;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.main {
  max-width: 1200px;
  padding: 30px 15px;
}
.inner__content h1 {
  margin: 20px 0 10px 0;
  font-size: 45px;
  font-weight: lighter;
}
h1 {
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
.col-xs-6 {
  width: 50%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.inner__content img {
    max-width: 870px;
    margin: 0 auto;
    width: 100%;
}
img {
    max-width: 100%;
    transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    vertical-align: middle;
    border: 0;
}
.inner__content p {
  margin-bottom: 15px;
}
p {
  margin: 0 0 10px;
}