/* @import "~bootstrap/dist/css/bootstrap.min.css";
.col-xs-8 {
  width: 66.66667%;
}
.col-xs-4 {
  width: 33.33333%;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.main {
  max-width: 1200px;
  padding: 30px 15px;
}
.inner__content h1 {
  margin: 20px 0 10px 0;
  font-size: 45px;
  font-weight: lighter;
}
h1 {
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
.col-xs-6 {
  width: 50%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.inner__content img {
    max-width: 870px;
    margin: 0 auto;
    width: 100%;
}
img {
    max-width: 100%;
    transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    vertical-align: middle;
    border: 0;
}
.inner__content p {
  margin-bottom: 15px;
}
p {
  margin: 0 0 10px;
} */

@import "~bootstrap/dist/css/bootstrap.min.css";
.thumbnail {
    position: relative;
    margin-bottom: 0;
    border: 0;
    border-color: transparent;
    padding: 0 !important;
    /* background-image: url('../../../../../assets/images/spacebannernew.jpg'); */
  }

  .caption {
    position: absolute;
    top: 21%;
    left: 0;
    width: 100%;
    color: #FFFFFF;
  }
  .text-ac {
    font-family: 'CampaignMedium';
    color: white;
    /* font-weight: bold; */
  }
  .text {
    font-size: 17px;
    line-height: 2.0;
    text-align: center;
    font-family: 'MonsterattRegular_2';
    font-weight: 500 !important;
  }
  a:hover {
    text-decoration: none;
  }
  .jumbotron {
    background-color: #686365;
  }
  .cimage{
    background-image: url('../../../../../assets/space/AboutSPaceBanner.png');
    background-size: cover;
    background-position: center;
  }
  @media screen and (max-width:820px ) and (min-width: 312px) {
    .text{
        width: auto;
    }
  }