<!-- <div class="aboutpage inner__content fixed-content fixed-content">
			<div class="container main">
				<div class="row">
					<div class="col-xs-4"></div>
					<div class="col-xs-8">
						<h1>About SPACE</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<img src="../../../../../assets/images/product-features.png">
					</div>
					<div class="col-xs-6">
						<p>Education is not encumbered by age, date or region. Effecting change in education and learning is a crying need to develop and enable young people to achieve their full potential.</p>
						<p>Sunbird is a searchable, discoverable repository of resources contributed by educators, engineers, pedagogues, teachers, learning scientists, data scientists and many others. Search the repository using keywords, look through the cards or browse the resource and collaborator lists to discover resources that help save time, money and effort.</p>
						<p>The repository connects the expertise of people, organizations, domains, missions, and processes. The digital resources available in Sunbird are common building blocks that can be repurposed to suit specific use cases.</p>
						<p>Sunbird is not only about using the resources offered. It is also about contributing back in whatever capacity to expand and extend it. It is about collectively building and nurturing an ecosystem that builds capacity for those focussed on finding learning solutions.</p>
						<p>Join us and be a part of a community of social innovators steeped in the domain of learning.</p>
					</div>
				</div>
			</div>
		</div>
		<script>
		$(document).ready(function(){
			$(".readMore").click(function(){
				$(".more-text").slideDown('slow','swing');
				$(".readMore").addClass("hide");
			});
			$(".readLess").click(function(){
				$(".more-text").slideUp('slow','swing');
				$(".readMore").removeClass("hide");
			});
		});
		</script> -->


<section [appTelemetryImpression]="telemetryImpression">
	<div class="jumbotron jumbotron-fluid cimage" style="height:16rem">
		<div class="container">
			<div class="row mb-4">
				<div class="col-md-12">
					<div class="">
						<div class="text-center d-flex justify-content-center py-5 px-4 my-5">
							<!-- <h1 class="text-ac h1 mt-xl-n5">About SPace</h1> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<!-- <i class="fa-bookmark fas fs-1-429 pr-15" style="color: cadetblue;"></i> -->
		<p class="text pb-15">Our societal challenges are large, complex and dynamic. They tend to grow much faster than
			our individual ability to solve them. The scale and diversity of our problems call for
			sharing, reusing and leveragin our existing assets and resources. If we all share and learn, we can all
			rapidly create many more contextual solutions.</p>
		<p class="text pb-15">SPace (Societal Platform Assets Collaboration Environment) is your platform to share your
			assets and resources. SPace is your platform to leverage assets and resources shared by other Societal
			Platform Missions. SPace connects people and organisations who share technology, protocols, processes,
			methods and data as a public good.</p>
		<p class="text pb-15">SPace is an outcome of your collective efforts, and that of all your fellow practitioners
			of the Societal Platform approach.
			<a class="text-purple" href="https://societalplatform.org/" target="_blank">Learn more about Societal Platform Thinking.</a></p>
		<p class="text pb-15">You are welcome to leverage, co-create and contribute. If you are excited about sharing
			your creations on SPace, please reach us at <a class="text-purple" href="mailto:space@societalplatform.org" target="_blank">space@societalplatform.org</a>. We would be delighted to
			orchestrate!</p>
	</div>
</section>