
  <section>
      <div class="jumbotron jumbotron-fluid cimage" style="height:16rem">
          <div class="container">
              <div class="row mb-4">
                  <div class="col-md-12">
                      <div class="" >
                          <div class="text-center d-flex justify-content-center py-5 px-4 my-5">
                              <h1 class="text-ac h1 mt-xl-n5">About Us</h1>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
       
           <p class="text pt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit sint, tempora alias rem tenetur minima incidunt natus consequuntur aliquam ea velit ad unde illum perspiciatis nostrum tempore molestiae recusandae magnam?</p>
           <p class="text pb-15">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit sint, tempora alias rem tenetur minima incidunt natus consequuntur aliquam ea velit ad unde illum perspiciatis nostrum tempore molestiae recusandae magnam?</p>
    </section>