<section class="course-player jumbotron">
  <div class="row">
    <div class="col-md-8 pt-3 pl-5">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe
          class="embed-responsive-item"
          src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0"
          allowfullscreen
        ></iframe>
      </div>
    </div>

  </div>
</section>
<section class="session-list container">
  <div class="row">
    <div class="col-md-9 session-details">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a
            class="nav-link active"
            id="home-tab"
            data-toggle="tab"
            href="#home"
            role="tab"
            aria-controls="home"
            aria-selected="true"
            >About the Course</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            id="profile-tab"
            data-toggle="tab"
            href="#profile"
            role="tab"
            aria-controls="profile"
            aria-selected="false"
            >Session Plan</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            id="contact-tab"
            data-toggle="tab"
            href="#contact"
            role="tab"
            aria-controls="contact"
            aria-selected="false"
            >Comments</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" role="tab" aria-selected="false"
            >Resources</a
          >
        </li>
        <li class="nav-item polling-width">
          <a class="nav-link " id="contact-tab" role="tab" aria-selected="false"
            >Polling</a
          >
        </li>
      </ul>
      <div class="tab-content pt-5" id="myTabContent">
        <div
          class="tab-pane fade show active"
          id="home"
          role="tabpanel"
          aria-labelledby="home-tab"
        >
          <pre>
        Course Description

        Course Objective

        The Big Android BBQ (BABBQ) is a
        developer event like no other; an Android combo meal that delivers
        super-sized portions of education and entertainment
        Armed conflict and attacks

       </pre
          >
        </div>
        <div
          class="tab-pane fade"
          id="profile"
          role="tabpanel"
          aria-labelledby="profile-tab"
        >
          <pre>
        text(x,y,txt) adds a text description to one or more data points in the current axes using the text specified by txt. To add text to one point, specify x and y as scalars in data units. To add text to multiple points, specify x and y as vectors with equal length.

        text(x,y,z,txt) positions the text in 3-D coordinates.
      </pre
          >
          <pre>
        example
        text(___,Name,Value) specifies Text object properties using one or more name-value pairs. For example, 'FontSize',14 sets the font size to 14 points. You can specify text properties with any of the input argument combinations in the previous syntaxes.
        If you specify the Position and String properties as name-value pairs, then you do not need to specify the x, y, z, and txt inputs.

        text(ax,___) creates the text in the axes specified by ax instead of in the current axes (gca). The option ax can precede any of the input argument combinations in the previous syntaxes.
      </pre
          >
          <pre>
        example
        t = text(___) returns one or more text objects. Use t to modify properties of the text objects after they are created. For a list of properties and descriptions, see Text Properties. You can specify an output with any of the previous syntaxes.
      </pre
          >
        </div>
        <div
          class="tab-pane fade"
          id="contact"
          role="tabpanel"
          aria-labelledby="contact-tab"
        >
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <h5>Start Date: 15-feb-2019</h5>
              <h5>End Date: 15-feb-2019</h5>
              <button>Enroll</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 batch-details">
      <a
        class="btn btn-primary "
        data-toggle="collapse"
        href="#collapseExample"
        role="button"
        aria-expanded="false"
        aria-controls="collapseExample"
      >
        View Batches
      </a>

      <div class="collapse mt-2" id="collapseExample">
        <div class="row">
          <div class="card" style="width: 21rem;">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <h5>Start Date: 15-feb-2019</h5>
              <h5>End Date: 15-feb-2019</h5>
              <button class="btn btn-primary">Enroll</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="card" style="width: 21rem;">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <h5>Start Date: 15-feb-2019</h5>
              <h5>End Date: 15-feb-2019</h5>
              <button class="btn btn-primary">Enroll</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
