
          <div class="card content-card  mb-15"
          *ngIf="data"
          appTelemetryInteract
          [telemetryInteractObject]="{id:data.metaData.identifier,type:data.telemetryObjectType,ver:data.metaData.pkgVersion ? data.metaData.pkgVersion.toString():'1.0'}"
          [telemetryInteractEdata]="data.telemetryInteractEdata"
          tabindex="0"
          style="cursor: pointer"
          >
             

              <div class="image" (click)="onAction(data,data.action.onImage)">
                <img class="card-image" *ngIf="data.showImage? false : true" src="{{data.image || 'assets/images/book.png' | cdnprefixurl}}" alt="{{data.name}}">
              </div>
              <div class="card-body" id="left-align">
                  <!-- <div class="meta course" *ngIf="data.contentType && data.contentType.toLowerCase() === 'course'">
                      <div class="topic mb-15" *ngIf="data.topic" title="{{data.topic}}">
                        {{data.topic | slice:0:40}}
                        
                        <span *ngIf="data.topic && data.topic.length >= 30">...</span>
                      </div>
                      <div class="subtopic" *ngIf="data.subTopic" title="{{data.subTopic}}">
                        {{data.subTopic | slice:0:40}}
                        <span *ngIf="data.subTopic && data.subTopic.length >= 30">...</span>
                      </div>
                    </div>
                    <div class="meta non-course" *ngIf="!data.contentType || data.contentType.toLowerCase() !== 'course'">
                        <div class="mb-auto d-flex">
                          <div class="ui label tiny right" *ngIf="data.ribbon && data.ribbon.right && data.ribbon.right.name">{{data.ribbon.right.name}}</div>
                          <img src="{{data.ribbon.left.image}}" class="avatar ml-auto" *ngIf="data.ribbon && data.ribbon.left && data.ribbon.left.image" alt="{{data.ribbon.left.name}}">
                        </div>
                        <div class="subject ellipsis mt-3" *ngIf="data.subject" title="{{data.subject}}">{{resourceService.frmelmnts.lbl.subject}} : {{data.subject}}</div>
                        <div class="class ellipsis mt-3" *ngIf="data.gradeLevel" title="{{data.gradeLevel}}">{{resourceService.frmelmnts.lbl.class}} : {{data.gradeLevel}}</div>
                        <div class="medium ellipsis mt-3" *ngIf="data.medium" title="{{data.medium}}">{{resourceService.frmelmnts.lbl.medium}} : {{data.medium}}</div>
                      </div> -->
                      <h5 class="content-name text-capitalize" (click)="onAction(data,data.action.onImage)">
                          {{data.name | slice:0:40 }}
                        <span *ngIf="data.name && data.name.length >= 40">...</span>
                      </h5>
                        <h6 class="content-author">
                            {{data.orgDetails?.orgName}}
                        </h6>
                          
                          <div class="rating-and-views mt-3">
                              <!-- <i class="fas fa-star yellow-star"></i>
                              <i class="fas fa-star yellow-star"></i>
                              <i class="fas fa-star yellow-star"></i>
                              <i class="fas fa-star yellow-star"></i>
                              <i class="fas fa-star-half-alt yellow-star"></i> -->
                              <sui-rating class="star customstar" [(ngModel)]="data.rating" [maximum]="5" [isReadonly]="true"></sui-rating>
                             <span class="vl ml-10 mr-12" *ngIf="data?.subject == 'free'"></span>
                              <span *ngIf="data?.subject == 'free'" class="price">{{resourceService.frmelmnts.lbl.FREE}}</span>
                              <!-- <span class="rating"> {{data.rating}}</span> -->
                              <!-- <span class="views text-color-gray"> (138,560)</span> -->
                          </div>
                        
        
                          <div class="lectures-and-duration mt-3">
                              <i *ngIf="data?.leafNodesCount" class="fas fa-play-circle"></i>
                              <span *ngIf="data?.leafNodesCount"class="lectures text-color-gray">&nbsp; {{data?.leafNodesCount || 0}} {{resourceService.frmelmnts.lbl.lectures}} &nbsp; | &nbsp;</span>
                              <span class="duration text-color-gray"><i class="far fa-clock"></i> {{data?.dummyWeeks}} {{resourceService.frmelmnts.lbl.weeks}}</span>
                          </div>
                          <div class="price ">
                            <span *ngIf="data?.subject == 'Paid' || data?.subject == undefined || !data?.subject" class="price">₹ 35000/-</span>
                          
                            <span class="content-type">{{data.contentType}}</span>
                          </div>
              </div>
                   <!-- <div *ngIf="data.maxCount && data.progress > 0">
                      <sui-progress class="ui progress" [value]="data.progress" [maximum]="data.maxCount" ></sui-progress>
                    </div> -->
            </div>
