
input {
    border: 1px solid gray !important;
    background: grey !important;
    color: white !important
}

.treepicker-parent input {
    background: #707070 !important;
}

#treePicker {
    border: 1px solid #707070;
    background:#707070;
  color: white !important;
    cursor: pointer;
}
