
input {
    background: #f6f6f6 !important;
    color: #d6c8c8 !important
}

.treepicker-parent input {
    background: #f6f6f6 !important;
}

#treePicker {
    border-radius: 4px;
    border:1px solid #e4e4e4;
  color:#707070 !important;
    cursor: pointer !important;
}
