@import "~bootstrap/dist/css/bootstrap.min.css";
.sb-modal .ui.modal.small {
  max-width: 1000px !important;
}
.partnerTitle {
    text-align: center;
    font-size: 3rem;
    color: #0c7f5d;
}
p {
  margin: 0 0 10px;
}
.partnerBody {
  font-size: 17px;
  line-height: 2.0;
  text-align: center;
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.imageRow {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
/* .imageRow .box {
  width: 20%;
  padding: 0.5em 1em 0em 1em;
} */
.box {
    width: 20%;
    padding: 0.5em 1em 0em 1em;
}

img {
    max-width: 100%;
    transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    vertical-align: middle;
    border: 0;
}
.contributionText {
  margin-top: 0;
}
h3 {
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  font-size: 24px;
}
a {
  color: #1cadce;
  text-decoration: none;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  background-color: transparent;
}
.fa-2x {
  font-size: 2em;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: #1cadce;
  text-decoration: none;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
}
.listContainer {
  text-align: left;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  overflow: auto;
  max-height: 500px;
}
.listContainer ul {
  /* margin: auto; */
  font-size: 19px;
  line-height: 1.5;
}
.listContainer ul li {
  font-size: 17px;
}
ul {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.partnerWrapper {
  padding: 0;
  padding-top: 3%;
}

.thumbnail {
  position: relative;
  margin-bottom: 0;
  border: 0;
  border-color: transparent;
  padding: 0 !important;
  /* background-image: url('../../../../../assets/images/spacebannernew.jpg'); */
}

.caption {
  position: absolute;
  top: 21%;
  left: 0;
  width: 100%;
  color: #FFFFFF;
}
.text {
  width: 54rem;
  margin: auto;
  display: block;
  font-size: 17px;
  font-family: 'Muli', sans-serif;
}
.cimage{
  background-image: url('../../../../../assets/images/slide-04.png');
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width:820px ) and (min-width: 312px) {
  .text{
      width: auto;
  }
}
.socion {
  font-family: 'socion-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* -webkit-font-smoothing: antialiased; */
    color: #bf534e;
    content: "\e901";
    /* -webkit-font-smoothing: antialiased; */
    -moz-osx-font-smoothing: grayscale;
    /* color: #fff; */
    font-size: 30px;
}
a:hover {
text-decoration: none;
}