.content {
    padding: .5em 0 1em;
    margin-top: 1rem !important;
}
.btnprimary {
    background-color: #1185bf!important;
    border-color: #1185bf!important;
}
.btnoutline {
    border-color: #107eb6;
    background-color: #fff;
    color: #1185bf;
}
.primary {
    color: #1185bf;
}

.sb-prominent-filter-container.abc {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.sb-prominent-filter-field.abcd{
    margin: 0 0 16px 0;
    padding: 0 16px 0 0;
    width: 20%;
}