.btn-background
{
    text-align: center;
    padding: 14px;
    background-color: white;
    border-radius : 4px;
    margin-top: 6px;
    margin-right: 7px;
    border : none;
    font-family: serif;
    outline: none;
    box-shadow: 2px 3px 6px -4px rgba(0,0,0,0.75);
  
}
.btn:active{
      background-color: rgb(181, 181, 240);
  }