// @import '../../../../../../node_modules//bootstrap//dist//css/bootstrap.min.css';
.ui.dropdown:not(.button) .default.text {
    color: #cdcccc;
    font-size: 13px;
}

.ui.dropdown .text {
    color: #cdcccc !important;
    font-size: 13px;
}
.ui.selection.dropdown {
    border: 1px solid #e4e4e4 !important;
    background: #f6f6f6;
    border-radius: 7px;
    height: 42px;
    cursor: pointer;
    padding: 12px 17px !important;
}
::ng-deep #licencetype .ui.dropdown .menu {
    padding:0 !important
}
.ui.search.dropdown {
    border: 1px solid #e4e4e4 !important;
    background: #f6f6f6;
    border-radius: 7px;
    height: 42px;
    cursor: pointer;
}
.field {
    label {
        font-family: 'CampaignMedium';
        font-size: 1.25em;
        font-weight: 500 !important;
       // font-weight: 400;
    }
}
hr {
    border-top: 1px solid rgba(0,0,0,.1);
}

sui-select {
    background: #707070;
    color: #c3c2c2;
}

#style {
    border: 1px solid #e4e4e4;
    color: #707070;
    border-radius: 7px;
}

.ui.form .field.selection.dropdown {
    width: 50%  ;
}
.ui.form .field>.selection.dropdown {
    width: 60%;
}
#keywords {
    border: 1px solid #707070;
    background: #707070;
}


    label 
        { float: left; width: 10em; margin-right: 1em;
        display: contents !important}
        .text span {
            color: #c3c2c2;
        }

        #board > div.text > span:nth-child(2) {
            color: white;
        }

        @media only screen and (min-width: 992px) {
                 .modals.dimmer .ui.tree-picker.content-creation-concept-picker.scrolling.modal {
                   top: 60px !important;
                   position: relative !important;
                   margin: 0 0 0 -373px !important;
                   height: fit-content !important;
                 }
                }

                .modals.dimmer .ui.tree-picker.content-creation-concept-picker.scrolling.modal {
                   height: auto !important;
                  }


                  @media screen and (min-width:320px) and (max-width:980px) {
 
                    .ui.column.grid>[class*="four wide"].column, .ui.grid>.column.row>[class*="four wide"].column, .ui.grid>.row>[class*="four wide"].column, .ui.grid>[class*="four wide"].column {        width: 91vw !important;;
                    }
                   }
#region {
    border: 1px solid #e4e4e4;
    background: #f6f6f6;
    border-radius: 7px;
    height: 42px;
    cursor: pointer;
}

.ui.multiple.dropdown > .text {
    position: static;
    padding: 0 !important;
    max-width: 100%;
    margin: .45238095em 0 .45238095em .64285714em;
    line-height: 0.21428571em;
}
.licensedropdowns{
    width: 100%;
}
.type1,.type2{
    padding-left: 40px;
}

td{
    font-size: 12px;

}